<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Newsroom')"></head>
<body class="bg-1 text-1 pt-5">
<div th:replace="Components :: nav"></div>

<main class="container main-content-1">
    <h1 class="text-center fw-bold border-bottom mb-3 pb-2">Costi Newsroom</h1>
    <div class="row">
        <div class="col-md-8">
            <div id="newsroom-slideshow" class="carousel slide mb-4" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="3"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="4"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="5"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="6"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="7"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="8"></button>
                    <button type="button" data-bs-target="#newsroom-slideshow" data-bs-slide-to="9"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active" th:object="${slide1}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide2}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide3}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide4}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide5}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide6}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide7}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide8}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide9}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide10}">
                        <img th:src="@{*{getPhotosImagePath()}}" th:alt="*{getSubtitle()}" class="newsroom-slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold">Slide</h3></a>
                            <p th:text="*{getTimeSinceEdited()}" class="pb-0"></p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#newsroom-slideshow" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#newsroom-slideshow" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Recent Posts</h2>
            <th:block th:each="post : ${recentPosts}">
                <a class="mb-3"><p th:text="|${post.getTitle()}|" class="fs-4 mb-0 text-1"></p></a>
                <p th:text="|${post.getCategory()} - ${post.getTimeSinceEdited()}|" class="mb-2 text-1"></p>
            </th:block>
        </div>
    </div>
    <div class="mt-3">
        <h3 th:if="${isAnnouncement}">📢Announcements</h3>
        <div th:each="message : ${announcements}">
            <div th:replace="Components :: message" class="mt-2"></div>
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text-center fw-bold border-bottom pb-2">All Posts</h2>

        <th:block th:each="post : ${allPosts}">
            <div class="row mt-3">
                <div class="col-sm-4 grid-margin">
                    <div class="position-relative">
                        <div class="rotate-img">
                            <img th:src="@{*{post.getPhotosImagePath()}}" th:alt="|${post.getTitle()}|" class="img-fluid newsroom-slide">
                        </div>
                        <div class="badge-positioned">
                            <span class="badge bg-secondary font-weight-bold" th:text="|${post.getCategory()}|">news</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2 class="mb-2 fw-bold" th:text="|${post.getSubtitle()}|"></h2>
                    <div class="fs-13 mb-2">
                        <p class="mr-2" th:text="|${post.getDateEdited()} - ${post.getTimeSinceEdited()}|"></p>
                    </div>
                    <p class="mb-0" th:text="|${post.getSubtitle()}|"></p>
                </div>
            </div>
        </th:block>

    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>