<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Newsroom')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: main-navigation"></div>

<main class="container mt-3" id="top">
    <h1 class="text-center fw-bold border-bottom mb-3 pb-2">Costi Newsroom</h1>
    <div class="container-fluid" id="javascript-warning">
        <h2 class="text-center fw-bold">JavaScript is required to view Newsroom posts</h2>
    </div>
    <div class="row">
        <div class="col-md-8" id="slide-container"></div>
        <div class="col-md-4 d-none d-md-block" id="recent-posts">
            <h2 class="mb-4">Recent Posts</h2>
            <!-- Content added here -->
        </div>
    </div>
    <div class="mt-3">
        <h3 th:if="${isAnnouncement}">📢Announcements</h3>
        <div th:each="message : ${announcements}">
            <div th:replace="Components :: message" class="mt-2"></div>
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text-center fw-bold border-bottom pb-2">All Posts</h2>

        <div class="fw-bold d-inline-block">
            <h4 class="fw-bold d-inline-block lh-lg">Post Type:
                <span class="badge rounded-pill bg-info" id="disable-ACHIEVEMENT">Achievement</span>
                <span class="badge rounded-pill bg-dark enable-toggle" id="enable-ACHIEVEMENT">Achievement</span>
                <span class="badge rounded-pill bg-info" id="disable-NEWS">News</span>
                <span class="badge rounded-pill bg-dark enable-toggle" id="enable-NEWS">News</span>
                <span class="badge rounded-pill bg-info" id="disable-JOURNAL">Journal</span>
                <span class="badge rounded-pill bg-dark enable-toggle" id="enable-JOURNAL">Journal</span>
                <span class="badge rounded-pill bg-info" id="disable-EMERGENCY">Emergency</span>
                <span class="badge rounded-pill bg-dark enable-toggle" id="enable-EMERGENCY">Emergency</span>
                <span class="badge rounded-pill bg-info" id="disable-ARTICLE">Article</span>
                <span class="badge rounded-pill bg-dark enable-toggle" id="enable-ARTICLE">Article</span>
                <span class="badge rounded-pill bg-info" id="disable-DISCOVERY">Discovery</span>
                <span class="badge rounded-pill bg-dark enable-toggle" id="enable-DISCOVERY">Discovery</span>
                <span class="badge rounded-pill bg-info" id="disable-UPDATE">Update</span>
                <span class="badge rounded-pill bg-dark enable-toggle" id="enable-UPDATE">Update</span>
                <span class="badge rounded-pill bg-info" id="disable-EVENT">Event</span>
                <span class="badge rounded-pill bg-dark enable-toggle" id="enable-EVENT">Event</span>
            </h4>
        </div>

        <div id="main-content"></div>
        <br />
        <a href="#top" class="mt-4"><button type="button" class="btn btn-primary">Top</button></a>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: scripts"></div>
<script>
    // Elements
    const mainContent = document.querySelector("#main-content");
    const recentContent = document.querySelector("#recent-posts");
    const slideContent = document.querySelector("#slide-container")
    const bodyContent = document.querySelector("#top");
    let newsroomContent;

    // Fetch requests
    fetch("/api/v1/Newsroom/post/all")
        .then(checkStatus)
        .then(response => response.json())
        .then(data => {
            // Process the retrieved data
            newsroomContent = data;

            if(newsroomContent.length == 0){
                newsroomContent[0] = {
                    "id":-1,
                    "title":"No Posts Found",
                    "lastEdited":"2023-01-01T19:03:46",
                    "subtitle":"",
                    "enabled":true,
                    "category":"NEWS",
                    "body":"No body content",
                    "imagePath":"images/default-posts/no-image.jpg",
                    "views":0,
                    "dateEdited":"1/1/2023",
                    "timeSinceEdited":"?",
                    "timeSinceEditedShort":"?",
                    "pinned":false,
                    "featured":false,
                    "favorite":false}
            }

            renderSlides(10);
            renderNews();
            renderRecent(6);
        })
        .catch(error => {
            // error handling
            bodyContent.innerHTML = "<h3 class=\"text-center fw-bold\">There was an error receiving data from Costi Online Services</h3><p class=\"text-center\">Please check the console for further information</p>";
            console.error('Error retrieving data:', error);
        })
        .finally(() => $("#loading").hide());

    //Trigger loading

    window.addEventListener('scroll', function() {
        // Check if the user has reached the bottom of the page, accounting for the footer height
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight - getFooterHeight()) {
            // Call the displayProjects() function
            renderNews();
        }
    });

    // Rendering function
    const elementsPerIteration = 10;
    let currentIndex = 0;
    let currentMonthNumber = {"month" : -1, "year": -1};
    function renderNews(){
        const months = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        let insertHTML = ``;
        for(let i = currentIndex; i < newsroomContent.length && i < currentIndex + elementsPerIteration; i++){
            const post = newsroomContent[i];
            let monthHeading = "";

            if(parseDate(newsroomContent[i].dateEdited).month !== currentMonthNumber.month){
                currentMonthNumber = parseDate(newsroomContent[i].dateEdited);
                monthHeading = `<h4 id="${months[currentMonthNumber.month - 1]}${currentMonthNumber.year}">${months[currentMonthNumber.month - 1]} ${currentMonthNumber.year}</h4>`
            }

            insertHTML += `
                ${monthHeading}
            <a href="/Newsroom/${post.id}/view">
                <div class="row mt-3 post-${post.category}">
                    <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                            <div class="">
                                <img src="${post.imagePath !== null ? post.imagePath : '/images/default-posts/no-image.jpg'}" alt="${post.title}" class="img-fluid newsroom-slide" loading="lazy">
                            </div>
                            <div class="badge-positioned">
                                <span class="badge ${post.category === 'ACHIEVEMENT' ? 'bg-primary' : post.category === 'NEWS' ? 'bg-secondary' : post.category === 'JOURNAL' ? 'bg-info' : post.category === 'EMERGENCY' ? 'bg-danger' : post.category === 'ARTICLE' ? 'bg-warning' : post.category === 'DISCOVERY' ? 'bg-success' : post.category === 'UPDATE' ? 'bg-dark' : post.category === 'EVENT' ? 'bg-success' : 'bg-dark'}">${post.category}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 mb-4">
                        <h2 class="mb-1 fw-bold text-1">${post.title}</h2>
                        <h5 class="mb-2 fw-bold text-secondary">${post.subtitle}</h5>
                        <div class="fs-13 mb-2 text-1">
                            <p class="mr-2">${post.views} Views ∙ ${post.timeSinceEdited}</p>
                            <p class="text-truncate d-none d-md-block">${post.body.replace(/<[^>]+>/g, '')}</p>
                        </div>
                    </div>
                </div>
            </a>
            `;
        }
        currentIndex += elementsPerIteration;
        mainContent.innerHTML += insertHTML;
    }

    function renderRecent(quantity){
        let insertHTML = ``;
        for(let i = 0; i < quantity && i < newsroomContent.length; i++){
            let post = newsroomContent[i];
            insertHTML += `
                <a href="/Newsroom/${post.id}/view" class="mb-3">
                    <h4 class="mb-0 text-1">${post.title}</h4>
                    <p class="text-1">${post.category} ∙ ${post.timeSinceEdited}</p>
                </a>
            `;
        }
        recentContent.innerHTML += insertHTML;
    }

    function renderSlides(quantity){
        let innerHTML = "";
        if(!newsroomContent){
            innerHTML = `<img src="/images/default-posts/no-image.jpg" alt="no image" class="newsroom-slide" />`;
        }else{
            let indicatorDotHTML = generateIndicatorDots(quantity);
            let slidesInnerHTML = generateSlidesHTML(quantity);

            innerHTML = `
                <div id="newsroom-slideshow" class="carousel slide mb-4" data-bs-ride="carousel">
                    <!-- Indicators/dots -->
                    ${indicatorDotHTML}

                    <!-- The slideshow/carousel -->
                    ${slidesInnerHTML}

                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#newsroom-slideshow" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#newsroom-slideshow" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>

            `;
        }
        slideContent.innerHTML = innerHTML;
        $('#newsroom-slideshow').carousel();
    }

    function generateIndicatorDots(quantity){
        let indicatorDotHTML = `
            <ol class="carousel-indicators">
                <li data-bs-target="#newsroom-slideshow" data-bs-slide-to="0" class="active"></li>
        `;

        for(let i = 1; i < quantity && i < newsroomContent.length; i++){
            indicatorDotHTML += `<li data-bs-target="#newsroom-slideshow" data-bs-slide-to="${i}"></li>`;
        }

        indicatorDotHTML += `</ol>`;
        return indicatorDotHTML;
    }
    function generateSlidesHTML(quantity){
        let innerHTML = `
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="${newsroomContent[0].imagePath}" alt="${newsroomContent[0].title}" class="newsroom-slide">
                    <div class="carousel-caption newsroom-slide-caption">
                        <a class="text-1" href="/Newsroom/${newsroomContent[0].id}/view"><h3 class="fw-bold">${newsroomContent[0].title}</h3></a>
                        <p class="pb-0">${newsroomContent[0].timeSinceEdited}</p>
                    </div>
                </div>
            `;

        for(let i = 1; i < quantity && i < newsroomContent.length; i++){
            innerHTML += `
                <div class="carousel-item">
                    <img src="${newsroomContent[i].imagePath}" alt="${newsroomContent[i].title}" class="newsroom-slide">
                    <div class="carousel-caption newsroom-slide-caption">
                        <a class="text-1" href="/Newsroom/${newsroomContent[i].id}/view"><h3 class="fw-bold">${newsroomContent[i].title}</h3></a>
                        <p class="pb-0">${newsroomContent[i].timeSinceEdited}</p>
                    </div>
                </div>
            `;
        }
        innerHTML += `</div>`;
        return innerHTML;
    }
    function parseDate(date){
        let splitDate = date.split("/");
        return {"month" : parseInt(splitDate[0]), "year" : parseInt(splitDate[2])};
    }

    $(document).ready(function(){
        $("#javascript-warning").hide();
        $(".enable-toggle").css("display", "none");

        $("#enable-ACHIEVEMENT").click(function(){
            $("#enable-ACHIEVEMENT").css("display", "none");
            $("#disable-ACHIEVEMENT").css("display", "inline-block");

            $(".post-ACHIEVEMENT").css("display", "flex");

        });

        $("#disable-ACHIEVEMENT").click(function(){
            $("#disable-ACHIEVEMENT").css("display", "none");
            $("#enable-ACHIEVEMENT").css("display", "inline-block");

            $(".post-ACHIEVEMENT").css("display", "none");

        });

        $("#enable-NEWS").click(function(){
            $("#enable-NEWS").css("display", "none");
            $("#disable-NEWS").css("display", "inline-block");

            $(".post-NEWS").css("display", "flex");

        });

        $("#disable-NEWS").click(function(){
            $("#disable-NEWS").css("display", "none");
            $("#enable-NEWS").css("display", "inline-block");

            $(".post-NEWS").css("display", "none");

        });

        $("#enable-JOURNAL").click(function(){
            $("#enable-JOURNAL").css("display", "none");
            $("#disable-JOURNAL").css("display", "inline-block");

            $(".post-JOURNAL").css("display", "flex");

        });

        $("#disable-JOURNAL").click(function(){
            $("#disable-JOURNAL").css("display", "none");
            $("#enable-JOURNAL").css("display", "inline-block");

            $(".post-JOURNAL").css("display", "none");

        });

        $("#enable-EMERGENCY").click(function(){
            $("#enable-EMERGENCY").css("display", "none");
            $("#disable-EMERGENCY").css("display", "inline-block");

            $(".post-EMERGENCY").css("display", "flex");

        });

        $("#disable-EMERGENCY").click(function(){
            $("#disable-EMERGENCY").css("display", "none");
            $("#enable-EMERGENCY").css("display", "inline-block");

            $(".post-EMERGENCY").css("display", "none");

        });

        $("#enable-ARTICLE").click(function(){
            $("#enable-ARTICLE").css("display", "none");
            $("#disable-ARTICLE").css("display", "inline-block");

            $(".post-ARTICLE").css("display", "flex");

        });

        $("#disable-ARTICLE").click(function(){
            $("#disable-ARTICLE").css("display", "none");
            $("#enable-ARTICLE").css("display", "inline-block");

            $(".post-ARTICLE").css("display", "none");

        });

        $("#enable-DISCOVERY").click(function(){
            $("#enable-DISCOVERY").css("display", "none");
            $("#disable-DISCOVERY").css("display", "inline-block");

            $(".post-DISCOVERY").css("display", "flex");

        });

        $("#disable-DISCOVERY").click(function(){
            $("#disable-DISCOVERY").css("display", "none");
            $("#enable-DISCOVERY").css("display", "inline-block");

            $(".post-DISCOVERY").css("display", "none");

        });

        $("#enable-UPDATE").click(function(){
            $("#enable-UPDATE").css("display", "none");
            $("#disable-UPDATE").css("display", "inline-block");

            $(".post-UPDATE").css("display", "flex");

        });

        $("#disable-UPDATE").click(function(){
            $("#disable-UPDATE").css("display", "none");
            $("#enable-UPDATE").css("display", "inline-block");

            $(".post-UPDATE").css("display", "none");

        });

        $("#enable-EVENT").click(function(){
            $("#enable-EVENT").css("display", "none");
            $("#disable-EVENT").css("display", "inline-block");

            $(".post-EVENT").css("display", "flex");

        });

        $("#disable-EVENT").click(function(){
            $("#disable-EVENT").css("display", "none");
            $("#enable-EVENT").css("display", "inline-block");

            $(".post-EVENT").css("display", "none");

        });
    });
</script>
</body>
</html>