<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('View Post')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: main-navigation"></div>

<main class="container-fluid mt-3">
    <div class="row" th:if="${isViewable}">
        <div class="d-none d-md-block col-md-3 px-5">
            <h3 class="text-secondary fw-bold" th:text="${post.getCategory() == 'ACHIEVEMENT'} ? 'Other achievements' : (${post.getCategory() == 'NEWS'} ? 'Other news' : (${post.getCategory() == 'JOURNAL'} ? 'Other journals' : (${post.getCategory() == 'EMERGENCY'} ? 'Other emergencies' : (${post.getCategory() == 'ARTICLE'} ? 'Other articles' : (${post.getCategory() == 'DISCOVERY'} ? 'Other discoveries' : (${post.getCategory() == 'UPDATE'} ? 'Other updates' : (${post.getCategory() == 'EVENT'} ? 'Other events' : 'Unknown category')))))))">Category</h3>
            <th:block th:each="related : ${relatedPosts}">
                <a th:href="|/Newsroom/*{related.getId()}/view|">
                    <img th:src="@{*{related.getImagePath()}}" style="aspect-ratio: 16 / 9; object-fit:cover;width: 100%;"/>
                    <div class="mb-5">
                        <h4 class="fw-bold text-1 text-decoration-none" th:text="*{related.getTitle()}"></h4>
                        <p class="text-secondary mb-5" th:text="|${related.getTimeSinceEdited()}|"></p>
                    </div>
                </a>
            </th:block>
            <div th:if="${relatedPosts.isEmpty()}">
                <p>No posts :(</p>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-6" th:object="${post}">
            <div class="row">
                <div class="col col-md-8 d-none d-md-block">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/" class="text-secondary">Costi Online</a></li>
                            <li class="breadcrumb-item"><a href="/Newsroom" class="text-secondary">Newsroom Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="*{getTitle()}"></li>
                        </ol>
                    </nav>
                </div>
                <a href="/Newsroom" class="text-secondary d-block d-md-none">< Back to Newsroom</a>
                <div class="col col-md-4 d-none d-md-block">
                    <p th:text="'Last Edited: ' + *{getDateEdited()}" class="text-end text-secondary"></p>
                </div>
            </div>
            <img th:src="@{*{getImagePath()}}" class="newsroom-slide"/>

            <h1 class="fw-bold mb-0" th:text="*{getTitle()}"></h1>
            <h4 class="text-muted fw-bold" th:text="*{getSubtitle()}"></h4>

            <div th:unless="*{enabled}" class="alert alert-secondary text-center" role="alert">
                <h4>This post is not visible to the public</h4>
            </div>

            <div id="contentBody">
                <p class="fs-5" th:utext="*{getBody()}"></p>
            </div>

            <a class="btn btn-primary btn-sm d-inline" th:href="@{|/COMT/Newsroom/*{getId()}/edit|}" th:if="${isOwner}">Edit</a>
            <a class="btn btn-secondary btn-sm d-inline" href="/COMT/Newsroom" th:if="${isOwner}">COMT</a>
            <p th:text="|views: ${post.getViews()}|"></p>
        </div>
        <div class="d-none d-lg-block col-lg-3 px-lg-5">
            <h3 class="text-secondary fw-bold">Recent content</h3>
            <th:block th:each="recent : ${recentPosts}">
                <a th:href="|/Newsroom/*{recent.getId()}/view|">
                    <img th:src="@{*{recent.getImagePath()}}" style="aspect-ratio: 16 / 9; object-fit:cover;width: 100%;"/>
                    <h4 class="fw-bold text-1 text-decoration-none" th:text="*{recent.getTitle()}"></h4>
                    <p class="text-secondary mb-5" th:text="|${recent.getTimeSinceEdited()}|"></p>
                </a>
            </th:block>
            <div th:if="${recentPosts.isEmpty()}">
                <p>No posts :(</p>
            </div>
        </div>
    </div>
    <div th:unless="${isViewable}">
        <div class="p-3 p-lg-5 mb-4 border-box">
            <div class="container py-5">
                <h1 class="display-5 fw-bold">⚠️You do not have access to this post</h1>
                <p class="col-lg-10 fs-4">This post is currently under review by the website owner. Please check back on this page at a future point</p>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>