<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('View Post')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: main-navigation"></div>

<main class="container-fluid mt-3">
    <input id="id-selector" type="hidden" th:value="${id}"/>
    <div class="row">
        <div class="d-none d-md-block col-md-3 px-5" id="left-panel">
            <h3 class="text-1 fw-bold">Category</h3>
                <h3>No Posts :(</h3>
        </div>
        <div class="col-12 col-md-8 col-lg-6" id="body-content">
            <div class="row">
                <div class="col col-md-8 d-none d-md-block">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/" class="text-1">Costi Online</a></li>
                            <li class="breadcrumb-item"><a href="/Newsroom" class="text-1">Newsroom Home</a></li>
                            <li class="breadcrumb-item text-1" aria-current="page" id="breadcrumb-title"></li>
                        </ol>
                    </nav>
                </div>
                <a href="/Newsroom" class="text-1 d-block d-md-none">< Back to Newsroom</a>
                <div class="col col-md-4 d-none d-md-block">
                    <p id="header-last-edited" class="text-end text-1"></p>
                </div>
            </div>
            <img id="body-image" class="newsroom-slide"/>

            <h1 class="fw-bold mb-0" id="body-title"></h1>
            <h4 class="text-muted fw-bold" id="body-subtitle"></h4>

            <div id="status"></div>

            <div>
                <p class="fs-5" id="body-body"></p>
            </div>

            <a class="btn btn-primary btn-sm d-inline" th:href="@{|/COMT/Newsroom/${id}/edit|}" th:if="${isOwner}">Edit</a>
            <a class="btn btn-secondary btn-sm d-inline" href="/COMT/Newsroom" th:if="${isOwner}">COMT</a>
            <p id="body-views"></p>
            <a href="/Newsroom" class="text-secondary d-block d-md-none">< Back to Newsroom</a>

        </div>
        <div class="d-none d-lg-block col-lg-3 px-lg-5" id="right-panel">
            <h3 class="text-1 fw-bold">Recent content</h3>
                <h3>No Posts :(</h3>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: scripts"></div>
<script>
    const bodyContent = document.getElementById("body-content");
    let url = `/api/newsroom/view?id=${document.getElementById("id-selector").value}`;
    let post;
    let allNews;

    const postFetch = fetch(url);
    const allFetch = fetch("/api/newsroom/all");

    Promise.all([postFetch, allFetch])
        .then(responses => {
            const response1 = checkStatus(responses[0]);
            const response2 = checkStatus(responses[1]);

            // Convert response data to JSON
            return Promise.all([response1, response2]);
        })
        .then(data => {
            post = data[0].json();
            allNews = data[1].json();

            renderNews();
            renderRecommendations();
        })
        .catch(error => {
            bodyContent.innerHTML = `<h3 class="text-center fw-bold">There was an error receiving data from Costi Online Services</h3><p class="text-center">${error}</p>`;
            console.error('Error retrieving data:', error);
        });



    function renderNews(){
        document.getElementById("breadcrumb-title").textContent = post.title;
        document.getElementById("body-title").textContent = post.title;
        document.getElementById("body-subtitle").textContent = post.subtitle;
        document.getElementById("header-last-edited").textContent = `Last Edited: ${post.dateEdited}`;
        document.getElementById("body-views").textContent = `Views: ${post.views}`;
        document.getElementById("body-image").src = post.imagePath;
        document.getElementById("body-body").innerHTML = post.body;
        document.getElementById("status").innerHTML = !post.public ? "<div class=\"alert alert-secondary text-center\" role=\"alert\"><h4>This post is unlisted</h4></div>": "";
    }
    function renderRecommendations(){
        //Render left panel
        let leftTitle = "Other Posts"
        if(post.category == "NEWS"){
            leftTitle.innerText = "Other News";
        }else if(post.category == "ACHIEVEMENT"){
            leftTitle.innerText = "Other Achievements";
        }else if(post.category == "JOURNAL"){
            leftTitle.innerText = "Other Journals";
        }else if(post.category == "EMERGENCY"){
            leftTitle.innerText = "Other Emergencies";
        }else if(post.category == "ARTICLE"){
            leftTitle.innerText = "Other Articles";
        }else if(post.category == "DISCOVERY"){
            leftTitle.innerText = "Other Discoveries";
        }else if(post.category == "UPDATE"){
            leftTitle.innerText = "Other Updates";
        }else if(post.category == "EVENT" || post.category == "INVITATION"){
            leftTitle.innerText = "Other Events";
        }

        let leftPanel = `<h3 class="text-1 fw-bold">${leftTitle}</h3>`;
        let rightPanel = `<h3 class="text-1 fw-bold">Recent Posts</h3>`;
        for(let otherPost of allNews){
            if(post.category === otherPost.category){
                leftPanel += `
                    <a href="/Newsroom/${otherPost.id}/view">
                       <img src="${otherPost.imagePath}" style="aspect-ratio: 16 / 9; object-fit:cover;width: 100%;"/>
                        <div class="mb-5">
                            <h4 class="fw-bold text-1 text-decoration-none">${post.title}</h4>
                            <p class="text-secondary mb-5">${post.timeSinceEdited}</p>
                        </div>
                    </a>
                `;
            }else{
                rightPanel += `
                    <a href="/Newsroom/${otherPost.id}/view">
                       <img src="${otherPost.imagePath}" style="aspect-ratio: 16 / 9; object-fit:cover;width: 100%;"/>
                        <div class="mb-5">
                            <h4 class="fw-bold text-1 text-decoration-none">${post.title}</h4>
                            <p class="text-secondary mb-5">${post.timeSinceEdited}</p>
                        </div>
                    </a>
                `;
            }
        }

        document.querySelector("#left-panel").innerHTML = leftPanel;
        document.querySelector("#right-panel").innerHTML = rightPanel;
    }
</script>
</body>
</html>