<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Home')"></head>
<body class="bg-black text-light mt-5">
<div th:replace="Components :: nav"></div>

<div class="container-fluid row px-4 py-5" id="about">
    <div class="container-fluid">
        <h1 class="pb-2 border-bottom mb-4 fw-bold text-center">Create a Wiki Page</h1>
    </div>
    <div class="col-lg-3 col-md-5 col-xs-12">
        <div class="p-3 mb-4 bg-dark rounded-3 border border-white">
            <div class="container-fluid">
                <h3 class="fw-bold">⚠️Important Information</h3>
                <p class="fs-4">Please make sure you read the information below</p>
            </div>
        </div>
        <div class="container-fluid mb-5">
            <p class="fs-4">Please note your posts need to be manually approved and may be deleted at any point</p>
        </div>
    </div>
    <div class="col-lg-9 col-md-7 col-xs-12">
        <div class="p-5 mb-4 bg-dark rounded-3 border border-white">
            <form th:action="@{${action}}" method="post" th:object="${page}">
                <h2>General Information</h2>
                <hr/>
                <div class="form-row row">
                    <div class="col-12 mb-3">
                        <label for="tit">Title</label>
                        <input type="text" class="form-control" id="tit" th:field="*{title}"
                               placeholder="Title here" required>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-md-4 mb-3">
                        <label for="subt">Subtitle</label>
                        <input type="text" class="form-control" id="subt" th:field="*{subtitle}"
                               placeholder="subtitle" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cat">Website Role</label>
                        <select id="cat" th:field="*{category}"  class="form-control">
                            <option value="" disabled="disabled">Select a category</option>
                            <option th:each="cat : ${categories}" th:value="${cat.name}" th:text="${cat.name}">Error</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-12 mb-3">
                        <label for="bod">Content Body</label>
                        <textarea type="text" class="form-control" id="bod" th:field="*{body}"
                                  placeholder="body content" required></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>