<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Make New Wiki')"></head>
<body class="bg-2 text-1">
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: main-navigation"></div>

<main class="container mt-5">
    <div class="container-fluid">
        <h1 class="pb-2 border-bottom mb-4 fw-bold text-center" th:text="${title}">Create a Wiki Page</h1>
    </div>
    <div th:if="${isAllowed}" class="row">
        <div class="d-none d-md-block col-md-1 col-lg-2 col-xl-3"></div>
        <div class="pt-2 col-xs-12 col-md-10 col-lg-8 col-xl-6">
            <div class="p-5 mb-4 border-box">
                <form th:action="@{${action}}" method="post" th:object="${page}">
                    <div class="form-row row">
                        <div class="col-12 mb-3">
                            <label for="tit">Title</label>
                            <input type="text" class="form-control" id="tit" th:field="*{title}"
                                   placeholder="Title here" required>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-8 mb-3">
                            <label for="subt">Subtitle</label>
                            <input type="text" class="form-control" id="subt" th:field="*{subtitle}"
                                   placeholder="subtitle" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cat">Wiki Category</label>
                            <select id="cat" th:field="*{category}"  class="form-control">
                                <option value="" disabled="disabled">Select a category</option>
                                <option th:each="cat : ${categories}" th:value="${cat.name}" th:text="${cat.name}">Error</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-12 mb-3">
                            <label for="bod">Content Body</label>
                            <textarea type="text" class="form-control" id="bod" th:field="*{body}" placeholder="body content" required></textarea>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="disclaimerCheck1" required>
                        <label class="form-check-label" for="disclaimerCheck1">
                            I understand that my submission may not be posted
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="disclaimerCheck2" required>
                        <label class="form-check-label" for="disclaimerCheck2">
                            There is no personally identifying content in my submission
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="d-none d-md-block col-md-1 col-lg-2 col-xl-3"></div>
    </div>
    <div th:unless="${isAllowed}" class="">
        <div class="p-3 p-lg-5 mb-4 border-box wikiRestrictedBannerBg">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">⚠️You do not have access to this wiki page</h1>
                <p class="col-md-8 fs-4">Please make sure you are using the same account you used to create the wiki page with or moderator account. Otherwise, kindly fuck off.</p>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>