<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Wiki')"></head>
<body class="bg-dark text-light pt-5">
<div th:replace="wiki/WikiComponents :: nav"></div>

<main class="container mt-5 pt-5">
    <p class="fs-5"><a href="/Wiki">Return to wiki home ></a></p>

    <div class="row">
        <div class="col-lg-3 col-md-5 col-xs-12" th:switch="${wiki.category}">
            <div th:case="INSIDE_JOKE"   class="fs-3 mb-2 mt-0" th:text="|&#128518; Inside Jokes|">title</div>
            <div th:case="HISTORICAL"    class="fs-3 mb-2 mt-0" th:text="|&#127984; Historical|">title</div>
            <div th:case="PEOPLE"        class="fs-3 mb-2 mt-0" th:text="|&#128697; People|">title</div>
            <div th:case="PROFESSIONAL"  class="fs-3 mb-2 mt-0" th:text="|&#128084; Professional|">title</div>
            <div th:case="*"             class="fs-3 mb-2 mt-0" th:text="|&#10067; Other|">title</div>
            <div class="list-group mb-3">
                <a th:each="page : ${categoryPages}" th:href="'/Wiki/' + *{page.Id} + '/view'" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-truncate" th:text="*{page.title}">title</h5>
                    </div>
                    <p class="mb-1 text-truncate" th:text="*{page.subtitle}">Some placeholder content in a paragraph.</p>
                    <small class="text-truncate" th:text="'By ' + *{page.author.firstName} + ' ' + *{page.author.lastName}">And some small print.</small>
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-7 col-xs-12 px-lg-5" th:object="${wiki}">
            <h1 th:text="*{title}"></h1>
            <h5 class="text-muted" th:text="*{subtitle}"></h5>
            <p th:text="'By ' + *{author.firstName} + ' ' + *{author.lastName}"></p>
            <p class="fs-4" th:utext="*{body}"></p>

            <div class="row">
                <div class="col">
                    <p th:text="'Last Edited: ' + *{lastEdited}"></p>
                </div>
                <div class="col" th:switch="${wiki.category}">
                    <span th:case="INSIDE_JOKE"   class="badge badge-pill bg-primary">Inside Joke</span>
                    <span th:case="HISTORICAL"    class="badge badge-pill bg-info">Historical</span>
                    <span th:case="PEOPLE"        class="badge badge-pill bg-success">People</span>
                    <span th:case="PROFESSIONAL"  class="badge badge-pill bg-secondary">Professional</span>
                    <span th:case="*"             class="badge badge-pill bg-dark">Other</span>
                </div>
                <div class="col">
                    <p th:text="'By ' + *{author.firstName} + ' ' + *{author.lastName}"></p>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>