<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{Components :: head('Make New Wiki')}"></head>
<body class="bg-1 text-1">
<div th:replace="~{Components :: main-navigation}"></div>

<main class="container mt-5" id="error-container">
    <div class="container-fluid">
        <h1 class="pb-2 border-bottom mb-4 fw-bold text-center" th:text="${title}">Create a Wiki Page</h1>
    </div>

    <div th:replace="~{Components :: flash}" class="mb-2"></div>

    <div class="row">
        <div class="pt-2 col-xs-12 col-md-6">
            <div class="p-4 mb-4 border-box">
                <form action="/api/wiki/save" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-row row">
                        <div class="col-12 mb-3">
                            <label for="tit">Title</label>
                            <input type="text" class="form-control" id="tit" name="title"
                                   placeholder="Title here" required>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-8 mb-3">
                            <label for="subt">Subtitle</label>
                            <input type="text" class="form-control" id="subt" name="subtitle"
                                   placeholder="subtitle" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cat">Wiki Category</label>
                            <select id="cat" name="category"  class="form-control">
                                <option value="" disabled="disabled">Select a category</option>
                                <option th:each="cat : ${categories}" th:value="${cat.name}" th:text="${cat.name}">Error</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-12 mb-3">
                            <label for="bod">Content Body</label>
                            <textarea type="text" rows="10" class="form-control" id="bod" name="body" placeholder="body content" required></textarea>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="disclaimerCheck1" required>
                        <label class="form-check-label" for="disclaimerCheck1">
                            I understand that my submission may not be posted
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="disclaimerCheck2" required>
                        <label class="form-check-label" for="disclaimerCheck2">
                            There is no personally identifying content in my submission
                        </label>
                    </div>
                    <input type="hidden" th:value="${id}" name="id" id="id"/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="d-none d-md-block col-md-6">
            <h1 class="fw-bold" id="preview-title">Edit field to see preview</h1>
            <p class="text-muted fw-bold fs-5" id="preview-subtitle">Edit field to see preview</p>
            <p>By You</p>
            <div class="wiki-body" id="preview-body">Edit field to see preview</div>
        </div>
    </div>
</main>

<div th:replace="~{Components :: JS}"></div>
<div th:replace="~{Components :: footer}"></div>
<script>
    // Data
    let page;

    //Preview Elements
    let previewTitle = document.querySelector("#preview-title");
    let previewSubtitle = document.querySelector("#preview-subtitle");
    let previewBody = document.querySelector("#preview-body");

    //Form Elements
    let formTitle = document.querySelector("#tit");
    let formSubtitle = document.querySelector("#subt");
    let formBody = document.querySelector("#bod");
    let formCategory = document.querySelector("#cat");
    let formId = document.querySelector("#id");

    // Fetch
    if(formId.value != ""){
        fetch("/api/wiki/view?id=" + id.value)
            .then(checkStatus)
            .then(response => response.json())
            .then(data => {
                page = data;
                renderPreview()
            })
            .catch((response)=>{
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.querySelector("#error-container").innerHTML = `<img src="/icons/Error.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                    })
                    .catch(document.querySelector("#error-container").innerHTML = `<img src="/icons/Error.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">There was an error receiving data from Costi Online Services</h3><p class="text-center">Error message could not be parsed. Check console for more information</p>`);
            });
    }


    // Render
    function renderPreview(){
        // Form elements
        formTitle.value = page.title;
        formSubtitle.value = page.subtitle;
        formBody.value = page.body;
        formCategory.value = page.category;
        formId.value = page.id;

        // Preview elements
        previewTitle.innerText = page.title;
        previewSubtitle.innerText = page.subtitle;
        previewBody.innerHTML = page.body;
    }

    // Live Preview
    formTitle.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        const inputValue = event.target.value;
        previewTitle.innerHTML = inputValue;
    });
    formSubtitle.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        const inputValue = event.target.value;
        previewSubtitle.innerHTML = inputValue;
    });
    formBody.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        const inputValue = event.target.value;
        previewBody.innerHTML = inputValue;
    });
</script>
</body>
</html>