<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Wiki')"></head>
<body class="bg-1 text-1 pt-5">
<div th:replace="Components :: nav"></div>

<main class="container mt-5">
    <div class="p-5 mb-4 border-box wikiBannerBg">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Costipedia</h1>
            <p class="col-md-8 fs-4">A community wiki for Costi Online that centralizes important information related to Costi, friends, inside jokes, and more!</p>
            <a href="/Wiki/Create" th:class="'btn btn-primary '  + (*{loggedIn}? '' : 'd-none')" role="button" aria-pressed="true">Create New Page ></a>
            <a href="/Wiki/Create" th:class="'btn btn-primary '  + (*{loggedIn}? 'd-none' : '')" role="button">Sign in to add a new wiki page</a>
        </div>
    </div>
    <h2 class="fs-2 mt-5 mb-4" id="cat">View By Category</h2>
    <div class="row g-4 row-cols-1 row-cols-lg-3">
        <div class="col" th:each="category : ${categories}" th:switch="*{category.name}">
            <h4 th:case="INSIDE_JOKE"   class="fs-4" th:text="|&#128518; Inside Jokes|">title</h4>
            <h4 th:case="HISTORICAL"    class="fs-4" th:text="|&#127984; Historical|">title</h4>
            <h4 th:case="PEOPLE"        class="fs-4" th:text="|&#128697; People|">title</h4>
            <h4 th:case="PROFESSIONAL"  class="fs-4" th:text="|&#128084; Professional|">title</h4>
            <h4 th:case="*"             class="fs-4" th:text="*{category}">title</h4> <!--th:text="|&#10067; Other|" -->
            <hr />
            <ul th:each="page : ${all}">
                <li th:if="${category.name == page.category}" class="my-0"><p class="fs-6"><a th:href="'/Wiki/' + *{page.Id} + '/view'"  th:text="*{page.title}" class="py-1 text-1">title</a></p></li>
            </ul>
        </div>
    </div>
    <h2 class="fs-2 mt-5 mb-4">All Wiki Content</h2>
    <div class="row g-4 row-cols-1 row-cols-md-3 row-cols-lg-5">
        <div class="col" th:each="page : ${all}">
            <div th:switch="${page.category}"   class="card border-box">
                <div th:case="INSIDE_JOKE"      class="card-header fw-bold" th:text="|&#128518; Inside Jokes|">Card title</div>
                <div th:case="HISTORICAL"       class="card-header fw-bold" th:text="|&#127984; Historical|">Card title</div>
                <div th:case="PEOPLE"           class="card-header fw-bold" th:text="|&#128697; People|">Card title</div>
                <div th:case="PROFESSIONAL"     class="card-header fw-bold" th:text="|&#128084; Professional|">Card title</div>
                <div th:case="*"                class="card-header fw-bold" th:text="|&#10067; Other|">Card title</div>
                <div class="card-body">
                    <h5 class="card-title text-truncate" th:text="*{page.title}">Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-truncate" th:text="*{page.subtitle}">Card subtitle</h6>
                    <!--<p class="card-text text-truncate" th:text="*{page.body}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <a th:href="'/Wiki/' + *{page.Id} + '/view'" class="card-link">View ></a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>