<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Wiki')"></head>
<body class="bg-dark text-light pt-5">
<div th:replace="Components :: nav"></div>

<main class="container mt-5">
    <div class="p-5 mb-4 bg-dark rounded-3 border border-white">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Costi Online Wiki</h1>
            <p class="col-md-8 fs-4">A repository for inside jokes, history, and other very important information.</p>
        </div>
    </div>
    <h2 class="fs-2 mb-3">Inside Jokes</h2>
    <div class="row g-4 row-cols-1 row-cols-lg-3">
        <div class="col">
            <h4 class="mb-0">🎮Notable Games</h4>
            <hr />
            <ul>
                <li><a href="">Pac Man Party</a></li>
                <li><a href="">Nicktoons: Attack of the Toybots</a></li>
                <li><a href="">Mario Party 9</a></li>
                <li><a href="">Minecraft</a></li>
            </ul>
        </div>
        <div class="col">
            <h4 class="mb-0">🔥Georges Things</h4>
            <hr />
            <ul>
                <li th:each="page : ${all}"><a href="" th:text="*{page.title}"></a></li>
            </ul>
        </div>
        <div class="col">
            <h4 class="mb-0">🏁Other</h4>
            <hr />
            <ul>
            </ul>
        </div>
    </div>
    <h2 class="fs-2 mb-3">All Wiki Content</h2>
    <div class="row g-4 row-cols-1 row-cols-md-3 row-cols-lg-5">
        <div class="col" th:each="page : ${all}">
            <div th:switch="${page.category}" class="card text-white bg-dark border-white">
                <div th:case="INSIDE_JOKE"   class="card-header fw-bold" th:text="|&#128518; Inside Joke|">Card title</div>
                <div th:case="HISTORICAL"    class="card-header fw-bold" th:text="|&#128715; Historical|">Card title</div>
                <div th:case="PEOPLE"        class="card-header fw-bold" th:text="|&#128697; People|">Card title</div>
                <div th:case="PROFESSIONAL"  class="card-header fw-bold" th:text="|&#128084; Professional|">Card title</div>
                <div th:case="*"             class="card-header fw-bold" th:text="|&#10067; Other|">Card title</div>
                <div class="card-body">
                    <h5 class="card-title text-truncate" th:text="*{page.title}">Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-truncate" th:text="*{page.subtitle}">Card subtitle</h6>
                    <p class="card-text text-truncate" th:text="*{page.body}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="'/Wiki/' + *{page.Id} + '/view'" class="card-link">View Page ></a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>