<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('About')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: nav"></div>
<!-- Desktop -->
<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden d-none d-lg-block bg-black" style="height:600px">
        <div class="position-absolute p-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="padding-top:145px;">
                <img th:src="@{/icons/Constantine Logo.png}" class="img-fluid mb-2" style="width:50%;"/>
                <h3 class="fw-bold text-white">About Me & Costi Online</h3>
                <p class="col-md-10 fs-4 text-white">In this page, I will showcase various information about myself including my working experience, personal information, skillset, and more. I will also describe the development process of making this website and what libraries I have used to make it.</p>
                <div class="btn-group pb-4" role="group">
                    <a href="#contents" class="btn btn-primary" aria-current="page">Jump to content overview</a>
                </div>
            </div>
        </div>
        <video class="w-100" autoplay preload="true" loop="loop" style="margin-top:-150px;opacity:.5; " muted>
            <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
            video not supported
        </video>
    </div>
</div>

<!-- Mobile -->
<div class="container pt-5 d-xs-block d-lg-none mt-5">
    <div class="p-0 mb-4 border-box bg-black">
        <div class="container-fluid p-0 overflow-hidden" style="height:600px;">
            <div class="position-absolute p-5 text-white" style="z-index:1;">
                <img th:src="@{/icons/Constantine Logo.png}" class="img-fluid mb-2" style="width:80%;"/>
                <h3 class="fw-bold text-white">About Me & Costi Online</h3>
                <p class="col-md-8 fs-4 text-white">In this page, I will showcase various information about myself including my working experience, personal information, skillset, and more. I will also describe the development process of making this website and what libraries I have used to make it.</p>
                <div class="btn-group pb-4" role="group">
                    <a href="#contents" class="btn btn-primary" aria-current="page">Jump to content overview</a>
                </div>
            </div>
            <video style="width:310%; opacity:.5; margin-left:-400px" autoplay preload="true" loop="loop" muted>
                <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
                video not supported
            </video>
        </div>
    </div>
</div>

<main>
    <div class="container py-5" id="contents">
        <h2 class="text-center fw-bold">Page Contents</h2>
        <p class="text-center pb-2 border-bottom">Chose a part of this page to jump to, or continue scrolling to see everything</p>

        <div class="row">
            <div class="col-4 col-lg-3 mb-4">
                <a href="#about-me" class="m-0 p-0">
                    <img th:src="@{/icons/Constantine Logo v5.png}" class="img-fluid logo-list" alt="My logo">
                    <h5 class="fw-bold text-center text-1">About Me</h5>
                </a>
            </div>
            <div class="col-4 col-lg-3 mb-4">
                <a href="#career-history" class="m-0 p-0">
                    <img th:src="@{/icons/Work.png}" class="img-fluid logo-list" alt="Work">
                    <h5 class="fw-bold text-center text-1">Career</h5>
                </a>
            </div>
            <div class="col-4 col-lg-3 mb-4">
                <a href="#education" class="m-0 p-0">
                    <img th:src="@{/icons/Education.png}" class="img-fluid logo-list" alt="Education">
                    <h5 class="fw-bold text-center text-1">Education</h5>
                </a>
            </div>
            <div class="col-4 col-lg-3 mb-4">
                <a href="#" class="m-0 p-0">
                    <img th:src="@{/icons/Logo.png}" class="img-fluid logo-list" alt="">
                    <h5 class="fw-bold text-center text-1">Website</h5>
                </a>
            </div>
            <div class="col-4 col-lg-3 mb-4">
                <a href="#" class="m-0 p-0">
                    <img th:src="@{/icons/CA Device Restoration.png}" class="img-fluid logo-list" alt="Ebay Page">
                    <h5 class="fw-bold text-center text-1">Ebay Page</h5>
                </a>
            </div>
            <div class="col-4 col-lg-3 mb-4">
                <a href="#" class="m-0 p-0">
                    <img th:src="@{/icons/CSWX.png}" class="img-fluid logo-list" alt="">
                    <h5 class="fw-bold text-center text-1">Minecraft</h5>
                </a>
            </div>
            <div class="col-4 col-lg-3 mb-4">
                <a href="#" class="m-0 p-0">
                    <img th:src="@{/icons/Arts.png}" class="img-fluid logo-list" alt="Arts">
                    <h5 class="fw-bold text-center text-1">Digital Arts</h5>
                </a>
            </div>
            <div class="col-4 col-lg-3 mb-4">
                <a href="#" class="m-0 p-0">
                    <img th:src="@{/icons/FAQ.png}" class="img-fluid logo-list" alt="FAQ">
                    <h5 class="fw-bold text-center text-1">FAQ</h5>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-2" id="about-me">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-5 pt-5 px-5 pb-lg-5">
                    <img class="img-fluid pb-3" th:src="@{/images/About/Costi.jpg}" />
                    <h1 class="fw-bold text-uppercase">Constantine Khamis</h1>
                    <p class="fs-4">Student intern</p>
                </div>
                <div class="col-xs-12 col-lg-7 p-5">
                    <h3 class="fw-bold">About Me</h3>
                    <p class="fw-4 fs-4">The actual Enumeration shall be made within three Years after the first Meeting of the Congress of the United States, and within every subsequent Term of ten Years, in such Manner as they shall by Law direct. The Number of Representatives shall not exceed one for every thirty Thousand, but each State shall have at Least one Representative; and until such enumeration shall be made, the State of New Hampshire shall be entitled to chuse three, Massachusetts eight, Rhode-Island and Providence Plantations one, Connecticut five, New-York six, New Jersey four, Pennsylvania eight, Delaware one, Maryland six, Virginia ten, North Carolina five, South Carolina five, and Georgia three.

                        When vacancies happen in the Representation from any State, the Executive Authority thereof shall issue Writs of Election to fill such Vacancies.

                        The House of Representatives shall chuse their Speaker and other Officers; and shall have the sole Power of Impeachment. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5" id="career-history">
        <h2 class="fw-bold text-center border-bottom mb-4">Career History</h2>
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card border-box">
                    <img th:src="@{/images/About/SanJose.jpg}" class="card-img-top" alt="San Jose">
                    <div class="card-body px-5 blue-v-gradient">
                        <h5 class="card-title fw-bold fs-4">City of San Jose</h5>
                        <p class="text-secondary">Cyber-security Intern | Since Jan 2020</p>
                        <p class="card-text fs-5">
                            Initially starting as a video producer for San Jose's 311 advertising campaign, I am currently working with the city's internal cyber security team. I handled the rollout of MFA to thousands of employees, completed hundreds of tickets, and work regularly with VIPs such as city councilmembers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card border-box">
                    <img th:src="@{/images/About/HomeDepot.jpg}" class="card-img-top" alt="Home Depot">
                    <div class="card-body px-5 blue-v-gradient">
                        <h5 class="card-title fw-bold fs-4">The Home Depot</h5>
                        <p class="text-secondary">Order Picker | Nov 2020 - May 2021</p>
                        <p class="card-text fs-5">
                            In 2019, Ethan asked me to help him edit two of his school projects, one of them was a shorter video for his Spanish class called En El Restaraunte and the other was a parody of Romeo and Juliet, except as a modern reality T.V show.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card border-box">
                    <img th:src="@{/images/About/FiveGuys.jpg}" class="card-img-top" alt="Five Guys">
                    <div class="card-body px-5 blue-v-gradient">
                        <h5 class="card-title fw-bold fs-4">Five Guys</h5>
                        <p class="text-secondary">Senior Crew Member | Mar 2019 - Apr 2021</p>
                        <p class="card-text fs-5">
                            In 2019, Ethan asked me to help him edit two of his school projects, one of them was a shorter video for his Spanish class called En El Restaraunte and the other was a parody of Romeo and Juliet, except as a modern reality T.V show.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card border-box">
                    <img th:src="@{/images/About/TM.jpg}" class="card-img-top" alt="TM">
                    <div class="card-body px-5 blue-v-gradient">
                        <h5 class="card-title fw-bold fs-4">ThreatMetrix</h5>
                        <p class="text-secondary">Student Intern | 2015</p>
                        <p class="card-text fs-5">
                            In 2019, Ethan asked me to help him edit two of his school projects, one of them was a shorter video for his Spanish class called En El Restaraunte and the other was a parody of Romeo and Juliet, except as a modern reality T.V show.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid p-0" id="education">
        <div class="container-fluid">
            <div class="container p-5">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-xs-12">
                        <h2 class="fw-bold">Education</h2>
                        <p class="text-secondary">Graduating in Fall 2023</p>
                        <p class="fs-4">When vacancies happen in the Representation from any State, the Executive Authority thereof shall issue Writs of Election to fill such Vacancies</p>
                        <a href="https://github.com/CKhamis" class="btn btn-dark" aria-current="page">See Github page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>