<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Home')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: nav"></div>

<!-- Desktop -->
<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden d-none d-lg-block bg-black" style="height:600px">
        <div class="position-absolute p-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="padding-top:160px;">
                <img th:src="@{/icons/CO White.png}" class="img-fluid mb-2 banner-logo" style="width:0%;margin-left:50%"/>
                <h3 class="fw-bold text-white changing-text text-center">:(</h3>
                <p class="col-md-8 fs-5 text-white text-center w-100">Version 3.0</p>
            </div>
        </div>
        <video class="w-100" autoplay preload="true" loop="loop" style="margin-top:-150px;opacity:.5; " muted>
            <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
            video not supported
        </video>
    </div>
</div>

<!-- Mobile -->
<div class="container pt-5 d-xs-block d-lg-none mt-5">
    <div class="p-0 mb-4 border-box bg-black">
        <div class="container-fluid p-0 overflow-hidden" style="height:300px;">
            <div class="position-absolute p-5 text-white" style="z-index:1;">
                <img th:src="@{/icons/CO White.png}" class="img-fluid mb-2 banner-logo" style="width:80%;margin-left:10%"/>
                <h3 class="fw-bold text-white changing-text text-center">:(</h3>
                <p class="col-md-8 fs-4 text-white text-center w-100">Version 3.0</p>
            </div>
            <video style="width:310%; opacity:.5; margin-left:-400px" autoplay preload="true" loop="loop" muted>
                <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
                video not supported
            </video>
        </div>
    </div>
</div>

<main>
    <div class="container mt-3">
        <h3 th:if="${isAnnouncement}">📢Announcements</h3>
        <div th:each="message : ${announcements}">
            <div th:replace="Components :: message" class="mt-2"></div>
        </div>
    </div>

    <div class="container mt-3">
        <div th:replace="Components :: flash" class="mt-2"></div>
        <div class="row mt-2">
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">📖View Costipedia</h4>
                    <p>Costipedia is a wikipedia like feature that is about Costi</p>
                    <a href="/Wiki" type="button" class="btn btn-primary btn-sm">Explore Costipedia</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4  mb-4">
                    <h4 class="fw-bold">⚔️View Minecraft History</h4>
                    <p>View the rich history of all my previous Minecraft Worlds</p>
                    <a href="/Minecraft/gov#history" type="button" class="btn btn-primary btn-sm">View History</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">🧪Check Out Previous Projects</h4>
                    <p>View previous coding-based projects I have made from over a decade ago!</p>
                    <a href="/Projects" type="button" class="btn btn-primary btn-sm">View Projects</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5" id="about">
        <h2 class="pb-2 border-bottom">About this Website</h2>
        <p class="fs-4">Costi Online is a website dedicated to centralizing my projects, services, history, and more. This website is hand coded my me using Java Spring and Java Hibernate. This website is open source, please see this website's associated GitHub page: <a target="_blank" href="https://github.com/CKhamis/Costi-Online-Website">Costi-Online-Website</a>. Content will be continually added to this website over time. Please stay tuned for more.</p>
        <p class="fs-4">The projects tab will contain links to see the various computer-related projects I have made over the years. These projects mostly cover websites and java based applications. Many of these projects are also available on my GitHub page.</p>
        <p class="fs-4">The services tab will contain access to the various services I have. These services cover some of my skills such as device repair and server hosting. The Wiki tab has information on friend group inside jokes and other information about me personally. The media tab will have video based projects I have made over time. As listed there, many of these video based projects are uploaded to YouTube as well. </p>
        <p class="fs-4">Finally, the Minecraft tab will take you to information surrounding my new Minecraft server. It will allow players of this world to participate in polls, elections, and learn more about its rich history.</p>
        <p class="fs-4">To contact website owner, please use the email <a href="mailto:admin@costionline.com">admin@costionline.com</a></p>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
<script>
    var subtitles = ["Costi's favorite website", "Terence was here", "Chelsea Stacie Ingrid Marla Darla", "MAAAAARRIOOOOO!", "A project by Costi", "An interdimensional project",
    "'Ello", "📮😳😳😳", "Slay.", "ur mum"]

    $(document).ready(function(){
        $('.changing-text').text(subtitles[Math.floor(Math.random() * subtitles.length)]);
        $('.banner-logo').animate({
            width: '40%',
            marginLeft: '30%'
            });
    });


</script>
</body>
</html>