<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Home')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: nav"></div>

<!-- Desktop -->
<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden d-none d-lg-block bg-black" style="height:600px">
        <div class="position-absolute p-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="padding-top:160px;">
                <img th:src="@{/icons/CO White.png}" class="img-fluid mb-2 banner-logo" style="width:0%;margin-left:50%"/>
                <h3 class="fw-bold text-white changing-text text-center">:(</h3>
                <p class="col-md-8 fs-5 text-white text-center w-100" th:text="|Version: ${version}|">Version X</p>
            </div>
        </div>
        <video class="w-100" autoplay preload="true" loop="loop" style="margin-top:-150px;opacity:.5; " muted>
            <source th:src="@{/videos/banners/Costi Online Home Banner.m4v}" type="video/mp4">
            video not supported
        </video>
    </div>
</div>

<!-- Mobile -->
<div class="container pt-5 d-xs-block d-lg-none mt-5">
    <div class="p-0 mb-4 border-box bg-black">
        <div class="container-fluid p-0 overflow-hidden" style="height:300px;">
            <div class="position-absolute p-5 text-white" style="z-index:1;">
                <img th:src="@{/icons/CO White.png}" class="img-fluid mb-2" style="width:80%;margin-left:10%"/>
                <h3 class="fw-bold text-white changing-text text-center">:(</h3>
                <p class="col-md-8 fs-4 text-white text-center w-100" th:text="|Version: ${version}|">Version X</p>
            </div>
            <video style="width:310%; opacity:.5; margin-left:-400px" autoplay preload="true" loop="loop" muted>
                <source th:src="@{/videos/banners/Costi Online Home Banner.m4v}" type="video/mp4">
                video not supported
            </video>
        </div>
    </div>
</div>

<main>
    <div class="container mt-3">
        <h3 th:if="${isAnnouncement}">📢Announcements</h3>
        <div th:each="message : ${announcements}">
            <div th:replace="Components :: message" class="mt-2"></div>
        </div>
    </div>
    <!-- Quick Links-->
    <div class="container mt-3">
        <div th:replace="Components :: flash" class="mt-2"></div>
        <div class="row mt-2" id="quick-links">
            <div class="col col-12 col-lg-4" style="margin-top: 100px; opacity:0;">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">📖View Costipedia</h4>
                    <p>Costipedia is a wikipedia like feature that is about Costi</p>
                    <a href="/Wiki" type="button" class="btn btn-primary btn-sm">Explore Costipedia</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4" style="margin-top: 100px; opacity:0;">
                <div class="border-box text-1 p-4  mb-4">
                    <h4 class="fw-bold">⚔️View Minecraft History</h4>
                    <p>View the rich history of all my previous Minecraft Worlds</p>
                    <a href="/Minecraft/gov#history" type="button" class="btn btn-primary btn-sm">View History</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4" style="margin-top: 100px; opacity:0;">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">🧪Check Out Previous Projects</h4>
                    <p>View previous coding-based projects I have made from over a decade ago!</p>
                    <a href="/Projects" type="button" class="btn btn-primary btn-sm">View Projects</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="highlights">
        <div class="container">
            <h2 class="pb-2 border-bottom">Recent Highlights</h2>
            <div id="home-slideshow" class="carousel slide mb-4" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="3"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="4"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="5"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="6"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="7"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="8"></button>
                    <button type="button" data-bs-target="#home-slideshow" data-bs-slide-to="9"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active" th:object="${slide1}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>

                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide2}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide3}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide4}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide5}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide6}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide7}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide8}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide9}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                    <div class="carousel-item" th:object="${slide10}">
                        <img th:src="@{*{imagePath}}" th:alt="*{getSubtitle()}" class="slide">
                        <div class="carousel-caption newsroom-slide-caption">
                            <a ><h3 th:text="*{getTitle()}" class="fw-bold mb-0">Slide</h3></a>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#home-slideshow" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#home-slideshow" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
            <a href="/Newsroom"><p class="text-secondary">View more in Costi Newsroom ></p></a>
        </div>
    </div>

    <div class="container py-5" id="about">
        <div class="row">
            <div class="col-md-6 col-xs-12 mb-2">
                <div class="border-box text-1 p-4">
                    <h3 class="fw-bold">What is Costi Online?</h3>
                    <p class="fs-4">Costi Online is a personal website I made to share my coding projects, video projects, wiki, Minecraft server, and more.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 mb-2">
                <div class="border-box text-1 p-4">
                    <h3 class="fw-bold">Who am I?</h3>
                    <p class="fs-4">Hi! I am Costi (pronounced "Coasty"). I am a computer science student at San Jose State University.</p>
                    <a href="/About#about-me" type="button" class="btn btn-primary btn-sm">About Me</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-5" id="new">
        <h2 class="pb-2 border-bottom">⭐New In Costi Online 4.0</h2>
        <p class="fs-4">Costi Online now has a brand new feature called <a href="/Newsroom">Newsroom</a>. Newsroom is a feature that allows Costi Online visitors to see various life updates and images that are happening now. I will post things such as major life updates, hangout pictures, website changelogs, project development updates, and more!</p>
        <a href="https://github.com/CKhamis/Costi-Online-Website" type="button" class="btn btn-dark btn-sm">See Costi Online on GitHub</a>
    </div>

    <div class="container-fluid p-0 gradient mb-3" id="projects">
        <div class="container-fluid">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-xs-12">
                        <h2 class="fw-bold">Project Showcase</h2>
                        <p class="text-secondary">Coding projects starting from early 2011</p>
                        <p class="fs-4">Check out various coding projects I made over time and see how my skills progressed</p>
                        <h5 class="fw-bold">Project Highlights</h5>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                <a href="/Projects#CIPolarium"><p>[IN]GRID Polarium</p></a>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                <a href="/Projects#CNGrid"><p>[NEXT]GRID</p></a>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                <a href="/Projects#CIPolaris"><p>[IN]GRID Polaris</p></a>
                            </div>
                        </div>

                        <a href="/Projects" class="btn btn-primary" aria-current="page">See Projects page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 mb-3" id="media">
        <div class="container-fluid">
            <div class="container py-5">
                <img th:src="@{/icons/CM White.png}" class="img-fluid mb-2"/>
                <p class="fs-4 text-white">View various video, image, and flyer materials I made. This features projects I created since I was in sixth grade in chronological order.</p>
                <a href="/Media" class="btn btn-primary" aria-current="page">Visit Costi Media</a>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0" id="wiki">
        <div class="container-fluid">

            <div class="container py-5">
                <div class="row">
                    <div class="d-none d-md-block col-md-7 ">
                        <div class="row">
                            <div class="col-4" th:each="page : ${wiki}">
                                <div th:switch="${page.category}"   class="card border-box">
                                    <div th:case="INSIDE_JOKE"      class="card-header fw-bold" th:text="|&#128518; Inside Joke|">Card title</div>
                                    <div th:case="HISTORICAL"       class="card-header fw-bold" th:text="|&#127984; Historical|">Card title</div>
                                    <div th:case="PEOPLE"         class="card-header fw-bold" th:text="|&#128697; People|">Card title</div>
                                    <div th:case="PROFESSIONAL"     class="card-header fw-bold" th:text="|&#128084; Professional|">Card title</div>
                                    <div th:case="*"                class="card-header fw-bold" th:text="|&#10067; Other|">Card title</div>
                                    <div class="card-body">
                                        <h5 class="card-title text-truncate" th:text="*{page.title}">Title</h5>
                                        <h6 class="card-subtitle mb-2 text-muted text-truncate" th:text="*{page.subtitle}">Card subtitle</h6>
                                        <a th:href="'/Wiki/' + *{page.Id} + '/view'" class="card-link">View ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <h2 class="fw-bold text-white">Costipedia</h2>
                        <p class="fs-4 text-white">Costipedia is a Wiki that contains pages relevant to myself & friends.</p>
                        <a href="/Wiki" class="btn btn-primary" aria-current="page">Visit Costipedia</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
<script>
    var subtitles = ["Costi's favorite website", "I haven't seen you in a BILLION years!", "Jedi Terence", "Chelsea Stacie Ingrid Marla Darla", "MAAAAARRIOOOOO!", "A project by Costi", "An interdimensional project",
    "'Ello", "📮😳😳😳", "What's puopping", "Death, Dying, Religion", "ur mum", "Free Taiwan 🇹🇼 "]

    $(document).ready(function(){
        $('.changing-text').text(subtitles[Math.floor(Math.random() * subtitles.length)]);
        $('.banner-logo').animate({
            width: '40%',
            marginLeft: '30%'
            });

        var quickLinks = $("#quick-links").children();
        $(quickLinks[0]).delay(0).animate({opacity: '1',
                                            marginTop: '0px'}, {duration:500})
        $(quickLinks[1]).delay(400).animate({opacity: '1',
                                            marginTop: '0px'}, {duration:500})
        $(quickLinks[2]).delay(800).animate({opacity: '1',
                                            marginTop: '0px'}, {duration:500})
    });


</script>
</body>
</html>