<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Costi Media')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: nav"></div>
<!-- Desktop -->
<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden d-none d-lg-block bg-black" style="height:600px">
        <div class="position-absolute p-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="padding-top:145px;">
                <img th:src="@{/icons/CM White.png}" class="img-fluid mb-2" style="width:25%;"/>
                <h3 class="fw-bold">10+ Years of Experience</h3>
                <p class="col-md-8 fs-4">Experience a taste in the evolution of my video production skills and ideas starting from 2011 and continuing to this day.</p>
                <div class="btn-group pb-4" role="group">
                    <a href="https://www.youtube.com/channel/UCNBpX9wlGcB59vnv1pdogTA" class="btn btn-primary" aria-current="page">View YouTube Channel</a>
                    <a href="#FAQ" class="btn btn-primary">View Timeline</a>
                </div>
            </div>
        </div>
        <video class="w-100" autoplay preload="true" loop="loop" style="margin-top:-150px;opacity:.5; " muted>
            <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
            video not supported
        </video>
    </div>
</div>

<!-- Mobile -->
<div class="container pt-5 d-xs-block d-lg-none mt-5">
    <div class="p-0 mb-4 border-box bg-black">
        <div class="container-fluid p-0 overflow-hidden" style="height:600px;">
            <div class="position-absolute p-5 text-white" style="z-index:1;">
                <img th:src="@{/icons/CM White.png}" class="img-fluid mb-2" style="width:80%;"/>
                <h3 class="fw-bold">10+ Years of Experience</h3>
                <p class="col-md-8 fs-4">Experience a taste in the evolution of my media production skills and ideas starting from 2011 and continuing to this day.</p>
                <div class="btn-group pb-4" role="group">
                    <a href="https://www.youtube.com/channel/UCNBpX9wlGcB59vnv1pdogTA" class="btn btn-primary" aria-current="page">View YouTube Channel</a>
                    <a href="#FAQ" class="btn btn-primary">View Timeline</a>
                </div>
            </div>
            <video style="width:310%; opacity:.5; margin-left:-400px" autoplay preload="true" loop="loop" muted>
                <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
                video not supported
            </video>
        </div>
    </div>
</div>

<main>
    <div class="container mt-3">
        <div class="row mt-2">
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">⌛View Full History</h4>
                    <p>View the mostly-complete timeline of Costi Media and how it changed over time</p>
                    <a href="#beginning" type="button" class="btn btn-primary btn-sm">Jump to Beginning</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4  mb-4">
                    <h4 class="fw-bold">⚔️View Minecraft History</h4>
                    <p>View the rich history of all my previous Minecraft Worlds</p>
                    <a href="/Minecraft/gov#history" type="button" class="btn btn-primary btn-sm">View History</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">🧪Check Out Previous Projects</h4>
                    <p>View previous coding-based projects I have made from over a decade ago!</p>
                    <a href="/Projects" type="button" class="btn btn-primary btn-sm">View Projects</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="disclaimer">
        <h2 class="pb-2 border-bottom">Video Disclaimer</h2>
        <p class="fs-4">Because Costi Online is a publicly-available website for anybody to see, select videos will either be unavailable to watch or not fully shown. This is to protect the privacy of the actors in the videos and ensure no personal information is released. This means many of the videos I have made (especially from 2011 to 2016) will not be populated. Thank you for understanding.</p>
    </div>

    <div class="container-fluid">
        <div class="container mt-5">
            <div class="p-0 mb-4 border-box bg-black">
                <div class="container-fluid p-0 overflow-hidden" style="height:100px;">
                    <div class="position-absolute p-4 text-white" style="z-index:1;">
                        <h1 class="fw-bold">2️⃣: Costi Productions 2015</h1>
                    </div>
                    <video style="width:175%; opacity:.5; margin-left:-400px; margin-top: -300px" autoplay preload="true" loop="loop" muted>
                        <source th:src="@{/videos/banners/Costi-Logo3.m4v}" type="video/mp4">
                        video not supported
                    </video>
                </div>
            </div>
            <div class="container border-bottom">
                <p class="fs-4">
                    In 2015, I made a very large amount of videos. I have reached a reconnaissance of video production in a way. I got access to Adobe CS5 and CS4 software packs, and I was self-teaching based on what I had learned from school and just trying things out. Each video would try out a new technique or idea and the next video would utilize what I had learned from before and add further experimentation. 2015 was home to many iconic videos such as Amal +.
                </p>
            </div>

            <div class="card border-box my-5">
                <iframe height="450" src="https://www.youtube-nocookie.com/embed/4j-CoM1y-Fg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Amal + Episode 2</h5>
                    <p class="text-secondary">Adobe Premiere Pro | 2015</p>
                    <p class="card-text fs-5">
                        This episode of Amal + utilized my previous finds from the first episode and built off of it with all-new segments that had far better quality. I also continued to experiment with video effects and strategies. For example, I tried keying the opacity of the green screen videos dynamically, changing the way I keyed out the green screen, and experimented with music videos (which Tina and Amal were very keen on trying).
                    </p>
                    <a href="https://youtu.be/4j-CoM1y-Fg" class="btn btn-primary mb-3">See on YouTube</a>
                </div>
            </div>

            <div class="card border-box my-5">
                <img th:src="@{/images/webpageImages/Amal+ E1.jpg}" class="card-img-top" alt="Amal +">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Amal +</h5>
                    <p class="text-secondary">Adobe Premiere Pro | 2015</p>
                    <p class="card-text fs-5">
                        Amal + episode 1 was a series of unrelated video segments that played right after each other. The main idea of this video was to test and try out new ideas for videos. The discoveries I made when making this video were super integral to the videos I made afterwards. For example some things I tried in this video was to use a different color for the green screen, having multiple layers of video, green screen color correction, hue filters, and most importantly, backing up videos. At the time, I had stored all raw videos on my camera's SD card and when I ran out of space, I formatted the card, not understanding that my videos were being deleted. I only have an old version of the video that I thankfully exported earlier, however I will not be showing it here because the segments in it are a bit to weird. Amal + would eventually have 2 sequels.
                    </p>
                </div>
            </div>

            <div class="card border-box my-5">
                <iframe height="450" src="https://www.youtube-nocookie.com/embed/BqvVeCGX_7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Direct Logo</h5>
                    <p class="text-secondary">Adobe After Effects | 2015</p>
                    <p class="card-text fs-5">
                        This is an alternate version of my Costi Productions 2015 logo, except that this was more meant for announcements than entertainment-created videos. There were not many videos that used this intro, and the ones that do are unremarkable and only meant to be used once on a certain event.
                    </p>
                    <a href="https://youtu.be/BqvVeCGX_7U" class="btn btn-primary mb-3">See on YouTube</a>
                </div>
            </div>

            <div class="card border-box my-5">
                <iframe height="450" src="https://www.youtube-nocookie.com/embed/XH2DNsJX8Pk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Productions 2015 Logo</h5>
                    <p class="text-secondary">Adobe After Effects | 2015</p>
                    <p class="card-text fs-5">
                        This is the second iteration of my animated logo series. Initially, this video was supposed to be made in Flash, but since I had just gotten the full Adobe suite from my aunt, I was able to utilize the latest software (at the time). This time, my logo would play on all videos I made unless it was for school. The music used in this logo was taken from a Nintendo Direct. After making this video, I decided to completely phase out Flash in favor of After Effects.
                    </p>
                    <a href="https://youtu.be/XH2DNsJX8Pk" class="btn btn-primary mb-3">See on YouTube</a>
                </div>
            </div>
        </div>

        <div class="container mt-5" id="beginning">
            <div class="p-0 mb-4 border-box bg-black">
                <div class="container-fluid p-0 overflow-hidden" style="height:100px;">
                    <div class="position-absolute p-4 text-white" style="z-index:1;">
                        <h1 class="fw-bold">1️⃣: Costi Inc. Era</h1>
                    </div>
                    <video style="width:175%; opacity:.5; margin-left:-400px" autoplay preload="true" loop="loop" muted>
                        <source th:src="@{/videos/banners/Costi-Logo2.m4v}" type="video/mp4">
                        video not supported
                    </video>
                </div>
            </div>
            <div class="container border-bottom">
                <p class="fs-4">The Costi Inc. Era was the very first stage in Cost Media's evolution. Initially starting in 2011 and ending in 2015, I used to make simple Flash animations, vector artwork, and short movies with iMovie. I found myself a portable version of Flash 8 and Fireworks back when they were owned by Macromedia and begun my work. It was during this time when I found a passion for creating media. I also bought myself a simple video editor to tinker with. Along with making my first animated logo, I had made the Terency show, a flash-based school project, begun working on a Flash game, and made a trailer for it.</p>
            </div>

            <div class="card border-box my-5">
                <iframe height="450" src="https://www.youtube-nocookie.com/embed/LAZBf4sPu-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                <div class="card-body px-5 blue-v-gradient">
                <h5 class="card-title fw-bold fs-4">AngryBird Game Trailer</h5>
                <p class="text-secondary">Video Editor | 2013</p>
                <p class="card-text fs-5">
                    This was a trailer designed to promote a game I was making at the time using Flash. The game would have been a playformer where Terence was the main character. The goal was to collect all food items on the screen before they go rotten. The website mentioned in that email does not exist anymore, but is safely backed up in <a href="https://github.com/CKhamis/Angrybird-Wiki">Github.</a>
                </p>
                <a href="https://youtu.be/tJL_lFtnD08" class="btn btn-primary mb-3">See on YouTube</a>
            </div>
            </div>

            <div class="card border-box my-5">
                <img th:src="@{/images/webpageImages/8th Grade Videos.jpg}" class="card-img-top" alt="Other Videos">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Other 8th Grade Videos</h5>
                    <p class="text-secondary">iMovie | 2013</p>
                    <p class="card-text fs-5">I made 3 other videos in my 8th grade advanced multimedia class. I have chosen not to post them because they involve personal information. The Overpriced Pencil was a short video me and two others made in a black-and-white style. Jason was a parody of the movie Jason with a lot of extra jokes added to it. The AngryBird remix video was a side project I was making that basically was edits of the AngryBirds Toons videos.</p>
                </div>
            </div>

            <div class="card border-box my-5">
                <iframe height="450" src="https://www.youtube-nocookie.com/embed/tJL_lFtnD08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">"Wrap"</h5>
                    <p class="text-secondary">iMovie | 2013</p>
                    <p class="card-text fs-5">This video was made for my advanced multimedia class I took in 8th grade. The title is "Wrap" because I did not know how to spell rap at the time. It featured me and another student. It heavily used a green screen, so I could add backup dancers as myself. It was one of the more creative videos I made for this class because I used a special technique to add in clones of myself where I nested videos on top of each other.</p>
                    <a href="https://youtu.be/tJL_lFtnD08" class="btn btn-primary mb-3">See on YouTube</a>
                </div>
            </div>

            <div class="card border-box my-5">
                <iframe height="450" src="https://www.youtube-nocookie.com/embed/52VgVxxNM3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Don't Steal</h5>
                    <p class="text-secondary">Macromedia Flash & iMovie | 2012</p>
                    <p class="card-text fs-5">This video is my only remaining project I have back in my first multimedia class in 6th grade. At the time, I was not skilled enough to speed up the mouth movements, so we had to slow down our dialogue. This video was made in association with 2 others from my class. The ending of this video was meant to satisfy a duration constraint for this project. I do not remember what I got on this project, but ignorance is bliss...</p>
                    <a href="https://youtu.be/52VgVxxNM3Y" class="btn btn-primary mb-3">See on YouTube</a>
                </div>
            </div>

            <div class="card border-box my-5">
                <iframe height="450" src="https://www.youtube.com/embed/VgO6KqaWrWg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">The Terency Show</h5>
                    <p class="text-secondary">Macromedia Flash & iMovie | 2012</p>
                    <p class="card-text fs-5">The Terency Show is a Flash animation I had made back in 2011. I do not remember much about the production of this video, but it may have used either iMovie or my $2 video editor I had at the time. This video was important because it sparked my interest in making personal videos.</p>
                    <a href="https://youtu.be/VgO6KqaWrWg" class="btn btn-primary mb-3">See on YouTube</a>
                </div>
            </div>

            <div class="card border-box my-5">
                <iframe height="450" src="https://www.youtube-nocookie.com/embed/WAdJoZupYEo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Animated Logo</h5>
                    <p class="text-secondary">Macromedia Flash | 2011</p>
                    <p class="card-text fs-5">
                        This was the very first animated logo I made. It was made using Flash 8. It was meant to be featured in the videos I would eventually make. The production of this video was very hard for me because I was unable to import my vector art from Fireworks, so I had to remake the logo. Animating the logo was also much harder than I thought at the time because the alignment of the squares would somehow always be wrong.
                    </p>
                    <a href="https://youtu.be/WAdJoZupYEo" class="btn btn-primary mb-3">See on YouTube</a>
                </div>
            </div>

            <div class="card border-box my-5">
                <img th:src="@{/images/webpageImages/Orb.png}" class="card-img-top" alt="Costi Logo 2">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Orb Logo</h5>
                    <p class="text-secondary">Macromedia Fireworks | 2011</p>
                    <p class="card-text fs-5">This is a new logo I have made using Macromedia Fireworks 8 following a YouTube tutorial. At the time, I wanted to make a skeuomorphic version of my logo to match current trends. This logo always reminded me of the dismiss/expand/close buttons on Macs at the time. If you look closely, this logo uses the first logo with a gradient on each square. This new version of my logo was used in the Terency Show.</p>
                </div>
            </div>

            <div class="card border-box my-5">
                <img th:src="@{/images/webpageImages/Original Logo.png}" class="card-img-top" alt="Costi Inc. Logo 1">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Inc. Logo 1</h5>
                    <p class="text-secondary">Macromedia Fireworks | 2011</p>
                    <p class="card-text fs-5">Although my logo's origin predates the creation of this image, this logo was the first digital version ever made of it. Created in Macromedia Fireworks, it is one of the first vector-based artwork I have ever made. I remember having a very hard time aligning the squares and positioning the logo within the much larger canvas. Nevertheless, this logo was used in many of my creations until 2015 due to the logo being off center in the canvas.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>