<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Costi Media')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: main-navigation"></div>

<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden bg-black" style="height:600px">
        <div class="position-absolute px-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="margin-top:200px;">
                <img th:src="@{/icons/CM White.svg}" class="img-fluid mb-2 banner-logo" style=""/>
                <h3 class="fw-bold text-white text-center">10+ Years of Experience</h3>
                <p class="fs-4 text-white text-center">Experience a taste in the evolution of my video production skills and ideas starting from 2011 and continuing to this day.</p>
                <div class="d-flex justify-content-center pb-4">
                    <div class="btn-group" role="group">
                        <a href="https://www.youtube.com/channel/UCNBpX9wlGcB59vnv1pdogTA" class="btn btn-primary text-center" aria-current="page">View YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
        <video class="banner-video" autoplay preload="true" loop="loop" muted>
            <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
            video not supported
        </video>
    </div>
</div>

<main>
    <div class="container mt-3">
        <div class="row mt-2">
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">🎞️View Video History</h4>
                    <p>View the mostly-complete timeline of Costi Media videos and how it changed over time</p>
                    <a href="#beginning" type="button" class="btn btn-primary btn-sm">Jump to First Section</a>
                    <img th:src="@{images/games/axcel/toys/Jimmy Plush.png}" class="sprite" style="height:20px;" data-sprite-name="jimmy"/>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4  mb-4">
                    <h4 class="fw-bold">🧩View Costi Logos</h4>
                    <p>View the gradual evolution of my vector based logo artwork</p>
                    <a href="#logo" type="button" class="btn btn-primary btn-sm">View Logos</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">📽️Check Out Video Series</h4>
                    <p>Discover video series created by Costi Media and learn about their origins.</p>
                    <a href="#series" type="button" class="btn btn-primary btn-sm">View Projects</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5" id="disclaimer">
        <div class="container">
            <div class="alert alert-primary" role="alert">
                <strong>Video Disclaimer</strong>
                <p class="mb-0">Because Costi Online is a publicly-available website for anybody to see, select videos will either be unavailable to watch or not fully shown. This is to protect the privacy of the actors in the videos and ensure no personal information is released. This means many of the videos I have made (especially from 2011 to 2016) will not be populated. Thank you for understanding.</p>
            </div>
            <h2 class="pb-2 border-bottom">What is Costi Media?</h2>
            <p class="fs-4">Costi Media is an alias I use to label my digital artwork such as videos and vector art. Costi Media went by 2 other names in the past, Costi Inc, and Costi Entertainment. Learn more about the rich history of Costi Media by viewing the timeline.</p>
        </div>
    </div>

    <div class="container-fluid" id="series">
        <div class="container">
            <h2 class="text-center fw-bold">Costi Media Series</h2>
            <p class="text-center border-bottom">Since 2011, I have made several video series. View them here</p>

            <div class="row mb-5">
                <div class="col col-12 col-md-6 col-lg-3 py-2 mt-lg-0">
                    <div class="card border-box h-100">
                        <img th:src="@{/images/webpageImages/FMF Cover.jpg}" class="card-img-top" alt="FMF Cover" style="aspect-ratio: auto;">
                        <div class="card-body px-md-3 blue-v-gradient">
                            <h5 class="card-title fw-bold fs-4">Flea Market Finds</h5>
                            <p class="text-secondary">2 Episodes</p>
                            <p class="card-text fs-6">
                                A video series documenting our search for good deals on electronics from flea markets of all kinds! Join me, Haydon, Sean, and sometimes a special guest on our adventure to find the best deals.
                            </p>
                            <a href="https://youtu.be/5c5guItHIc4" class="btn btn-primary">See on YouTube</a>
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-md-6 col-lg-3 py-2 mt-lg-0">
                    <div class="card border-box h-100">
                        <img th:src="@{/images/webpageImages/JKCS.jpg}" class="card-img-top" alt="Johnny Khamis County Supervisor Cover" style="aspect-ratio: auto;">
                        <div class="card-body px-md-3 blue-v-gradient">
                            <h5 class="card-title fw-bold fs-4">Johnny Khamis County Supervisor Videos</h5>
                            <p class="text-secondary">30 videos</p>
                            <p class="card-text fs-6">
                                This is a series of the media I made for my dad's county supervisor election. This mainly consists of video advertisements ranging from testemonial videos to my dad speaking about campaign topics.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-md-6 col-lg-3 py-2 mt-lg-0">
                    <div class="card border-box h-100">
                        <img th:src="@{/images/webpageImages/SJ Tips Cover.png}" class="card-img-top" alt="San Jose Tips Cover" style="aspect-ratio: auto;">
                        <div class="card-body px-md-3 blue-v-gradient">
                            <h5 class="card-title fw-bold fs-4">San Jose Tips</h5>
                            <p class="text-secondary">5 Episodes, 1 cancelled</p>
                            <p class="card-text fs-6">
                                San Jose Tips is a separate channel that assists citizens of San Jose how to use the services available to them. I even got the support of my friends to make videos via my high school club. Videos started being posted in 2017 and ended in 2018.
                            </p>
                            <a href="https://youtube.com/playlist?list=PLvKqVadRNL8n07Pns6PWCvEr5WZ9RvHZg" class="btn btn-primary">See on YouTube</a>
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-md-6 col-lg-3 py-2 mt-lg-0">
                    <div class="card border-box h-100">
                        <img th:src="@{/images/webpageImages/Pioneer News Cover.jpg}" class="card-img-top" alt="Pioneer News Cover" style="aspect-ratio: auto;">
                        <div class="card-body px-md-3 blue-v-gradient">
                            <h5 class="card-title fw-bold fs-4">Pioneer News</h5>
                            <p class="text-secondary">9 Episodes</p>
                            <p class="card-text fs-6">
                                Pioneer News was a 15-minute video presentation that would play during class in high school. Near the end of my senior year, I decided to take over its production. I quickly became known for my work, as I used it as an opportunity to try creating special effects and editing styles.
                            </p>
                            <a href="https://youtube.com/playlist?list=PLpLfm428USgyYsJQ8hjz7rzQ4QdfPjs_H" class="btn btn-primary">See on YouTube</a>
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-md-6 col-lg-3 py-2 mt-lg-0">
                    <div class="card border-box h-100">
                        <img th:src="@{/images/webpageImages/ASAS Cover.jpg}" class="card-img-top" alt="ASAS Invitation Cover" style="aspect-ratio: auto;">
                        <div class="card-body px-md-3 blue-v-gradient">
                            <h5 class="card-title fw-bold fs-4">ASAS Invitation Videos</h5>
                            <p class="text-secondary">6 episodes</p>
                            <p class="card-text fs-6">
                                ASAS is a bi-annual party hosted at my house following each semester at school. ASAS' origins actually can be traced back to early elementary school when my parents and my friends' parents organized small gatherings on the last day of school. Starting in middle school, I began to take initiative and revive these after school hangouts. I created videos for them from 2016 to 2017 (inc).
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-md-6 col-lg-3 py-2 mt-lg-0">
                    <div class="card border-box h-100">
                        <img th:src="@{/images/webpageImages/Ethan Show Cover.jpg}" class="card-img-top" alt="Ethan Show Cover" style="aspect-ratio: auto;">
                        <div class="card-body px-md-3 blue-v-gradient">
                            <h5 class="card-title fw-bold fs-4">The Ethan Show</h5>
                            <p class="text-secondary">3 episodes, 1 cancelled</p>
                            <p class="card-text fs-6">
                                The Ethan Show is a wacky series of videos that consist of several unrelated segments. In these segments, you can see Ethan either giving you the news, teaching you how to cook, or even survive in the wild. The first Ethan Show episode was made in 2017 and the latest in 2018.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-12 col-md-6 col-lg-3 py-2 mt-lg-0">
                    <div class="card border-box h-100">
                        <img th:src="@{/images/webpageImages/Amal+ Cover.jpg}" class="card-img-top" alt="Amal+ Cover" style="aspect-ratio: auto;">
                        <div class="card-body px-md-3 blue-v-gradient">
                            <h5 class="card-title fw-bold fs-4">Amal+</h5>
                            <p class="text-secondary">2 episodes, 1 cancelled</p>
                            <p class="card-text fs-6">
                                Amal+ was where I got the opportunity to expand my skills in video editing and experiment with new ides. Like the Ethan show, there were several segments per episode. Tina and Amal loved making music videos, so that is the most common type.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="container-fluid" id="logo">
        <div class="container">
            <h2 class="text-center fw-bold">Costi logo History</h2>
            <p class="text-center pb-2 border-bottom">View the history of my logos used for internal and external use</p>
            <img th:src="@{images/games/axcel/toys/Leash.png}" class="sprite" style="height:40px;" data-sprite-name="leash"/>

            <div class="card border-box my-5">
                <img th:src="@{/images/webpageImages/Costi Logo Evolution.jpg}" class="card-img-top" alt="Costi Logo Evolution" style="aspect-ratio: auto;">
                <div class="card-body px-4 px-lg-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Personal Logo</h5>
                    <p class="text-secondary">2011 to present</p>
                    <p class="card-text fs-5">
                        My logo has existed for well over a decade. Conceptualized around 2010, it was inspired by a friend's logo, which was inspired by the Nintendo GameCube logo. Over the years, I have consistently used my logo for personal projects, internal documentation, and publicly facing projects (like this website). Like other vector based artwork I made the time, the first and second logos were made using Macromedia Fireworks 8. This was because I first learned how to use it for my multimedia 1 class in middle school. Eventually, I was given the Adobe CS4 and CS5 suite by my aunt and created my third logo. In High School, I found a way to get the full Adobe Suite for $20 a year, and since Fireworks was discontinued by Adobe, I began to use Adobe Illustrator, which I still use to this day. The 4th Logo was used in my work from 2016 to 2018, until I invented my most recent logo. My newest logo is a lot easier to consume, dense, and aesthetically coherent.
                    </p>
                </div>
            </div>

            <div class="card border-box my-5">
                <img th:src="@{/images/webpageImages/Age Logo Evolution.jpg}" class="card-img-top" alt="Age Logo Evolution" style="aspect-ratio: auto;">
                <div class="card-body px-4 px-lg-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Age Logos</h5>
                    <p class="text-secondary">2016 to present</p>
                    <p class="card-text fs-5">
                        Since I was 15, I decided to create a logo every year representing me. This is so I can attach them to certain achievements or projects I have done. These are not generally publicly facing and are not used much in general. I use them mainly as an exercise to try making something new
                    </p>
                </div>
            </div>

            <div class="card border-box my-5">
                <img th:src="@{/images/webpageImages/Costi Media Evolution.jpg}" class="card-img-top" alt="Costi Media Evolution" style="aspect-ratio: auto;">
                <div class="card-body px-4 px-lg-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Media Logos</h5>
                    <p class="text-secondary">2018 to present</p>
                    <p class="card-text fs-5">
                        The first normal, non-animated logo used for Costi Media/Entertainment was created in 2018. It was made because I needed a logo for my YouTube channel which hosted the Ethan Show. You can still see the first logo displayed in the outro of the Ethan Show Episode 3. The second logo, "E", was created in the same year, along with my new personal logo. This was only used for one project and was not in any videos I made. In 2019, I created the "M" logo and renamed the YouTube channel to Costi Media. This was because the video content I was making at the time was more professional and not only for entertainment. Finally, in 2020, I re-did the logo again in 2020 because I thought the previous one was too plain and unrecognizable.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Timeline -->
    <div class="container-fluid">
        <div class="container mt-5">
            <h2 class="text-center fw-bold">Costi Media Timeline</h2>
            <p class="text-center pb-2 border-bottom">This timeline shows the pieces of media I made separated by year along with a short description.</p>
            <div class="fw-bold d-inline">
                <h4 class="fw-bold d-inline lh-lg">Medium:
                    <span class="badge rounded-pill bg-info" id="disable-animation">Animations</span>
                    <span class="badge rounded-pill bg-dark enable-toggle" id="enable-animation">Animations</span>
                    <span class="badge rounded-pill bg-info" id="disable-logo">Logos</span>
                    <span class="badge rounded-pill bg-dark enable-toggle" id="enable-logo">Logos</span>
                    <span class="badge rounded-pill bg-info" id="disable-flyers">Flyers</span>
                    <span class="badge rounded-pill bg-dark enable-toggle" id="enable-flyers">Flyers</span>
                    <span class="badge rounded-pill bg-info" id="disable-live-action">Live Action</span>
                    <span class="badge rounded-pill bg-dark enable-toggle" id="enable-live-action">Live Action</span>
                </h4>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row" id="main-content">

            </div>
        </div>
    </div>
    <a href="#" class="btn btn-secondary mb-3">Go to Top</a>
</main>
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: footer"></div>
<div th:replace="Components :: lazy-loading"></div>
<div th:replace="Components :: axcel-sprite-logic"></div>
<div th:replace="Components :: timer-box"></div>
<div th:replace="Components :: toast-box"></div>
<script th:replace="Components :: axcel-game"></script>

<script>
    // Select parent element
    const container = $("#main-content");
    let projectData;
    //const analyticsContainer = $("#analyticsContainer");

    //Trigger loading

    window.addEventListener('scroll', function() {
        // Check if the user has reached the bottom of the page, accounting for the footer height
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight - getFooterHeight()) {
            // Call the displayProjects() function
            displayProjects();
        }
    });

    // Function to get the height of the footer element
    function getFooterHeight() {
        const footer = document.querySelector('footer');
        return footer ? footer.offsetHeight : 0;
    }


    // Headers
    const headers = [
        {
            title: '1️⃣0️⃣: Costi Media 2023',
            videoLink: '/videos/banners/Costi Online About Banner.m4v',
            description: 'In 2023, I have developed a lower amount of videos compared to previous years due to prioritizing school and coding higher. However, I always make sure to keep myself acquainted with video editing software and learning new skills.'
        },
        {
            title: '9️⃣: Costi Media 2022',
            videoLink: '/videos/banners/Costi Online About Banner.m4v',
            description: 'With stores and schools opening back up from Covid lockdowns in 2022, I was able to film more videos. Unfortunately during the lockdowns, all the people I made videos with grew apart in the past became disinterested in making more videos. I also was needed to work on my dad\'s next political campaign '
        },
        {
            title: '8️⃣: Costi Media 2021',
            videoLink: '/videos/banners/Costi Online About Banner.m4v',
            description: '2021 was the year of the lockdowns. With nobody to film with, my focus on media was shifted elsewhere. I was also busy helping my dad with his state senate political campaign during this time. '
        },
        {
            title: '7️⃣: Costi Entertainment 2020',
            videoLink: '/videos/banners/Intro 2020.m4v',
            description: '2020 was a terrible year for almost everyone. I initially planned this year to be the revitalization of Amal+, the Ethan Show, and even making new shows. However, this idea was abruptly ended once the pandemic caused lockdown restrictions. The videos I made this year were mostly memory slideshows to highlight previous moments in my life. '
        },
        {
            title: '6️⃣: Costi Entertainment 2019',
            videoLink: '/videos/banners/2019 Drone Footage.m4v',
            description: '2019 was a very different kind of year for me in terms of the videos I made. The Ethan Show was officially cancelled, Amal+ was long gone, and the Pioneer News got almost my full attention. I also got to make San Jose Tips videos with friends. I was so busy with projects, that I didn\'t even get to create an animated intro logo for Costi Entertainment. In fact, there was no mention of this alias at all for my videos in 2019. '
        },
        {
            title: '5️⃣: Costi Entertainment 2018',
            videoLink: '/videos/banners/Intro 2018.m4v',
            description: '2018 was an important year for me. This was a transition period between the silly videos I was making previously and more presentable, more planned videos. This included more videos from San Jose Tips and the Ethan Show. '
        },
        {
            title: '4️⃣: Costi Entertainment 2017',
            videoLink: '/videos/banners/Intro 2017.m4v',
            description: '2017 marked a shift in quality of the videos I make. It also marked the beginning of 2 new video series: San Jose Tips and The Ethan Show. The quality of my green screen effects, as well as video editing in general, were improved tremendously. '
        },
        {
            title: '3️⃣: Costi Entertainment 2016',
            videoLink: '/videos/banners/Intro 2016.m4v',
            description: 'Starting with Costi Entertainment 2016, a golden era blossomed. I created a lot more videos of far higher quality than the last, I started getting better equipment, and I was basically only limited to my imagination. I also created a new render of my logo that I used for the next few years. '
        },
        {
            title: '2️⃣: Costi Productions 2015',
            videoLink: '/videos/banners/Costi-Logo3.m4v',
            description: 'In 2015, I made a very large amount of videos. I have reached a reconnaissance of video production in a way. I got access to Adobe CS5 and CS4 software packs, and I was self-teaching based on what I had learned from school and just trying things out. Each video would try out a new technique or idea and the next video would utilize what I had learned from before and add further experimentation. 2015 was home to many iconic videos such as Amal+. '
        },
        {
            title: '1️⃣: Costi Inc. Era',
            videoLink: '/videos/banners/Costi-Logo2.m4v',
            description: 'The Costi Inc. Era was the very first stage in Cost Media\'s evolution. Initially starting in 2011 and ending in 2015, I used to make simple Flash animations, vector artwork, and short movies with iMovie. I found myself a portable version of Flash 8 and Fireworks back when they were owned by Macromedia and begun my work. It was during this time when I found a passion for creating media. I also bought myself a simple video editor to tinker with. Along with making my first animated logo, I had made the Terency show, a flash-based school project, begun working on a Flash game, and made a trailer for it.'
        }
    ];

    //fetch functions
    fetch("/api/Media/all")
        .then(checkStatus)
        .then(response => response.json())
        .then(data => {
            // Process the retrieved data
            projectData = data;
            displayProjects();
        })
        .catch(error => {
            // error handling
            container.append($("<h3 class=\"text-center\">There was an error receiving data from Costi Online Services</h3><p class=\"text-center\">Please check the console for further information</p>"));
            console.error('Error retrieving data:', error);
        })
        .finally(() => $("#loading").hide());

    // fetch("/get-project-analytics")
    //     .then(checkStatus)
    //     .then(response => response.json())
    //     .then(data => {
    //         // Process the retrieved data
    //         displayAnalytics(data)
    //     });

    //Render
    let currentIndex = 0;
    const elementsPerIteration = 10;
    let currentEraCount = 0;
    let currentEra = "";

    function displayProjects() {
        let insertHTML = "";

        for (let i = currentIndex; i < projectData.length && i < currentIndex + elementsPerIteration; i++) {
            const media = projectData[i];
            // Check if there is a link
            let linkText = "";
            if (media.link !== "") {
                linkText = `<a href="${media.link}" class="btn btn-primary mb-3">See on YouTube</a>`;
            }

            // Header checking and insertion
            let header = "";
            if (media.era !== currentEra) {
                currentEra = media.era;
                header = `
                    <div class="p-0 mb-4 border-box bg-black" id="${media.era}">
                      <div class="container-fluid p-0 overflow-hidden" style="height:100px;">
                        <div class="position-absolute p-4 text-white" style="z-index:1;">
                          <p class="fw-bold fs-1">${headers[currentEraCount].title}</p>
                        </div>
                        <video style="width:175%; opacity:.5; margin-left:-400px" autoplay="" preload="true" loop="loop" muted="">
                          <source src="${headers[currentEraCount].videoLink}" type="video/mp4">
                          video not supported
                        </video>
                      </div>
                    </div>
                    <div class="container border-bottom mb-3">
                      <p class="fs-4">${headers[currentEraCount].description}</p>
                    </div>
                  `;
                currentEraCount++;
            }

            insertHTML += `
              ${header}
              <div class="col-12 col-lg-6 mb-5 ${media.type}">
                <div class="card border-box">
                  ${media.previewHTML}
                  <div class="card-body px-4 px-lg-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">${media.title}</h5>
                    <p class="text-secondary">${media.subtitle}</p>
                    <p class="card-text fs-5">
                      ${media.description}
                    </p>
                    ${linkText}
                  </div>
                </div>
              </div>
            `;
        }
        container.append(insertHTML);
        currentIndex += elementsPerIteration;
    }


    $(document).ready(function(){
        $(".enable-toggle").css("display", "none");


        $("#disable-animation").click(function(){
            $("#disable-animation").css("display", "none");
            $("#enable-animation").css("display", "inline-block");

            $(".animation").css("display", "none");

        });

        $("#enable-logo").click(function(){
            $("#enable-logo").css("display", "none");
            $("#disable-logo").css("display", "inline-block");

            $(".logo-card").css("display", "block");

        });

        $("#disable-logo").click(function(){
            $("#disable-logo").css("display", "none");
            $("#enable-logo").css("display", "inline-block");

            $(".logo-card").css("display", "none");

        });

        $("#enable-animation").click(function(){
            $("#enable-animation").css("display", "none");
            $("#disable-animation").css("display", "inline-block");

            $(".animation").css("display", "block");

        });

        $("#disable-flyers").click(function(){
            $("#disable-flyers").css("display", "none");
            $("#enable-flyers").css("display", "inline-block");

            $(".flyer-card").css("display", "none");

        });

        $("#enable-flyers").click(function(){
            $("#enable-flyers").css("display", "none");
            $("#disable-flyers").css("display", "inline-block");

            $(".flyer-card").css("display", "block");

        });

        $("#disable-live-action").click(function(){
            $("#disable-live-action").css("display", "none");
            $("#enable-live-action").css("display", "inline-block");

            $(".live-action").css("display", "none");

        });

        $("#enable-live-action").click(function(){
            $("#enable-live-action").css("display", "none");
            $("#disable-live-action").css("display", "inline-block");

            $(".live-action").css("display", "block");

        });
    });
</script>

</div>
</body>
</html>