<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Costi Media')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: nav"></div>
<!-- Desktop -->
<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden d-none d-lg-block bg-black" style="height:600px">
        <div class="position-absolute p-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="padding-top:145px;">
                <img th:src="@{/icons/CM White.png}" class="img-fluid mb-2" style="width:25%;"/>
                <h3 class="fw-bold">10+ Years of Experience</h3>
                <p class="col-md-8 fs-4">Experience a taste in the evolution of my video production skills and ideas starting from 2011 and continuing to this day.</p>
                <div class="btn-group pb-4" role="group">
                    <a href="https://www.youtube.com/channel/UCNBpX9wlGcB59vnv1pdogTA" class="btn btn-primary" aria-current="page">View YouTube Channel</a>
                    <a href="#FAQ" class="btn btn-primary">View Timeline</a>
                </div>
            </div>
        </div>
        <video class="w-100" autoplay preload="true" loop="loop" style="margin-top:-150px;opacity:.5; " muted>
            <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
            video not supported
        </video>
    </div>
</div>

<!-- Mobile -->
<div class="container pt-5 d-xs-block d-lg-none mt-5">
    <div class="p-0 mb-4 border-box bg-black">
        <div class="container-fluid p-0 overflow-hidden" style="height:600px;">
            <div class="position-absolute p-5 text-white" style="z-index:1;">
                <img th:src="@{/icons/CM White.png}" class="img-fluid mb-2" style="width:80%;"/>
                <h3 class="fw-bold">10+ Years of Experience</h3>
                <p class="col-md-8 fs-4">Experience a taste in the evolution of my video production skills and ideas starting from 2011 and continuing to this day.</p>
                <div class="btn-group pb-4" role="group">
                    <a href="https://www.youtube.com/channel/UCNBpX9wlGcB59vnv1pdogTA" class="btn btn-primary" aria-current="page">View YouTube Channel</a>
                    <a href="#FAQ" class="btn btn-primary">View Timeline</a>
                </div>
            </div>
            <video style="width:310%; opacity:.5; margin-left:-400px" autoplay preload="true" loop="loop" muted>
                <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
                video not supported
            </video>
        </div>
    </div>
</div>

<main>
    <div class="container mt-3">
        <div class="row mt-2">
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">⌛View Full History</h4>
                    <p>View the mostly-complete timeline of Costi Media and how it changed over time</p>
                    <a href="#beginning" type="button" class="btn btn-primary btn-sm">Jump to Beginning</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4  mb-4">
                    <h4 class="fw-bold">⚔️View Minecraft History</h4>
                    <p>View the rich history of all my previous Minecraft Worlds</p>
                    <a href="/Minecraft/gov#history" type="button" class="btn btn-primary btn-sm">View History</a>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="border-box text-1 p-4 mb-4">
                    <h4 class="fw-bold">🧪Check Out Previous Projects</h4>
                    <p>View previous coding-based projects I have made from over a decade ago!</p>
                    <a href="/Projects" type="button" class="btn btn-primary btn-sm">View Projects</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="disclaimer">
        <h2 class="pb-2 border-bottom">Video Disclaimer</h2>
        <p class="fs-4">Because Costi Online is a publicly-available website for anybody to see, select videos will either be unavailable to watch or not fully shown. This is to protect the privacy of the actors in the videos and ensure no personal information is released. This means many of the videos I have made (especially from 2011 to 2016) will not be populated. Thank you for understanding.</p>
    </div>

    <div class="container-fluid">
        <div class="container mt-5" id="beginning">
            <div class="p-0 mb-4 border-box bg-black">
                <div class="container-fluid p-0 overflow-hidden" style="height:100px;">
                    <div class="position-absolute p-4 text-white" style="z-index:1;">
                        <h1 class="fw-bold">1️⃣: Costi Inc. Era</h1>
                    </div>
                    <video style="width:310%; opacity:.5; margin-left:-400px" autoplay preload="true" loop="loop" muted>
                        <source th:src="@{/videos/banners/CM Banner.m4v}" type="video/mp4">
                        video not supported
                    </video>
                </div>
            </div>
            <div class="container border-bottom">
                <p class="fs-4">The Costi Inc. Era was the very first stage in Cost Media. Initially starting in 2011, I used to make simple Flash animations following a digital media class I took in 6th grade. I found myself a portable version of Flash 8 back when it was owned by Macromedia and begun my work. It was during this time when I found a passion for creating media. I also bought myself a simple video editor to tinker with. Along with making my first animated logo (see video background on the title of this section), I had made the Terency show, a flash-based school project, begun working on a Flash game, and made a trailer for it.</p>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>