<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Home')"></head>
<body class="bg-black text-light">
<div th:replace="Components :: nav"></div>

<div class="container-fluid row px-0 mx-0 d-none d-lg-block">
    <div class="col-lg-3 bg-dark px-5 position-fixed" style="height:100vh;padding-top:70px">
        <h1 class="fs-1">Development Eras</h1>
        <h3 class="my-3"><a href="#IDE" class="fs-4">Interdimensional Era (current)</a></h3>
        <h3 class="my-3"><a href="#PSE" class="fs-4">Pseudo-Industrial Era (17-19)</a></h3>
        <h3 class="my-3"><a href="#HSE" class="fs-4">Highschool Era (14-17)</a></h3>
        <h3 class="my-3"><a href="#CHA" class="fs-4">Childhood Era (14-)</a></h3>
    </div>
</div>
<div class="container-fluid row px-0 mx-0">
    <div class="col-lg-3 d-none d-lg-block">
        behind
    </div>
    <div class="col-xs-12 col-lg-9 px-0" style="height:100vh;padding-top:70px">
        <div class="container-fluid px-5">
            <h1 class="fs-1 mb-3">All Projects</h1>
            <h3 id="IDE" class="fs-3 text-center fw-bold">Interdimentional Era (19+)</h3>

            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/CostiOnline.jpg}" class="card-img-top" alt="Costi Online">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Online</h5>
                    <p class="text-secondary">2022</p>
                    <p class="card-text fs-5">Costi Online is a website that is designed to show off various projects, services, and media I made. This project initially began as a website that covers my 9th Minecraft survival world. It had links to participate in elections, polls, and the history of the previous worlds. After it was published on costionline.com, I decided to make it more general. The aforementioned feature has been moved to the <a href="/Minecraft">Minecraft</a> section.</p>
                    <a href="https://github.com/CKhamis/Costi-Online-Website" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/Polarium.png}" class="card-img-top" alt="Constantine [IN]GRID Polarium">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Constantine [IN]GRID Polarium<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2021</p>
                    <p class="card-text fs-5">This is a personal project I made that keeps track of various relationships I have made similar to a journal. This project was discontinued because of complications with making a secure account system (which is very important for a personal journaling program). This program was able to add, edit, and remove people. Each person had their own database for tracking events.</p>
                    <a href="https://github.com/CKhamis/Constantine-INGRID-Polarium" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/NextGrid.jpg}" class="card-img-top" alt="Constantine [NEXT]GRID">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Constantine [NEXT]GRID<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">Private Repository | 2021</p>
                    <p class="card-text fs-5">This project was quite similar to [IN]GRID Polarium in terms of purpose. They both were designed to be a personal diary. However, this project used Java Swing as its interface and used CSV files for data persistence. There were no third party libraries used in this program, so I made my own CSV reader and writer classes myself. The project was discontinued due to frustrations with Java Swing and persistent bugs and limitations with displaying information. The GitHub repository is private because it contains a CSV file with personal information.</p>
                    <button type="button" class="btn btn-primary mb-3" disabled>See GitHub Page</button>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/BankingApp.png}" class="card-img-top" alt="Co">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Banking App<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">School Collaborative Project | 2021</p>
                    <p class="card-text fs-5">"Our banking app was created using the Java Swing library and an MVC pattern with event driven programming. The application allows for multiple users. Each user has their own account and have different bank accounts such as checkings and savings. The user is able to withdraw, deposit, and transfer to and from each account. In addition, the user has a Credit account where they can view thier credit card balance and pay off their credit card bill." - Sunny Chen, a collaborator</p>
                    <a href="https://github.com/CKhamis/banking-app" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>

            <h3 id="PSE" class="fs-3 text-center fw-bold">Pseudo-Industrial Era (17-19)</h3>

            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/SCQG.jpg}" class="card-img-top" alt="Smart Console Query Generator">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Smart Console Query Generator<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2020</p>
                    <p class="card-text fs-5">This project was made to help me automate a frequently repeating task of my job as an intern in the Cyber Security team of San Jose. This project was meant to create queries for the CheckPoint Smart Console application.</p>
                    <a href="https://github.com/CKhamis/SmartConsoleQueryGenerator" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/Polaric.jpg}" class="card-img-top" alt="Constantine [IN]GRID Polaric">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Constantine [IN]GRID Polaric<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">Private Repository | 2020</p>
                    <p class="card-text fs-5">This was an application designed to analyze spreadsheet journals. It could recognize different versions of the CSV files and show you differences between them, analyze the data in them so you can make better decisions, and more. It was quite an advanced program that took a few months to develop. The project was discontinued because I did not know how to make a GUI for it. This project contains personal information, so the repository is private.</p>
                    <button type="button" class="btn btn-primary mb-3" disabled>See GitHub Page</button>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/FGSA.jpg}" class="card-img-top" alt="Schedule analyzer">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Five Guys Schedule Analyzer<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2020</p>
                    <p class="card-text fs-5">This project was meant to take schedules I receive from Five Guys as an input and give me helpful analytical information. It used my CSV reader file to analyze each schedule and locate valuable information. Discontinued because I did not know of any good way of making a GUI.</p>
                    <a href="https://github.com/CKhamis/Five-Guys-Schedule-Analyzer" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/Polaris.jpg}" class="card-img-top" alt="Constantine [IN]GRID Polaris">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Constantine [IN]GRID Polaris<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2019</p>
                    <p class="card-text fs-5">This project was mainly developed using Javascript D3.js to populate data on webpages from CSV files. The purpose of this program is quite similar to what came after it, which is to display journaling information. The project was discontinued because I could not figure out how I would turn this into a functioning server in the long run. There are no public repositories for this project because the CSV it uses contains personal information.</p>
                    <button type="button" class="btn btn-primary mb-3" disabled>See GitHub Page</button>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/CostiInc.jpg}" class="card-img-top" alt="Costi Inc.">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Inc.<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2018</p>
                    <p class="card-text fs-5">This project is a website I made in 2018 that shared a very similar purpose to this website. It featured the different projects and video channels I was posting to at the time. It utilized bootstrap and was hand coded by me.</p>
                    <a href="https://github.com/CKhamis/Costi-Inc" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>

            <h3 id="HSE" class="fs-3 text-center fw-bold">Highschool Era (14-17)</h3>

            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/CR.jpg}" class="card-img-top" alt="Costi Resume">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Costi Resume<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2017</p>
                    <p class="card-text fs-5">Codename project Velocity. This is a resume website I made using HTML, CSS, and JavaScript. I was about 15 or 16 when I made this. I made this during the time I was learning D3.js</p>
                    <a href="https://github.com/CKhamis/Resume-Website" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/InfiniteID.jpg}" class="card-img-top" alt="Robotics Website">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Constantine Infinite ID<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2017</p>
                    <p class="card-text fs-5">This was the first diary/journaling program I created for myself. It was a website that used D3.JS to pull information from a CSV file that contained all the information needed. The project was discontinued due to bugs that I could not remove at the time.</p>
                    <a href="https://github.com/CKhamis/Infinite-ID" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/RoboticsWebsite3.png}" class="card-img-top" alt="Robotics Website">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Pioneer Robotics Team Website (Milestone 3)<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2017</p>
                    <p class="card-text fs-5">This was a new project I wanted to make for my robotics team. I built it from scratch and I wanted to avoid the design misdirections its predecessors have taken (because of my team manager's preferences) while also applying feedback I heard about the current website. This website is unfinished because during its initial development, my team's manager suggested I should use a website builder instead. Knowing the countless hours and energy I put into this project (and previous robotics webpages) I quit.</p>
                    <a href="https://github.com/CKhamis/https-github.com-CKhamis-Robotics-Website-Milestone-3" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/RoboticsWebsite2.png}" class="card-img-top" alt="Robotics Website">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Pioneer Robotics Team Website (Milestone 2)<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2017</p>
                    <p class="card-text fs-5">This was an iteration of the previous milestone 1 robotics page. It had more features, simpler and easier to navigate pages, and more Java Script integration. It even featured the game snake on the 404 page. It was seemingly generally liked among my team.</p>
                    <a href="https://github.com/CKhamis/Robotics-Website-Milestone-2" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/RoboticsWebsite.jpg}" class="card-img-top" alt="Robotics Website">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Pioneer Robotics Team Website (Milestone 1)<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2016</p>
                    <p class="card-text fs-5">After making a handful of websites for my robotics team (each being rejected at their final development stages) I decided to have the team manager chose what elements he wanted in the team website. He ended up choosing this website design, which was not great in my personal opinion, but I was able to get this published. I made all the assets that went into this website and hand coded everything.</p>
                    <a href="https://github.com/CKhamis/Resume-Website" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/Acceleration.png}" class="card-img-top" alt="Robotics Website">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Pioneer Robotics Team Website (Codename: Acceleration)<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2015</p>
                    <p class="card-text fs-5">This was a website I made over the summer 2015 break in my freshman year. I created a colorful, eye-catching website for my robotics team. I made it entirely from HTML and CSS, created my own assets, and designed the layout myself. I do not have a backup of this project unfortunately and this screenshot is all I have of it. This project was promptly rejected during the first week of school.</p>
                    <button type="button" class="btn btn-primary mb-3" disabled>See GitHub Page</button>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/RoboticsMobileWebsite.jpg}" class="card-img-top" alt="Robotics Website">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Pioneer Robotics Team Mobile Website<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2015</p>
                    <p class="card-text fs-5">When I joined my high school robotics team, I was asked by my web captain to create a mobile counterpart to our desktop only site. I eventually came up with this project. It featured javascript easter eggs and phone-specific styling. I used only HTML, CSS, and Java Script to create my project without any frameworks. The version pictured and saved to GitHub is a very early version of the project. The later versions are currently lost.</p>
                    <a href="https://github.com/CKhamis/Robotics-Mobile-Website" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>

            <h3 id="CHA" class="fs-3 text-center fw-bold">Childhood Era (14-)</h3>

            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/Birds.jpg}" class="card-img-top" alt="Original Angry Birds Wiki">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Original Angry Birds Wiki<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2014</p>
                    <p class="card-text fs-5">This project is a website dedicated to the topic od Angry Birds, a game I liked when I was little. I hand coded this entire website using HTML and CSS with no frameworks.</p>
                    <a href="https://github.com/CKhamis/Angrybird-Wiki" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>
            <div class="card border border-white bg-black my-5">
                <img th:src="@{/images/webpageImages/OriginalCostiWebsite.jpg}" class="card-img-top" alt="Original Laptoop Website">
                <div class="card-body px-5 blue-v-gradient">
                    <h5 class="card-title fw-bold fs-4">Original Laptoop Website<span class="badge rounded-pill bg-danger">Discontinued</span></h5>
                    <p class="text-secondary">2013</p>
                    <p class="card-text fs-5">I made this website when I was first learning web development in 2013. At the time, I was 12. This website featured a product page for a made up laptop of the made up brand "laptoop," which I came up with in third grade.</p>
                    <a href="https://github.com/CKhamis/Laptoop-Company-Website" class="btn btn-primary mb-3">See GitHub Page</a>
                </div>
            </div>

        </div>
        <div th:replace="Components :: footer"></div>
    </div>
</div>
<div th:replace="Components :: scripts"></div>
</body>
</html>