<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Welcome')"></head>
<body class="bg-1 text-1">
<nav class="navbar navbar-expand-lg navbar-dark nav p-0">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="/">
            <img th:src="@{/icons/Logo.png}" alt="" width="20" height="20" class="d-inline-block align-text-top" style="margin-top: 4px;">
            <strong class="text-1" style="font-size: 20px;">Costi Online</strong>
        </a>
    </div>
</nav>

<main class="container mt-3">
    <div class="alert alert-primary d-none d-md-block" role="alert">
        This page was designed for mobile devices. <a href="/">Go back to Costi Online</a>
    </div>

    <div class="card">
        <img th:src="@{images/webpageImages/WikiBg.jpg}" class="card-img-top" alt="Costi's banner" style="aspect-ratio: 16 / 7; object-fit: cover;">
        <div class="card-body">
            <div style="position: absolute; transform: translate(0%, -75%); z-index: 1;">
                <img th:src="@{images/About/Costi.jpg}" class="rounded-3" alt="Costi himself" style="aspect-ratio: 1 / 1; object-fit: cover;width:150px">
            </div>
            <h1 class="pt-5 mt-2 fw-bold">Constantin Khamis</h1>
            <h5 class="text-secondary">Student intern at City of San Jose</h5>
            <p class="card-text">Hello! I am Constantin, or Costi for short (pronounced Coasty). I am very passionate about computers and technology. This website is coded, designed, and deployed by me!</p>
        </div>
    </div>

    <a href="/" class="class mt-3 d-block"><button type="button" class="btn btn-primary btn-lg w-100">Proceed to Costi Online</button></a>

    <div class="row mt-3">
        <div class="col h-100 text-center">
            <a href="/" class="h-100">
                <div class="border-box h-100 p-2">
                    <img th:src="@{images/About/Costi.jpg}" alt="Costi himself" style="aspect-ratio: 1 / 1; object-fit: cover;width:100%">
                    <p class="m-0 pt-1 fw-bold text-1">Contact</p>
                </div>
            </a>
        </div>

        <div class="col h-100 text-center">
            <a href="/" class="h-100">
                <div class="border-box h-100 p-2">
                    <img th:src="@{images/About/Costi.jpg}" alt="Costi himself" style="aspect-ratio: 1 / 1; object-fit: cover;width:100%">
                    <p class="m-0 pt-1 fw-bold text-1">Contact</p>
                </div>
            </a>
        </div>

        <div class="col h-100 text-center">
            <a href="/" class="h-100">
                <div class="border-box h-100 p-2">
                    <img th:src="@{images/About/Costi.jpg}" alt="Costi himself" style="aspect-ratio: 1 / 1; object-fit: cover;width:100%">
                    <p class="m-0 pt-1 fw-bold text-1">Contact</p>
                </div>
            </a>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>