<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{Components :: head('Welcome')}"></head>
<body class="bg-1 text-1">
<nav class="navbar navbar-expand-lg navbar-dark nav p-0">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="/">
            <img id="cow-logo" th:src="@{/icons/Logo.svg}" alt="" width="20" height="20" class="d-inline-block align-text-top" style="margin-top: 4px;">
            <strong id="cow-logo-text" class="text-1" style="font-size: 20px;">Costi Online</strong>
        </a>
    </div>
</nav>

<main id="api-content" class="container-fluid px-4">
    <div th:replace="~{Components :: await-content}"></div>
</main>

<div th:replace="~{Components :: footer}"></div>
<div th:replace="~{Components :: JS}"></div>
<script>
    function checkStatus(response){
        if(response.ok){
            return Promise.resolve(response);
        }else{
            return Promise.reject(response);
        }
    }

    refresh();
    function refresh(){
        const contentFetch = fetch("/api/content/all");

        Promise.all([contentFetch])
            .then(responses => {
                const response1 = checkStatus(responses[0]);

                return Promise.all([response1]);
            })
            .then(data => {
                let response1 = data[0].json();

                return Promise.all([response1]);
            })
            .then(data => {
                document.querySelector("#api-content").innerHTML = data[0].treeContent; // layout data
                animate();
            })
            .catch((response)=>{
                console.log(response);
                response.json()  // Parse the JSON error response
                    .then(errorData => {
                        console.log(errorData);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }



    function animate(){
        //Definitions
        let quickLinks = $("#quick-links").children();
        let name = $("#name");
        let subtitle = $("#subtitle");
        let description = $("#description");
        let logo = $("#cow-logo");
        let logoText = $("#cow-logo-text");

        // Initialize
        $(quickLinks[0]).css("opacity", "0");
        $(quickLinks[1]).css("opacity", "0");
        $(quickLinks[2]).css("opacity", "0");

        $(name).css({"marginLeft": "-50px", "opacity": "0"});
        $(subtitle).css({"marginLeft": "-50px", "opacity": "0"});
        $(description).css("opacity", "0");
        $(logo).css("marginRight", "100px");

        //Execute
        $(logo).delay(0).animate({marginRight: '0px'}, {duration:700});

        $(name).delay(500).animate({opacity: '1', marginLeft: '0'}, {duration:500});
        $(subtitle).delay(600).animate({opacity: '1', marginLeft: '0'}, {duration:500});
        $(description).delay(700).animate({opacity: '1'}, {duration:500});

        $(quickLinks[0]).delay(900).animate({opacity: '1'}, {duration:500});
        $(quickLinks[1]).delay(1000).animate({opacity: '1'}, {duration:500});
        $(quickLinks[2]).delay(1100).animate({opacity: '1'}, {duration:500});
    }
</script>
</body>
</html>