<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Home')"></head>
<body class="bg-2 text-1 mt-5">
<div th:replace="Components :: nav"></div>

<div class="container-fluid row px-4 py-5" id="about">
    <div class="container-fluid">
        <h1 class="pb-2 border-bottom mb-4 fw-bold text-center">Edit Account</h1>
    </div>
    <div class="col-lg-3 col-md-5 col-xs-12">
        <div class="p-3 mb-4 border-box">
            <div class="container-fluid">
                <h3 class="fw-bold">⚠️Important Information</h3>
                <p class="fs-4">Please make sure you read the information below</p>
            </div>
        </div>
        <div class="container-fluid mb-5">
            <p class="fs-4">Please note that the account system is in its alpha phase. Your information is subject to deletion at any point due to a mistake or error. <strong>Please make sure to use a unique password for your account.</strong></p>
        </div>
    </div>
    <div class="col-lg-9 col-md-7 col-xs-12">
        <div class="p-5 mb-2 border-box">
            <h2>Account Status</h2>
            <hr/>
            <div th:replace="Components :: flash" class="my-2"></div>
            <div class="row" th:object="${user}">
                <div class="mb-5 col-lg-4 col-md-6 col-xs-12">
                    <div class="card text-1 border-box">
                        <div class="card-header fw-bold">👔Account Role</div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="|Role: *{role}|">Account Role here</h5>
                            <p class="card-text">User role is unchangeable after account creation. Please see administrator for further details</p>
                        </div>
                    </div>
                </div>
                <div class="mb-5 col-lg-4 col-md-6 col-xs-12">
                    <div th:class="'card text-1 border-box ' + (*{isLocked}? 'bg-danger' : '')">
                        <div class="card-header fw-bold" th:text="(*{isLocked}? '&#128274;' : '&#128275;') + 'Account Lock '">🔑Account Lock</div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="'Your Account is ' + (*{isLocked}? 'locked!' : 'Unlocked!')">Account lock here</h5>
                            <p class="card-text">Your account will be locked if abnormalities are detected in your account</p>
                        </div>
                    </div>
                </div>
                <div class="mb-5 col-lg-4 col-md-6 col-xs-12">
                    <div th:class="'card text-1 border-box ' + (*{enabled}? '' : 'bg-danger')">
                        <div class="card-header fw-bold" th:text="(*{enabled}? '&#9989;' : '&#9940;') + 'Account Enable '">⚠️Account Enable</div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="'Your Account is ' + (*{enabled}? 'enabled!' : 'disabled!')">Account enable here</h5>
                            <p class="card-text">Additional layer of verification for administrator accounts. Not needed for USER role.</p>
                        </div>
                    </div>
                </div>
            </div>

            <form th:action="@{${action}}" method="post" th:object="${user}">
                <h2>Edit Account Information</h2>
                <hr/>
                <div class="form-row row">
                    <div class="col-md-4 mb-3">
                        <label for="fnf">First name</label>
                        <input type="text" class="form-control" id="fnf" th:field="*{firstName}"
                               placeholder="First name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lnf">Last name</label>
                        <input type="text" class="form-control" id="lnf" th:field="*{lastName}"
                               placeholder="Last name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="mnf">Email</label>
                        <input type="text" class="form-control" id="mnf" th:field="*{email}" placeholder="email" required>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-md-6 mb-3">
                        <label for="fnf">Password</label>
                        <input type="password" class="form-control" id="pass" th:field="*{password}" placeholder="Password">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="rol">Website Role</label>
                        <select th:field="*{role}" class="form-control disabledSelect" id="rol" disabled>
                            <option value="" disabled="disabled">Select a role</option>
                            <option value = "ADMIN">Administrator</option>
                            <option value = "USER">User</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <h2>Account Event Logs</h2>
            <hr/>

            <div class="px-0 mb-5 container">
                <div class="row mb-1" th:each="log : ${logs}">
                    <div class="col-4">
                        <p th:text="*{log.dateCreated}"></p>
                    </div>
                    <div class="col-4">
                        <p th:text="*{log.title}"></p>
                    </div>
                    <div class="col-4">
                        <p th:text="*{log.body}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>