<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Home')"></head>
<body class="bg-2 text-1 mt-5">
<div th:replace="Components :: nav"></div>

<div class="container-fluid row px-4 py-5">
    <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="p-3 mb-3 border-box" th:object="${user}">
            <div th:replace="Components :: profilePhoto"></div>
            <h4 class="text-center fw-bold" th:text="|*{firstName} *{lastName}|"></h4>
            <p class="text-center pb-0">Costi Network ID</p>
        </div>
        <div class="p-3 border-box mb-3">
            <h3 class="text-center mb-2">Notifications <span class="badge bg-primary rounded-pill" th:text="${notificationCount}">Primary</span></h3>
            <div th:replace="Components :: notification"></div>
        </div>
    </div>
    <div class="col-lg-9 col-md-7 col-xs-12">
        <div class="p-5 mb-2 border-box">
            <h2>Account Status</h2>
            <hr/>
            <div th:replace="Components :: flash" class="my-2"></div>
            <div class="row" th:object="${user}">
                <div class="mb-5 col-lg-4 col-md-6 col-xs-12">
                    <div class="card text-1 border-box">
                        <div class="card-header fw-bold">👔Account Role</div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="|Role: *{role}|">Account Role here</h5>
                            <p class="card-text">User role is unchangeable after account creation. Please see administrator for further details</p>
                        </div>
                    </div>
                </div>
                <div class="mb-5 col-lg-4 col-md-6 col-xs-12">
                    <div th:class="'card text-1 border-box ' + (*{isLocked}? 'bg-danger' : '')">
                        <div class="card-header fw-bold" th:text="(*{isLocked}? '&#128274;' : '&#128275;') + 'Account Lock '">🔑Account Lock</div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="'Your Account is ' + (*{isLocked}? 'locked!' : 'Unlocked!')">Account lock here</h5>
                            <p class="card-text">Your account will be locked if abnormalities are detected in your account</p>
                        </div>
                    </div>
                </div>
                <div class="mb-5 col-lg-4 col-md-6 col-xs-12">
                    <div th:class="'card text-1 border-box ' + (*{enabled}? '' : 'bg-danger')">
                        <div class="card-header fw-bold" th:text="(*{enabled}? '&#9989;' : '&#9940;') + 'Account Enable '">⚠️Account Enable</div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="'Your Account is ' + (*{enabled}? 'enabled!' : 'disabled!')">Account enable here</h5>
                            <p class="card-text">Additional layer of verification for administrator accounts. Not needed for USER role.</p>
                        </div>
                    </div>
                </div>
            </div>

            <form class="mb-5" th:action="@{${action}}" method="post" th:object="${user}">
                <h2>Edit Account Information</h2>
                <hr/>
                <div class="form-row row">
                    <div class="col-md-6 mb-3">
                        <label for="pp">Profile Image Select</label>
                        <select th:field="*{profilePicture}" class="form-control" id="pp">
                            <option value = "0">Airplane</option>
                            <option value = "1">Ball</option>
                            <option value = "2">Beach</option>
                            <option value = "3">Car</option>
                            <option value = "4">Cat</option>
                            <option value = "5">Chess</option>
                            <option value = "6">Dog</option>
                            <option value = "7">Drip</option>
                            <option value = "8">Duck</option>
                            <option value = "9">Fish</option>
                            <option value = "10">Guest</option>
                            <option value = "11">Guitar</option>
                            <option value = "12">Kick</option>
                            <option value = "13">Launch</option>
                            <option value = "14">Flower</option>
                            <option value = "15">Snowflake</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="rol">Website Role</label>
                        <select th:field="*{role}" class="form-control disabledSelect" id="rol" disabled>
                            <option value="" disabled="disabled">Select a role</option>
                            <option value = "ADMIN">Administrator</option>
                            <option value = "USER">User</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-md-4 mb-3">
                        <label for="fnf">First name</label>
                        <input type="text" class="form-control" id="fnf" th:field="*{firstName}"
                               placeholder="First name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lnf">Last name</label>
                        <input type="text" class="form-control" id="lnf" th:field="*{lastName}"
                               placeholder="Last name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="mnf">Email</label>
                        <input type="text" class="form-control" id="mnf" th:field="*{email}" placeholder="email" required>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-md-6 mb-3">
                        <label for="fnf">Password</label>
                        <input type="password" class="form-control" id="pass" th:field="*{password}" placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <h2>Account Event Logs</h2>
            <hr/>

            <div class="px-0 container">
                <div class="row mb-1" th:each="log : ${logs}">
                    <div class="col-4">
                        <p th:text="${log.dateCreated}"></p>
                    </div>
                    <div class="col-4">
                        <p th:text="${log.title}"></p>
                    </div>
                    <div class="col-4">
                        <p th:text="${log.body}"></p>
                    </div>
                </div>
            </div>
        </div>
        <p>*Costi Network IDs are not as secure as accounts of other websites. Make sure to use a unique password for this website. Accounts are subject for deletion at any point, as this is an experimental feature. Accounts are unable to be deleted once created unless an admin performs manual database editing. Passwords are encrypted in the server's database and cannot be recovered at this time.</p>
    </div>
</div>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>