<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Account')"></head>
<body class="bg-2 text-1">
<div th:replace="Components :: main-navigation"></div>

<main class="container-fluid">
    <input type="hidden" th:value="${id}" id="id"/>
    <div class="container" id="error-container">
        <div class="row mt-4">
            <div class="col-12 col-md-3">
                <img class="img-fluid" id="profile-image" style="width:100%; object-fit: cover; aspect-ratio: 1 / 1;">
                <h3 class="text-center fw-bold" id="user-name-text">User Name</h3>
                <div id="user-role-badge" class="d-flex justify-content-center align-items-center">Role</div>
            </div>
            <div class="col-12 col-md-9">
                <div>
                    <nav>
                        <div class="nav nav-tabs mb-3" id="view-tabs" role="tablist" style="background-color: transparent; border:none">
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" tabindex="-1">Profile</button>
                            <button class="nav-link" id="nav-notifications-tab" data-bs-toggle="tab" data-bs-target="#nav-notifications" type="button" role="tab" aria-controls="nav-notifications">Notifications</button>
                            <button class="nav-link" id="nav-logs-tab" data-bs-toggle="tab" data-bs-target="#nav-logs" type="button" role="tab" aria-controls="nav-logs" tabindex="-1">Logs</button>
                            <button class="nav-link" id="nav-wiki-tab" data-bs-toggle="tab" data-bs-target="#nav-wiki" type="button" role="tab" aria-controls="nav-wiki">Wiki Content</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <h3 class="fw-bold">Edit User Details</h3>
                            <hr />
                            <div class="form-row row">
                                <div class="col-6 mb-3">
                                    <label for="profilePicture">Profile Picture</label>
                                    <select class="form-control" id="profilePicture" name="profilePicture" required>
                                        <option value="" disabled="disabled">Select a profile picture</option>
                                        <option value="1">Logo</option>
                                        <option value="2">Axcel on a couch</option>
                                        <option value="3">Costi</option>
                                        <option value="4">Evil orthodontist</option>
                                        <option value="5">Axcel sitting</option>
                                        <option value="6">Train</option>
                                        <option value="7">Dragonboat</option>
                                        <option value="8">Funtime Costi</option>
                                        <option value="9">SJSU</option>
                                        <option value="10">Rock Pikmin</option>
                                        <option value="11">Airplane</option>
                                        <option value="12">Chess</option>
                                        <option value="13">Red flower</option>
                                    </select>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="role">Role</label>
                                    <select id="role" class="form-control" required>
                                        <option value="" disabled="disabled">Select a role</option>
                                        <option value="ADMIN">Admin</option>
                                        <option value="OWNER">Owner</option>
                                        <option value="USER">User</option>
                                    </select>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" required>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-sm btn-primary" onclick="saveUser()">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade table-responsive" id="nav-notifications" role="tabpanel" aria-labelledby="nav-notifications-tab" tabindex="0">
                            <table class="table table-sm align-middle table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Body</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="notifications-table-body">
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade table-responsive" id="nav-logs" role="tabpanel" aria-labelledby="nav-logs-tab" tabindex="0">
                            <table class="table table-sm align-middle table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Body</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="logs-table-body">
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade table-responsive" id="nav-wiki" role="tabpanel" aria-labelledby="nav-wiki-tab" tabindex="0">
                            <table class="table table-sm align-middle table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Subtitle</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Last Edited</th>
                                    <th scope="col">Views</th>
                                    <th scope="col">View</th>
                                    <th scope="col">Enable</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="wiki-table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: JS"></div>
<script>
    // Elements
    let count = document.querySelector("#notification-count");
    let container = document.querySelector("#notification-container");
    let logTable = document.querySelector("#table-body");
    let errorContainer = document.querySelector("#error-container");

    // Data
    let notifications, logs;

    // Fetch
    const logFetch = fetch("/api/account-logs/all");
    const notificationFetch = fetch("/api/notifications/all");

    // fetch
    function refresh(){
        Promise.all([logFetch, notificationFetch])
            .then(responses => {
                const response1 = checkStatus(responses[0]);
                const response2 = checkStatus(responses[1]);

                return Promise.all([response1, response2]);
            })
            .then(data => {
                let logDownload = data[0].json();
                let notificationDownload = data[1].json();

                return Promise.all([logDownload, notificationDownload]);
            })
            .then(data => {
                logs = data[0]; // post data
                notifications = data[1]; // recommendation data
                renderLogs();
                renderNotifications();
            })
            .catch((response)=>{
                console.log(response);
                response.json()  // Parse the JSON error response
                    .then(errorData => {
                        errorContainer.innerHTML = `<img src="/icons/Error.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                    })
                    .catch(error => {
                        errorContainer.innerHTML = `<img src="/icons/Error.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">There was an error receiving data from Costi Online Services</h3><p class="text-center">Error message could not be parsed. ${error}</p>`;

                        console.error("Error parsing error response:", error);
                    });
            });
    }

    refresh();
    setInterval(refresh, 30000);

    function deleteNotification(id){
        postData("/api/notifications/delete", id)
            .catch(err => {
                console.log(err);
            })
            .then(refresh);
    }

    // Render
    function renderLogs(){
        let tableContent = ``;
        for(let log of logs){
            tableContent += `
            <tr>
                <td>${log.dateCreated}</td>
                <td>${log.title}</td>
                <td>${log.body}</td>
            </tr>
            `;
        }
        logTable.innerHTML = tableContent;
    }

    function renderNotifications(){
        count.innerText = notifications.length;
        if(notifications.length > 0){
            let content = ``;
            for(let i = notifications.length-1; i >= 0; i--){
                let notification = notifications[i];

                content += `
                    <div class="alert alert-${notification.notificationType} alert-dismissible fade show" role="alert">
                        <p class="fw-bold d-inline">${notification.title} • </p>
                        <p class="d-inline">${notification.timeSinceCreated}</p>
                        <a class="btn-close" onclick="deleteNotification(${notification.id})"></a>
                        <p>${notification.body}</p>
                    </div>
                `;
            }
            container.innerHTML = content;
        }else{
            container.innerHTML = "<p class='text-center'>No Notifications</p>";
        }
    }
</script>
</body>
</html>