/***********************************
        Universal Stylesheet
***********************************/

/* About */
#education{
    background-image: url('/images/About/SJSU.jpg');
    background-position: right;
    background-attachment: fixed;
}
/* Wiki */
.wikiBannerBg{
     background-image: url(images/webpageImages/WikiBg.jpg);
     background-size: 100%;
}
.wikiRestrictedBannerBg{
     background-image: url(images/webpageImages/WikiRestrictedBg.jpg);
     background-size: 100%;
}
#contentBody{
    line-height: 2rem;
}

/* Home */
#projects{
    background-image: url('/images/webpageImages/CostiOnline.jpg');
    background-position: right;
    background-attachment: fixed;
}
#media{
    background-image: url('/images/webpageImages/Pioneer News Cover.jpg');
    background-position: center;
    background-attachment: fixed;
}
#media > div{
    background-color: rgba(0,0,0,.8);
}
#media img{
    width: 25%;
}
.slide{
    width:100%;
    aspect-ratio: 3 / 1;
    object-fit:cover;
}

@media screen and (max-width: 768px){
    .slide{
        width:100%;
        aspect-ratio: 1 / 1;
        object-fit:cover;
    }

    #media img{
        width: 50%;
    }
}