/***********************************
        Universal Stylesheet
***********************************/

/* Universal */
.profile-photo{
    width:100%;
    aspect-ratio: 1 / 1 !important;
    object-fit:cover;
}

.banner-video{
    width: 100%;
    opacity:.5;
}
.banner-logo{
    width: 50%;
    transform: translate(-50%, 0%);
    left: 50%; position: relative;
    display: inline-block;
}

@media screen and (max-width: 1000px){
    .banner-video{
        height:100%;
        width:auto;
        margin-top: auto;
    }

    .banner-logo{
        width: 100%;
    }
}

/* Labs */
.light-controller-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

.light-controller-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border-radius: 100px;
}

/* About */
#education{
    background-image: url('/images/About/SJSU.jpg');
    background-position: right;
    background-size: 100%;
    background-attachment: fixed;
}
/* Wiki */
.wikiBannerBg{
     background-image: url(images/webpageImages/WikiBg.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}
.wikiRestrictedBannerBg{
     background-image: url(images/webpageImages/WikiRestrictedBg.jpg);
     background-size: 100%;
}
.wiki-body{
    line-height: 2rem;
}

/* Home */
#projects{
    background-image: url('/images/webpageImages/CostiOnline.jpg');
    background-position: right;
    background-attachment: fixed;
}
#media{
    background-image: url('/images/Slideshow/SJSUm.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#media > div{
    background-color: rgba(0,0,0,.8);
}
#media img{
    width: 25%;
}
.slide{
    width:100%;
    aspect-ratio: 3 / 1;
    object-fit:cover;
}
#wiki{
    background-image: url('/images/webpageImages/WikiBg.jpg');
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}
#wiki > div{
    background-color: rgba(0,0,0,.8);
}

@media screen and (max-width: 768px){
    .slide{
        width:100%;
        aspect-ratio: 1 / 1;
        object-fit:cover;
    }

    #media img{
        width: 50%;
    }
}

/* Media */
.border-box > img, .border-box > iframe{
    aspect-ratio: 16 / 9;
    object-fit:cover;
}

/* Moderator */
.ac-grid-container {
  display: grid;
  grid-template-columns: 25% 20% 20% auto;
  gap: 10px;
  height:100%;
}

.LED-background{
    background-image: url('/images/webpageImages/LED Banner.webp');
    background-position: right;
    background-size: 100%;
    background-attachment: fixed;
}

.action-button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#stats-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

@media (max-width: 992px) {
    #stats-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.action-button > img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 25%;
}

.action-button > p, #stats-container p{
    margin-bottom: 0;
}

.action-button{
    cursor: pointer;
}

.ac-grid-scroll-pane{
    height:calc(100vh - 7rem - 10px);
    overflow:scroll;
}

.fixed-moderator-content{
    position:fixed;
    height:calc(100vh - 7rem);
}

.as-grid-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

/* Newsroom */
.newsroom-slide{
    width:100%;
    aspect-ratio: 16 / 9;
    object-fit:cover;
}

.badge-positioned{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
.newsroom-slide-caption{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0) 100%);
    margin-bottom:40px;
}

@media screen and (max-width: 768px){
    .newsroom-slide{
        width:100%;
        aspect-ratio: 1 / 1;
        object-fit:cover;
    }
}

/* Game */
.sprite{
    display: none;
}