<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="minecraft/MinecraftComponents :: head('New Candidate')"></head>
<body  class="bg-1 text-1">
<div th:replace="Components :: JS"></div>
<div th:replace="minecraft/MinecraftComponents :: nav"></div>

<div class="container mt-5 pt-5">
    <p class="fs-5"><a href="/Minecraft/vote">Return to previous screen ></a></p>
    <div class="p-5 mb-4 border-box">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Register to Run for Office</h1>
            <p class="col-md-8 fs-4">Add yourself to the ballot here!</p>
        </div>
    </div>
    <!--<div class="alert alert-info" role="alert">
        <p class="fs-4 mb-0">ℹ️Current Status: No available positions to run. Please check back later</p>
    </div>-->
    <div class="d-flex justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdQWAtEMBj_W84tqMVGEH_ctbcYbbWwp95_ipNgDGH3RLZDgQ/viewform?embedded=true" width="640" height="791" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>

<div th:replace="Components :: footer"></div>
<div th:replace="minecraft/MinecraftComponents :: scripts"></div>
</body>
</html>