<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="minecraft/MinecraftComponents :: head('Home')"></head>
<body class="bg-dark text-light">
<div th:replace="minecraft/MinecraftComponents :: nav"></div>

<div class="container mt-5 pt-5">
    <p class="fs-5"><a href="/Minecraft/vote">Return to previous screen ></a></p>
    <div class="p-5 mb-4 bg-dark rounded-3 border border-white">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">All Registered Citizens</h1>
            <p class="col-md-8 fs-4">Participate in voting for office here!</p>
        </div>
    </div>
</div>

<div th:replace="Components :: footer"></div>
<div th:replace="minecraft/MinecraftComponents :: scripts"></div>
</body>
</html>