<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="minecraft/MinecraftComponents :: head('Ballot Info')"></head>
<body class="bg-dark text-light">
<div th:replace="minecraft/MinecraftComponents :: nav"></div>

<div class="container mt-5 pt-5">
    <p class="fs-5"><a href="/Minecraft/vote">Return to previous screen ></a></p>
    <div class="p-5 mb-4 bg-dark rounded-3 border border-white">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">What's on the ballot?</h1>
            <p class="col-md-8 fs-4">Find information regarding important definitions of items to vote on in detail</p>
        </div>
    </div>
    <div class="alert alert-success" role="alert">
        <p class="fs-4 mb-0">⌛ The first election will be on rat</p>
    </div>
    <h1 id="general" class="mt-5">General Information</h1>
    <div class="mb-4 <p class="fs-5"><a href="/vote">Return to previous screen ></a></p>">
        <div class="container-fluid p-5">
            <h4 class="fw-bold">Overview</h4>
            <p class="fs-4">Elections are run every 3 months, for each election there will be a ballot. Complete the ballot before the deadline to have your vote count.</p>
            <h4 class="fw-bold">Candidate Elections</h4>
            <p class="fs-4">Candidates are only allowed to run for mayoral positions or lower (if the mayor decides to create more positions). You will be seeing their statements and issues on this page. Mayors can only govern one city at a time. Chose who you think would be the best fit for mayor.</p>
            <h4 class="fw-bold">Referendums</h4>
            <p class="fs-4">Referendums are laws that will be passed with the majority of a city/ world's vote. Mayors can add referendums to the ballot by asking Costi. Mayors are not required to pass laws through a referendum.</p>
        </div>
    </div>

    <!--<h1 id="candidates" class="mt-5">Candidate Info</h1>
    <h3>The City of Constantinople</h3>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Costi Khamis <span class="badge bg-primary">Current</span></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mt-3">The City of RatTown</h3>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alex Khamis <span class="badge bg-primary">Current</span></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>

    <h1 id="laws" class="mt-5">Referendums</h1>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Referendum 1</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Referendum 2</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Referendum 3</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">1</div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">2</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">3</div>
    </div>


    <h1 id="FAQ" class="mt-5">Frequently Asked Questions</h1>
    <div class="accordion mb-5" id="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Poll1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This server uses Minecraft Bedrock Edition.</strong> While there are many advantages Minecraft Java Edition has over the Bedrock counterpart, we ultimately decided to go with Bedrock because of its versatility and far greater performance over Java edition. If you only own Java edition, don't fret! Microsoft has recently announced that they will be giving all Minecraft users both versions of the game. It will not be necessary to purchase Bedrock edition if you already own Java edition.
                </div>
            </div>
        </div>
    </div>-->
</div>
<div th:replace="Components :: footer"></div>
<div th:replace="minecraft/MinecraftComponents :: scripts"></div>
</body>
</html>