<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="minecraft/MinecraftComponents :: head('Home')"></head>
<body class="bg-1 text-1">
<div th:replace="minecraft/MinecraftComponents :: nav"></div>

<div class="container mt-5 pt-5">
    <p class="fs-5"><a href="/Minecraft/vote">Return to previous screen ></a></p>
    <div class="p-5 mb-4 border-box">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Register to Vote</h1>
            <p class="col-md-8 fs-4">If you haven't already, please complete the citizenship Google form below in order to participate in polls and elections</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf_fYhogAkWS02Baz3Yi1Vq_8VRlIfCHw6rtL6lklOLnSY7tw/viewform?embedded=true" width="640" height="915" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>

<div th:replace="Components :: footer"></div>
<div th:replace="minecraft/MinecraftComponents :: scripts"></div>
</body>
</html>