<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('Gov')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: JS"></div>
<div th:replace="minecraft/MinecraftComponents :: nav"></div>

<div class="container mt-3" id="api-content">
    <div th:replace="Components :: await-content"></div>
</div>

<div th:replace="Components :: footer"></div>
<link rel="stylesheet" th:href="@{/MCstyles.css}" />

<script>
    refresh();
    function refresh(){
        const contentFetch = fetch("/api/content/all");

        Promise.all([contentFetch])
            .then(responses => {
                const response1 = checkStatus(responses[0]);

                return Promise.all([response1]);
            })
            .then(data => {
                let response1 = data[0].json();

                return Promise.all([response1]);
            })
            .then(data => {
                document.querySelector("#api-content").innerHTML = data[0].minecraftGovernmentContent; // layout data
            })
            .catch((response)=>{
                console.log(response);
                response.json()  // Parse the JSON error response
                    .then(errorData => {
                        console.log(errorData);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }
</script>
</body>
</html>