<!DOCTYPE html>
<html lang="en">

<head th:fragment="head(page_title)" lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" th:href="@{/icons/Logo.png}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{${theme}}" />
    <link rel="stylesheet" th:href="@{/Styles.css}" />
    <title th:text="'Costi Online | ' + ${page_title}">Costi Online</title>
</head>

<body>

<div th:fragment="main-navigation" class="navbar-fixed position-fixed" style="z-index:99; width:100%;top:0;opacity:95%">
    <nav th:fragment="topNav" class="navbar navbar-expand-lg navbar-dark nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/icons/Logo.png}" alt="" width="30" height="30" class="d-inline-block align-text-top">
                <strong class="text-1">Costi Online</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                <svg class="bi bi-list hamburger-menu-icon" width="24" height="24" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.5 2.75A.75.75 0 0 1 2.25 2h11.5a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1-.75-.75zM1.5 7.75A.75.75 0 0 1 2.25 7h11.5a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1-.75-.75zM1.5 12.75a.75.75 0 0 1 .75-.75h11.5a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1-.75-.75z"/>
                </svg>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
                <div class="navbar-nav">
                    <a class="nav-link px-3" aria-current="page" href="/">Home</a>
                    <a class="nav-link px-3" href="/Projects">Projects</a>
                    <a class="nav-link px-3" href="/Media">Media</a>
                    <a class="nav-link px-3" href="/Wiki">Wiki</a>
                    <a class="nav-link px-3" href="/Newsroom">Newsroom</a>
                    <a class="nav-link px-3" href="/Minecraft">Minecraft</a>
                    <a class="nav-link px-3" href="/About">About</a>

                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul th:unless="${loggedIn}" class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/SignUp">Sign Up</a></li>
                            <li><a class="dropdown-item" href="/Account">Sign In</a></li>
                        </ul>

                        <ul th:if="${loggedIn}" class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item fw-bold" href="/Account" th:text="|${user.firstName} ${user.lastName}|">Action</a></li>
                            <li><a class="dropdown-item" href="/Account" th:text="|Notifications: ${notificationCount}|">Notifications</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/Account">Account Settings</a></li>
                            <li class="dropdown-item">
                                <form th:action="@{/logout}" method="post">
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-link p-0 text-1 text-decoration-none">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>

                </div>
            </div>

        </div>
    </nav>
</div>

<script th:fragment="scripts">
    // Universal assets for Axcel Game
    $('.sprite').click(function() {
        let spriteName = $(this).data('sprite-name');
        let sprite = $(this); // save a reference to the clicked sprite element
        $.post("/games/Axcel/found-sprite", { spriteName: spriteName }, function(response) {
            if (response.success) {
                sprite.animate({ height: '0px' }, 500, function() {
                    sprite.css("display", "none");
                });
            } else {
                alert(response.message);
            }
        });
    });

    function updateSpriteVisibility(foundSprites) {
        $(".sprite").each(function() {
            let spriteName = $(this).data("sprite-name");
            if ($.inArray(spriteName, foundSprites) !== -1) {
                $(this).css("display", "none");
            } else {
                $(this).css("display", "block");
            }
        });
    }

    function startTimer(startTimeString) {
        // Display timer
        $("#timer-container").css("display", "block");

        // Parse the start time string into a Date object
        let startTime = new Date(Date.parse(startTimeString));

        // Check if the start time is a valid date object
        if (isNaN(startTime.getTime())) {
            console.error("Invalid start time:", startTimeString);
            return;
        }

        // Get the current time
        let currentTime = new Date();

        // Calculate the time elapsed since the game started
        let timeElapsed = Math.floor((currentTime - startTime) / 1000); // Convert to seconds

        // Format the elapsed time in minutes and seconds
        let minutes = Math.floor(timeElapsed / 60);
        let seconds = timeElapsed % 60;
        let timeString = minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0");

        // Display the elapsed time in minutes and seconds
        $("#timer").text(timeString);

        // Schedule the next update in 1 second
        setTimeout(function() {
            startTimer(startTimeString);
        }, 1000);
    }
</script>

<script th:fragment="axcel-game">
    // Everything except for home page
    $(document).ready(function() {
        checkGameStarted();
    });

    function checkGameStarted() {
        $.ajax({
            url: "/games/Axcel/check-game-status",
            type: "GET",
            success: function(response) {
                if (response.gameStarted) {
                    startTimer(response.timeStart);
                    updateSpriteVisibility(response.foundSprites);
                }
            },
            error: function(xhr, status, error) {
                // Handle any errors that occur during the AJAX request
                alert("Error checking if game has started: " + error);
            }
        });
    }
</script>

<div th:fragment="flash" th:if="${flash != null}" th:class="'alert alert-dismissible fade show alert-' + ${#strings.toLowerCase(flash.status)}" role="alert">
    <div class="fw-bold d-inline" th:text="${flash.title}"></div>
    <div class="d-inline" th:text="${flash.message}"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:fragment="message" th:if="${message != null}" class="alert alert-dismissible fade show" style="background-color:rgba(0,0,0,.1); border: 1px black solid;">
    <div class="fw-bold d-inline" th:text="${message.title}"></div>
    <div class="d-inline" th:text="${message.body}"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:fragment="notification" th:each="notification : ${notifications}" th:class="|alert alert-${notification.notificationType} alert-dismissible fade show|" role="alert">
    <p class="fw-bold d-inline" th:text="|${notification.title} • |"></p>
    <p class="d-inline" th:text="${notification.dateCreated}"></p>
    <a class="btn-close" th:href="@{|/Account/Notification/${notification.id}/delete|}"></a>
    <p th:utext="${notification.body}"></p>
</div>

<div th:fragment="dialogue-box" class="container-fluid position-fixed" id="dialogue-container" style="display:none;bottom:0px; background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);">
    <div class="row" style="bottom: 50px; position: relative">
        <div class="d-none d-md-block col-md-1 col-lg-2"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <div>
                <img th:src="@{images/games/axcel/sitting.gif}" style="height:100px;"/>
            </div>
            <div class="alert alert-primary mb-0">
                <h3 class="fw-bold float-start" id="dialogue-name">Axcel</h3>
                <p class="float-end text-decoration-underline" id="dialogue-skip">Skip</p>
                <br clear="all">
                <p class="mb-1" id="dialogue-message">adf asdfua fdaufd asfud asdfnasdf asldfh dfjha sfdkjahf as fdaksjdf asdfhsd fjhaksdfjh sdfs df sdd sdfj adf</p>
                <p class="text-decoration-underline mb-0" id="dialogue-next">Next</p>
            </div>
        </div>
    </div>
</div>

<div th:fragment="timer-box" class="alert alert-dark position-fixed" style="bottom: 20px; left:50px;display: none;z-index: 99" id="timer-container">
    <img th:src="@{/icons/Timer.svg}" class="float-start"  alt="timer icon" style="width:20px; margin-right: 10px; padding-top:2px;">
    <p class="float-start mb-0 ml-1" id="timer"></p>
</div>

<th:block th:fragment="profilePhoto" th:switch="*{profilePicture}">
    <img th:case="0" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/airplane.jpg}" />
    <img th:case="1" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/ball.jpg}" />
    <img th:case="2" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/beach.jpg}" />
    <img th:case="3" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/car.jpg}" />
    <img th:case="4" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/cat.jpg}" />
    <img th:case="5" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/chess.jpg}" />
    <img th:case="6" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/dog.jpg}" />
    <img th:case="7" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/drip.jpg}" />
    <img th:case="8" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/duck.jpg}" />
    <img th:case="9" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/fish.jpg}" />
    <img th:case="10" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/guest.jpg}" />
    <img th:case="11" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/guitar.jpg}" />
    <img th:case="12" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/kick.jpg}" />
    <img th:case="13" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/lift-off.jpg}" />
    <img th:case="14" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/red flower.JPG}" />
    <img th:case="15" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/snowflake.jpg}" />
</th:block>

<div th:fragment="footer" class="text-1 tiled-COW-background" id="footer">
    <div class="container py-5">
        <footer>
            <div class="row g-4 row-cols-1 row-cols-lg-5">
                <div class="col">
                    <a href="/About#website" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        <img th:src="@{/icons/Constantine Logo v5.png}" class="me-2"  style="width:40px">
                    </a>
                    <p class="color-light">Costi Online is developed by Constantine Khamis. Linux support by Cory Robertson</p>
                </div>

                <div class="col d-lg-block d-xs-none">

                </div>

                <div class="col">
                    <h5 class="fw-bold">Costi Online</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-1">Home</a></li>
                        <li class="nav-item mb-2"><a href="/About" class="nav-link p-0 text-1">Newsroom</a></li>
                        <li class="nav-item mb-2"><a href="/Wiki" class="nav-link p-0 text-1">Wiki</a></li>
                        <li class="nav-item mb-2"><a href="/About" class="nav-link p-0 text-1">About</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="fw-bold">Costi Projects</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/Projects" class="nav-link p-0 text-1">Coding Projects</a></li>
                        <li class="nav-item mb-2"><a href="/Media#series" class="nav-link p-0 text-1">Costi Media Projects</a></li>
                        <li class="nav-item mb-2"><a href="/Media#2022" class="nav-link p-0 text-1">Costi Media 2022</a></li>
                        <li class="nav-item mb-2"><a href="/Minecraft/gov" class="nav-link p-0 text-1">Minecraft Government</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="fw-bold">Costi Online</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/Account" class="nav-link p-0 text-1">Account Settings</a></li>
                        <li class="nav-item mb-2"><a href="/Wiki/Create" class="nav-link p-0 text-1">Add to Costipedia</a></li>
                        <li class="nav-item mb-2"><a href="/COMT" class="nav-link p-0 text-1">COMT</a></li>
                    </ul>
                </div>
            </div>
            <nav class="d-flex justify-content-center mt-2">
                <a class="px-3 text-1" href="https://www.instagram.com/costikhamis/">Instagram</a>
                <p>|</p>
                <a class="px-3 text-1" href="https://www.youtube.com/@costimedia7326/">YouTube</a>
                <p>|</p>
                <a class="px-3 text-1" href="https://github.com/CKhamis">GitHub</a>
            </nav>
        </footer>
    </div>
</div>

</body>
</html>