<!DOCTYPE html>
<html lang="en">

<head th:fragment="head(page_title)" lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" th:href="@{/icons/Logo.png}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{${theme}}" />
    <link rel="stylesheet" th:href="@{/Styles.css}" />

    <title th:text="'Costi Online | ' + ${page_title}">Costi Online</title>
</head>

<body>

<div th:fragment="nav" class="navbar-fixed position-fixed" style="z-index:99; width:100%;top:0;opacity:95%">
    <nav th:fragment="topNav" class="navbar navbar-expand-lg navbar-dark nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/icons/Logo.png}" alt="" width="30" height="30" class="d-inline-block align-text-top">
                <strong class="text-1">Costi Online</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
                <div class="navbar-nav">
                    <a class="nav-link px-3" aria-current="page" href="/">Home</a>
                    <a class="nav-link px-3" href="/Projects">Projects</a>
                    <a class="nav-link px-3" href="/Media">Media</a>
                    <a class="nav-link px-3" href="/Wiki">Wiki</a>
                    <a class="nav-link px-3" href="/Minecraft">Minecraft</a>
                    <a class="nav-link px-3" href="/About">About</a>
                </div>
            </div>
            <div th:class="'' + (*{loggedIn}? 'd-none' : 'd-flex')">
                <a href="/SignUp" class="link-secondary px-3" style="padding-top:5px;">Sign up</a>
                <a href="/Account" class="btn btn-primary">Sign In</a>
            </div>
            <div th:class="'' + (*{loggedIn}? 'd-flex' : 'd-none')">
                <a class="nav-link px-3 text-1 fw-bold" href="/Account" th:utext="|${user.firstName} ${user.lastName} [${notificationCount}]|">Account</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" value="Sign Out" class="btn btn-primary">Sign Out</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="scripts">
    <!--<script th:src="@{/app.js}"></script>-->
</div>

<div th:fragment="flash" th:if="${flash != null}" th:class="'alert alert-dismissible fade show alert-' + ${#strings.toLowerCase(flash.status)}" role="alert">
    <div class="fw-bold d-inline" th:text="${flash.title}"></div>
    <div class="d-inline" th:text="${flash.message}"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:fragment="message" th:if="${message != null}" class="alert alert-dismissible fade show" style="background-color:rgba(0,0,0,.1); border: 1px black solid;">
    <div class="fw-bold d-inline" th:text="${message.title}"></div>
    <div class="d-inline" th:text="${message.body}"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:fragment="notification" th:each="notification : ${notifications}" th:class="|alert alert-${notification.notificationType} alert-dismissible fade show|" role="alert">
    <p class="fw-bold d-inline" th:text="|${notification.title} • |"></p>
    <p class="d-inline" th:text="${notification.dateCreated}"></p>
    <a class="btn-close" th:href="@{|/Account/Notification/${notification.id}/delete|}"></a>
    <p th:utext="${notification.body}"></p>
</div>

<th:block th:fragment="profilePhoto" th:switch="*{profilePicture}">
    <img th:case="0" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/airplane.jpg}" />
    <img th:case="1" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/ball.jpg}" />
    <img th:case="2" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/beach.jpg}" />
    <img th:case="3" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/car.jpg}" />
    <img th:case="4" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/cat.jpg}" />
    <img th:case="5" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/chess.jpg}" />
    <img th:case="6" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/dog.jpg}" />
    <img th:case="7" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/drip.jpg}" />
    <img th:case="8" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/duck.jpg}" />
    <img th:case="9" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/fish.jpg}" />
    <img th:case="10" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/guest.jpg}" />
    <img th:case="11" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/guitar.jpg}" />
    <img th:case="12" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/kick.jpg}" />
    <img th:case="13" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/lift-off.jpg}" />
    <img th:case="14" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/red flower.JPG}" />
    <img th:case="15" class="profile-photo" th:src="@{/icons/profile-photos/Windows Icons/snowflake.jpg}" />
</th:block>

<div th:fragment="footer" class="text-1" id="footer">
    <div class="container py-5">
        <footer>
            <div class="row g-4 row-cols-1 row-cols-lg-5">
                <div class="col">
                    <a href="/About#website" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        <img th:src="@{/icons/Constantine Logo v5.png}" class="me-2"  style="width:40px">
                    </a>
                    <p class="color-light">Costi Online is designed, developed, tested, and hosted by Constantine Khamis</p>
                </div>

                <div class="col d-lg-block d-xs-none">

                </div>

                <div class="col">
                    <h5 class="fw-bold">Information</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-1">Home</a></li>
                        <li class="nav-item mb-2"><a href="/Projects" class="nav-link p-0 text-1">Project Showcase</a></li>
                        <li class="nav-item mb-2"><a href="/About" class="nav-link p-0 text-1">About</a></li>
                        <li class="nav-item mb-2"><a href="/Wiki" class="nav-link p-0 text-1">Wiki</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="fw-bold">Minecraft</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/Minecraft/vote/BallotInfo#general" class="nav-link p-0 text-1">Minecraft Home</a></li>
                        <li class="nav-item mb-2"><a href="/Minecraft/vote" class="nav-link p-0 text-1">Voting Center</a></li>
                        <li class="nav-item mb-2"><a href="/Minecraft/vote/BallotInfo#general" class="nav-link p-0 text-1">Election Rules</a></li>
                        <li class="nav-item mb-2"><a href="/Minecraft/gov" class="nav-link p-0 text-1">Server Government</a></li>
                        <li class="nav-item mb-2"><a th:href="@{/downloads/The Costitution.docx}" download="Costitution.docx" class="nav-link p-0 text-1">Download Costitution</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="fw-bold">Costi Online</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/Account" class="nav-link p-0 text-1">Account Settings</a></li>
                        <li class="nav-item mb-2"><a href="/Wiki/Create" class="nav-link p-0 text-1">Add to Costipedia</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>