<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="components :: head('Home')"></head>
<body>
<div th:replace="components :: nav"></div>

<!-- Carousel -->
<div class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img th:src="@{/images/img.png}" alt="Los Angeles" class="d-block" style="width:100%; z-index:0">
            <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <div class="carousel-item" th:each="article : ${articles}">
            <img th:src="@{${article.photosImagePath}}" alt="Los Angeles" class="d-block" style="width:100%; z-index:0">
            <div class="carousel-caption">
                <h3 th:text="*{article.title}">title</h3>
                <p>We had such a great time in LA!</p>
                <p th:text="*{article.email}"></p>
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
<div class="container px-4 py-5" id="about">
    <h2 class="pb-2 border-bottom">About this Server</h2>
    <p class="fs-4">Costi Survival World 9 is a Java based Minecraft survival server. It's main gimmick is that there is a role-play government where you are able to
    become your city's mayor if you win an election. Players will work together to build out their cities over time. The server will be run on little to no mods or
    plugins.</p>
    <p class="fs-4"><a href="/gov#currentGovernment">Learn more ></a>
</div>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Server Features</h2>
    <div class="row g-4 row-cols-1 row-cols-lg-5">
        <div class="feature col">
            <div class="feature-icon">
                <h1>🖥️</h1>
            </div>
            <h4>Minecraft Version</h4>
            <p class="fs-5">Minecraft Java Edition 1.18</p>
        </div>
        <div class="feature col">
            <div class="feature-icon">
                <h1>⌛</h1>
            </div>
            <h4>Up Time</h4>
            <p class="fs-5">The server will be kept online 24/7</p>
        </div>
        <div class="feature col">
            <div class="feature-icon">
                <h1>🏰</h1>
            </div>
            <h4>Server Type</h4>
            <p class="fs-5">This server is a government role play server. Run for office in Mayoral elections!</p>
        </div>
        <div class="feature col">
            <div class="feature-icon">
                <h1>🧩</h1>
            </div>
            <h4>Population</h4>
            <p class="fs-5">No data for population yet</p>
        </div>
        <div class="feature col">
            <div class="feature-icon">
                <h1>🔍</h1>
            </div>
            <h4>Current Status</h4>
            <p class="fs-5">The server is awaiting to be launched. Release date is expected to be near end of May</p>
        </div>
    </div>
</div>

<div th:replace="components :: footer"></div>
<div th:replace="components :: scripts"></div>
</body>
</html>