<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="MinecraftComponents :: head('New Candidate')"></head>
<body>
<div th:replace="MinecraftComponents :: nav"></div>

<div class="container mt-5 pt-5">
    <p class="fs-5"><a href="/vote">Return to previous screen ></a></p>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Minecraft Polls</h1>
            <p class="col-md-8 fs-4">Participate in polls regarding candidates and current mayors here</p>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        <p class="fs-4 mb-0">ℹ️Current Status: No available positions to run. Please check back later</p>
    </div>
    <!--<div class="accordion mb-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Poll1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This server uses Minecraft Bedrock Edition.</strong> While there are many advantages Minecraft Java Edition has over the Bedrock counterpart, we ultimately decided to go with Bedrock because of its versatility and far greater performance over Java edition. If you only own Java edition, don't fret! Microsoft has recently announced that they will be giving all Minecraft users both versions of the game. It will not be necessary to purchase Bedrock edition if you already own Java edition.
                </div>
            </div>
        </div>
    </div>-->
</div>
<div th:replace="MinecraftComponents :: footer"></div>
<div th:replace="MinecraftComponents :: scripts"></div>
</body>
</html>