<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Users')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>
<main class="container mt-5">
    <div class="p-5 mt-5 mb-4 border-box">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Costi Online Management Terminal</h1>
            <p class="col-md-8 fs-4">Manage Users</p>
        </div>
    </div>
    <div th:replace="Components :: flash" class="mt-2"></div>
    <h2 class="fs-2 mb-3">All Users</h2>
    <table class="table table-bordered table-sm align-middle table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Lock</th>
                <th scope="col">Enabled</th>
                <th scope="col">Lock Account</th>
                <th scope="col">Enable Account</th>
                <th scope="col">Perma Demote</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${all}">
                <td>
                    <a th:href="|/COMT/Accounts/*{user.id}/|" th:text="*{user.firstName} + ' ' + *{user.lastName}"></a>
                </td>
                <td>
                    <p th:text="*{user.email}"></p>
                </td>
                <td class="text-center">
                    <span class="badge badge-pill bg-dark" th:text="*{user.role}">Other</span>
                </td>
                <td>
                    <p th:if="*{user.isLocked}">🔒 Locked</p>
                    <p th:unless="*{user.isLocked}">🔓 Unlocked</p>
                </td>
                <td>
                    <p th:if="*{user.enabled}">✅ Enabled</p>
                    <p th:unless="*{user.enabled}">❌ Disabled</p>
                </td>
                <td>
                    <form th:action="@{|/Accounts/${user.id}/unlock|}" method="post" th:if="*{user.isLocked}">
                        <button type="submit" class="btn btn-success btn-sm">Unlock</button>
                    </form>
                    <form th:action="@{|/Accounts/${user.id}/lock|}" method="post" th:unless="*{user.isLocked}">
                        <button type="submit" class="btn btn-danger btn-sm">Lock</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{|/Accounts/${user.id}/disable|}" method="post" th:if="*{user.isEnabled}">
                        <button type="submit" class="btn btn-danger btn-sm">Disable</button>
                    </form>
                    <form th:action="@{|/Accounts/${user.id}/enable|}" method="post" th:unless="*{user.isEnabled}">
                        <button type="submit" class="btn btn-success btn-sm">Enable</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{|/Accounts/${user.id}/demote|}" method="post" th:if="*{user.isAdmin}">
                        <button type="submit" class="btn btn-success btn-sm">Demote</button>
                    </form>
                    <a th:unless="*{user.isAdmin}" class="btn btn-success btn-sm disabled" role="button" aria-disabled="true">Already User</a>
                </td>
            </tr>
        </tbody>
    </table>

</main>
<div th:replace="Components :: footer"></div>
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>