<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT User')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>

<main class="container-fluid">
   <input type="hidden" th:value="${id}" id="id"/>
   <div class="container" id="error-container">
       <div class="row">
           <div class="col-12">
               <div th:replace="moderator/ModeratorComponents :: userNavigation"></div>
           </div>
           <div class="col-12 col-md-3">
               <img class="img-fluid" id="profile-image" style="width:100%; object-fit: cover; aspect-ratio: 1 / 1;">
               <h3 class="text-center fw-bold" id="user-name-text">User Name</h3>
               <div id="user-role-badge" class="d-flex justify-content-center align-items-center">Role</div>
           </div>
           <div class="col-12 col-md-9">
               <div>
                   <nav>
                       <div class="nav nav-tabs mb-3" id="view-tabs" role="tablist" style="background-color: transparent; border:none">
                           <button class="nav-link active" id="view-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true" tabindex="-1">Overview</button>
                           <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" tabindex="-1">Profile</button>
                           <button class="nav-link" id="nav-notifications-tab" data-bs-toggle="tab" data-bs-target="#nav-notifications" type="button" role="tab" aria-controls="nav-notifications">Notifications</button>
                           <button class="nav-link" id="nav-logs-tab" data-bs-toggle="tab" data-bs-target="#nav-logs" type="button" role="tab" aria-controls="nav-logs" tabindex="-1">Logs</button>
                           <button class="nav-link" id="nav-wiki-tab" data-bs-toggle="tab" data-bs-target="#nav-wiki" type="button" role="tab" aria-controls="nav-wiki">Wiki</button>
                           <button class="nav-link" id="nav-permissions-tab" data-bs-toggle="tab" data-bs-target="#nav-permissions" type="button" role="tab" aria-controls="nav-permissions">Settings</button>
                       </div>
                   </nav>
                   <div class="tab-content" id="nav-tabContent">
                       <div class="tab-pane fade active show" id="nav-overview" role="tabpanel" aria-labelledby="view-overview-tab" tabindex="0">
                           <h3 class="fw-bold">Account Overview</h3>
                           <hr />
                           <div class="row">
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Join Date
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="created-text"></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Account Viability
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="login-text"></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Notifications
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="notification-count-text"></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Wiki Pages
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="wiki-count-text"></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Account Logs
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="log-count-text"></p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                           <h3 class="fw-bold">Edit User Details</h3>
                           <hr />
                           <div class="form-row row">
                               <div class="col-6 mb-3">
                                   <label for="profilePicture">Profile Picture</label>
                                   <select class="form-control" id="profilePicture" name="profilePicture" required>
                                       <option value="" disabled="disabled">Select a profile picture</option>
                                       <option value="1">Logo</option>
                                       <option value="2">Axcel on a couch</option>
                                       <option value="3">Costi</option>
                                       <option value="4">Evil orthodontist</option>
                                       <option value="5">Axcel sitting</option>
                                       <option value="6">Train</option>
                                       <option value="7">Dragonboat</option>
                                       <option value="8">Funtime Costi</option>
                                       <option value="9">SJSU</option>
                                       <option value="10">Rock Pikmin</option>
                                       <option value="11">Airplane</option>
                                       <option value="12">Chess</option>
                                       <option value="13">Red flower</option>
                                   </select>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="role">Role</label>
                                   <select id="role" class="form-control" required>
                                       <option value="" disabled="disabled">Select a role</option>
                                       <option value="ADMIN">Admin</option>
                                       <option value="OWNER">Owner</option>
                                       <option value="USER">User</option>
                                   </select>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="firstName">First Name</label>
                                   <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="lastName">Last Name</label>
                                   <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="email">Email</label>
                                   <input type="email" class="form-control" id="email" placeholder="Email" required>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="password">Password</label>
                                   <input type="password" class="form-control" id="password" placeholder="Password" required>
                               </div>
                               <div class="col-12">
                                   <button type="button" class="btn btn-sm btn-primary" onclick="saveUser()">Save</button>
                               </div>
                           </div>
                       </div>
                       <div class="tab-pane fade table-responsive" id="nav-notifications" role="tabpanel" aria-labelledby="nav-notifications-tab" tabindex="0">
                           <table class="table table-sm align-middle table-hover table-dark">
                               <thead>
                               <tr>
                                   <th scope="col">ID</th>
                                   <th scope="col">Title</th>
                                   <th scope="col">Body</th>
                                   <th scope="col">Type</th>
                                   <th scope="col">Created</th>
                                   <th scope="col">Delete</th>
                               </tr>
                               </thead>
                               <tbody id="notifications-table-body">
                               </tbody>
                           </table>
                       </div>
                       <div class="tab-pane fade table-responsive" id="nav-logs" role="tabpanel" aria-labelledby="nav-logs-tab" tabindex="0">
                           <table class="table table-sm align-middle table-hover table-dark">
                               <thead>
                               <tr>
                                   <th scope="col">ID</th>
                                   <th scope="col">Title</th>
                                   <th scope="col">Body</th>
                                   <th scope="col">Created</th>
                                   <th scope="col">Delete</th>
                               </tr>
                               </thead>
                               <tbody id="logs-table-body">
                               </tbody>
                           </table>
                       </div>
                       <div class="tab-pane fade table-responsive" id="nav-wiki" role="tabpanel" aria-labelledby="nav-wiki-tab" tabindex="0">
                           <table class="table table-sm align-middle table-hover table-dark">
                               <thead>
                               <tr>
                                   <th scope="col">ID</th>
                                   <th scope="col">Title</th>
                                   <th scope="col">Subtitle</th>
                                   <th scope="col">Category</th>
                                   <th scope="col">Last Edited</th>
                                   <th scope="col">Views</th>
                                   <th scope="col">View</th>
                                   <th scope="col">Enable</th>
                                   <th scope="col">Edit</th>
                                   <th scope="col">Delete</th>
                               </tr>
                               </thead>
                               <tbody id="wiki-table-body">
                               </tbody>
                           </table>
                       </div>
                       <div class="tab-pane fade" id="nav-permissions" role="tabpanel" aria-labelledby="nav-permissions-tab" tabindex="0">
                           <h3 class="fw-bold">Account Settings</h3>
                           <hr />
                           <div class="container-fluid border-box mb-3 py-3">
                               <h4 class="fw-bold">Account Lock</h4>
                               <p>Account lock disables login access and is generally meant for use in security risks</p>
                                <div id="account-lock"></div>
                           </div>
                           <div class="container-fluid border-box mb-3 py-3">
                               <h4 class="fw-bold">Account Enable</h4>
                               <p>Account enable disables login access and is generally meant for use in account activation</p>
                               <div id="account-enable"></div>
                           </div>
                           <div class="container-fluid border-box mb-3 py-3">
                               <h4 class="fw-bold">Account Role</h4>
                               <p>Account role allows/ denies users access to COMT system.</p>
                               <div id="account-demote"></div>
                           </div>
                           <div class="container-fluid border-box mb-3 py-3">
                               <h4 class="fw-bold">Delete Account</h4>
                               <p>Removes account from internal database. Accounts that are deleted are no longer recoverable. Wiki pages of deleted accounts will be re-assigned to owner account.</p>
                               <div id="account-delete"></div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</main>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 99" id="toast-container"></div>

<div th:replace="Components :: JS"></div>
<div th:replace="moderator/ModeratorComponents :: toast-scripts"></div>
<script>
    // Data
    let userList, logs, notifications, wikiPages, selectedUser;
    const id = document.querySelector("#id").value;

    // Elements
    let errorContainer = document.querySelector("#error-container");

    refresh();
    function refresh(){
        const logFetch = fetch("/api/management/account-logs/" + id);
        const notificationFetch = fetch("/api/management/notifications/" + id);
        const userFetch = fetch("/api/management/users/all");
        const wikiFetch = fetch("/api/management/wiki/" + id);

        Promise.all([logFetch, notificationFetch, userFetch, wikiFetch])
            .then(responses => {
                const response1 = checkStatus(responses[0]);
                const response2 = checkStatus(responses[1]);
                const response3 = checkStatus(responses[2]);
                const response4 = checkStatus(responses[3]);

                return Promise.all([response1, response2, response3, response4]);
            })
            .then(data => {
                let logDownload = data[0].json();
                let notificationDownload = data[1].json();
                let userDownload = data[2].json();
                let wikiDownload = data[3].json();

                return Promise.all([logDownload, notificationDownload, userDownload, wikiDownload]);
            })
            .then(data => {
                logs = data[0];
                notifications = data[1];
                userList = data[2];
                wikiPages = data[3];

                selectedUser = getObjectById(id);

                renderNavUsers();
                renderSettingsUI();
            })
            .catch((response)=>{
                console.log(response);
                response.json()  // Parse the JSON error response
                    .then(errorData => {
                        errorContainer.innerHTML = `<img src="/icons/Error.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                    })
                    .catch(error => {
                        errorContainer.innerHTML = `<img src="/icons/Error.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">There was an error receiving data from Costi Online Services</h3><p class="text-center">Error message could not be parsed. ${error}</p>`;

                        console.error("Error parsing error response:", error);
                    });
            });
    }

    // Rendering functions
    function renderSettingsUI(){
        document.querySelector("#profile-image").src = "/icons/profile-photos/" + selectedUser.profilePicture + ".webp";

        document.querySelector("#user-name-text").innerText = selectedUser.firstName + " " + selectedUser.lastName;
        document.querySelector("#user-role-badge").innerHTML = `<span class="fs-5 badge ${selectedUser.role === 'OWNER' ? 'bg-primary' : selectedUser.role === 'USER' ? 'bg-secondary' : selectedUser.role === 'ADMIN' ? 'bg-info' : 'bg-dark'}">${selectedUser.role}</span>`;

        document.querySelector("#created-text").innerText = selectedUser.formattedDateCreated;
        document.querySelector("#notification-count-text").innerText = `${notifications.length} notifications`;
        document.querySelector("#wiki-count-text").innerText = `${wikiPages.length} wiki pages`;
        document.querySelector("#log-count-text").innerText = `${logs.length} logs`;
        document.querySelector("#login-text").innerHTML = `Account ${selectedUser.enabled && !selectedUser.isLocked? 'can' : 'cannot'} log in`;

        document.querySelector("#profilePicture").value = selectedUser.profilePicture;
        document.querySelector("#role").value = selectedUser.role;
        document.querySelector("#firstName").value = selectedUser.firstName;
        document.querySelector("#lastName").value = selectedUser.lastName;
        document.querySelector("#email").value = selectedUser.username;
        // document.querySelector("#password").value = selectedUser.password;
        renderNotifications();
        renderLogs();
        renderWiki();

        document.querySelector("#account-lock").innerHTML = `<button class="btn btn-sm ${selectedUser.isLocked === true ? 'btn-secondary' : 'btn-primary'} ${selectedUser.role === 'OWNER' ? 'disabled' : ''}" onclick="toggleLock(${selectedUser.id})">${selectedUser.isLocked === true ? 'Locked' : 'Unlocked'}</button>`;
        document.querySelector("#account-enable").innerHTML = `<button class="btn btn-sm ${selectedUser.enabled === true ? 'btn-primary' : 'btn-secondary'} ${selectedUser.role === 'OWNER' ? 'disabled' : ''}" onclick="toggleEnable(${selectedUser.id})">${selectedUser.enabled === true ? 'Enabled' : 'Disabled'}</button>`;
        document.querySelector("#account-demote").innerHTML = `<button class="btn btn-sm ${selectedUser.role === 'ADMIN' ? 'btn-secondary' : 'btn-primary'} ${selectedUser.role === 'OWNER' ? 'disabled' : ''}" onclick="toggleRole(${selectedUser.id})" role="button">${selectedUser.role === "USER" ? 'Promote' : 'Demote'}</button>`;
        document.querySelector("#account-delete").innerHTML = `<button class="btn btn-sm btn-danger ${selectedUser.role === 'OWNER' ? 'disabled' : ''}" onclick="deleteUser(${selectedUser.id})" role="button">Delete</button>`;

    }
    function renderNotifications(){
        const notificationTable = document.querySelector("#notifications-table-body");

        let tableContent = ``;
        for(let i = 0; i < notifications.length; i++){
            let notification = notifications[i];
            tableContent += `
            <tr>
                <td>${notification.id}</td>
                <td>${notification.title}</td>
                <td>${notification.body}</td>
                <td class="text-center">
                    <span class="badge bg-${notification.notificationType}">${notification.notificationType}</span>
                </td>
                <td>${notification.dateCreated}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" onclick="deleteNotification(${notification.id})">Delete</button>
                </td>
            </tr>
            `;
        }
        notificationTable.innerHTML = tableContent;
    }
    function renderLogs(){
        const logTable = document.querySelector("#logs-table-body");

        let tableContent = ``;
        for(let i = 0; i < logs.length; i++){
            let log = logs[i];
            tableContent += `
            <tr>
                <td>${log.id}</td>
                <td>${log.title}</td>
                <td>${log.body}</td>
                <td>${log.formattedDateCreated}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" onclick="deleteAccountLog(${log.id})">Delete</button>
                </td>
            </tr>
            `;
        }
        logTable.innerHTML = tableContent;
    }
    function renderWiki(){
        const wikiTable = document.querySelector("#wiki-table-body");
        let tableContent = ``;
        for(let i = 0; i < wikiPages.length; i++){
            let page = wikiPages[i];

            tableContent += `
            <tr>
                <td>${page.id}</td>
                <td>${page.title}</td>
                <td>${page.subtitle}</td>
                <td class="text-center">
                    <span class="badge ${page.category === 'INSIDE_JOKE' ? 'bg-primary' : page.category === 'HISTORICAL' ? 'bg-secondary' : page.category === 'PEOPLE' ? 'bg-info' : page.category === 'PROFESSIONAL' ? 'bg-danger' : 'bg-dark'}">${page.category}</span>
                </td>
                <td>${page.dateEdited}</td>
                <td><p class="text-center fw-bold">${page.views}</p></td>
                <td>
                    <a class="btn btn-sm btn-primary ${page.enabled === true ? '' : 'disabled'}" href="/Wiki/${page.id}/view" role="button">View</a>
                </td>
                <td>
                    <button class="btn btn-sm ${page.enabled === true ? 'btn-primary' : 'btn-secondary'}" onclick="wikiToggleEnable(${page.id})">${page.enabled === true ? 'Enabled' : 'Disabled'}</button>
                </td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="/Wiki/${page.id}/edit" role="button">Edit</a>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" onclick="deletePage(${page.id})">Delete</button>
                </td>
            </tr>
            `;
        }
        wikiTable.innerHTML = tableContent;
    }
    function getObjectById(id) {
        return userList.find(obj => obj["id"] == id);
    }

    // Logs
    function deleteAccountLog(id){
        let toastId = createToast("Deleting Account Log");
        postData("/api/management/account-logs/delete", id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Account Log Deleted";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    // Account Settings
    function toggleEnable(id){
        let toastId = createToast("Toggling Enable");
        let user = getObjectById(id);
        user.enabled = !user.enabled;
        postData("/api/management/users/save", user)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ User Status Updated";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function toggleLock(id){
        let toastId = createToast("Toggling Lock");
        let user = getObjectById(id);
        user.isLocked = !user.isLocked;
        postData("/api/management/users/save", user)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Visibility Status Toggled";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function deleteUser(id){
        let toastId = createToast("Deleting User");
        postData("/api/management/users/delete", id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ User Deleted";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function toggleRole(id){
        let toastId;
        let user = getObjectById(id);
        if(user.role == "ADMIN"){
            user.role = "USER";
            toastId = createToast("Demoting User");
        }else if(user.role == "USER"){
            user.role = "ADMIN";
            toastId = createToast("Promoting User");
        }else{
            return;
        }

        postData("/api/management/users/save", user)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ User Role updated";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    // Notifications
    function deleteNotification(id){
        let toastId = createToast("Deleting Notification");
        postData("/api/management/notifications/delete", id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Notification Deleted";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    // Wiki
    function deletePage(id){
        let toastId = createToast("Deleting Wiki Page");
        postData("/api/management/wiki/delete", id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Wiki page Deleted";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }
    function wikiToggleEnable(id){
        let toastId = createToast("Switching Visibility");
        let page = wikiList.find(announcement => announcement.id === id);
        page.enabled = !page.enabled;
        postData("/api/management/wiki/save", page)
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Changes committed";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            });
    }

    // Profile
    function saveUser(){
        selectedUser.profilePicture = document.querySelector("#profilePicture").value;
        selectedUser.role = document.querySelector("#role").value;
        selectedUser.firstName = document.querySelector("#firstName").value;
        selectedUser.lastName = document.querySelector("#lastName").value;
        selectedUser.email = document.querySelector("#email").value;
        selectedUser.password = document.querySelector("#password").value;
        submitUser();
    }

    function submitUser(){
        let toastId = createToast("Saving User");
        postData("/api/management/users/save", selectedUser)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ User Saved";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }
</script>
</body>
</html>