<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Users')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>
<main class="container mt-3">
    <div class="row d-flex">
        <div class="col-12 col-md-7 h-100">
            <div class="container-fluid bg-2 py-3" id="overview-container">
            </div>
        </div>
        <div class="col-12 col-md-5 h-100">
            <div class="container-fluid bg-2 py-3">
                <h3 class="fw-bold mb-2">Actions</h3>
                <div class="action-button-container">
                    <a href="/SignUp" class="action-button" data-bs-toggle="modal">
                        <img th:src="@{/icons/New.svg}" />
                        <p class="text-center">New</p>
                    </a>
                    <div class="action-button" onclick="refresh()">
                        <img th:src="@{/icons/Refresh.svg}" />
                        <p class="text-center">Refresh</p>
                    </div>
                    <div class="action-button" onclick="disableAll()">
                        <img th:src="@{/icons/Disable.svg}" />
                        <p class="text-center">Disable All</p>
                    </div>
                    <div class="action-button" onclick="privateAll()">
                        <img th:src="@{/icons/Private.svg}" />
                        <p class="text-center">Private All</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="error-container">

    </div>
    <div class="container-fluid bg-2 mt-4 p-0" id="user-container">
        <table class="table table-sm align-middle table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Joined</th>
                <th scope="col">Role</th>
                <th scope="col">Details</th>
                <th scope="col">Lock</th>
                <th scope="col">Enable</th>
                <th scope="col">Edit</th>
                <th scope="col">Demote</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</main>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 99" id="toast-container"></div>
<div th:replace="Components :: JS"></div>
<div th:replace="moderator/ModeratorComponents :: toast-scripts"></div>
<script>
    //data
    let userList;

    const overviewContainer = document.querySelector("#overview-container");
    const errorContainer = document.querySelector("#news-container");
    const table = document.querySelector("#table-body");

    function refresh(){
        updateUsers();
    }
    refresh();

    //GET functions
    function updateUsers(){
        fetch("/api/management/users/all")
            .then(checkStatus)
            .then(response => response.json())
            .then(data => {
                userList = data;
                renderUsers();
            })
            .catch((response)=>{
                try{
                    response.json()
                        .then(errorData => {
                            errorContainer.innerHTML = `<img src="/icons/Error.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                        });
                } catch (e){
                    console.error("Error parsing error response:", error);
                    errorContainer.innerHTML = "<h3 class=\"text-center\">There was an error receiving data from Costi Online Services</h3><p class=\"text-center\">Please check the console for further information</p>";
                }
                console.error('Error retrieving data:', response);
            });
    }

    //Render
    function renderUsers(){
        let tableContent = ``;
        let totalUsers = userList.length, numAdmin = 0, numUser = 0, numLocked = 0, numDisabled = 0, numUnlocked = 0, numEnabled = 0;
        for(let i = 0; i < userList.length; i++){
            let user = userList[i];
            if(user.admin){
                numAdmin++;
            }else if(user.role == "USER"){
                numUser++;
            }

            if(user.isLocked){
                numLocked++;
            }else{
                numUnlocked++;
            }

            if(user.enabled){
                numEnabled++;
            }else{
                numDisabled++;
            }

            tableContent += `
            <tr>
                <td>${user.id}</td>
                <td>${user.firstName}</td>
                <td>${user.lastName}</td>
                <td>${user.email}</td>
                <td>${user.formattedDateCreated}</td>
                <td class="text-center">
                    <span class="badge ${user.role === 'OWNER' ? 'bg-primary' : user.role === 'USER' ? 'bg-secondary' : user.role === 'ADMIN' ? 'bg-info' : 'bg-dark'}">${user.role}</span>
                </td>
                <td>
                    <a href="COMT/Accounts/${user.id}" class="btn btn-sm btn-success" role="button">Detail</a>
                </td>
                <td>
                    <button class="btn btn-sm ${user.isLocked === true ? 'btn-primary' : 'btn-secondary'}" onclick="toggleLock(${user.id})" role="button">${user.isLocked === true ? 'Locked' : 'Unlocked'}</button>
                </td>
                <td>
                    <button class="btn btn-sm ${user.enabled === true ? 'btn-primary' : 'btn-secondary'}" onclick="toggleEnable(${user.id})" role="button">${user.enabled === true ? 'Enabled' : 'Disabled'}</button>
                </td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="#" role="button">Edit</a>
                </td>
                <td>
                    <button class="btn btn-sm btn-primary ${user.role === 'ADMIN' ? '' : 'disabled'}" onclick="demote(${user.id})" role="button">Demote</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger ${user.role === 'ADMIN' || user.role === 'OWNER' ? 'disabled' : ''}" onclick="deleteUser(${user.id})">Delete</button>
                </td>
            </tr>
            `;
        }
        table.innerHTML = tableContent;

        overviewContainer.innerHTML = `
            <h3 class="fw-bold mb-2">Overview</h3>
            <div id="stats-container">
                <div>
                    <p class="fs-1 fw-bold  text-center">${totalUsers}</p>
                    <p class="text-center">Users</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${numEnabled}</p>
                    <p class="text-center">Enabled</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${numDisabled}</p>
                    <p class="text-center">Disabled</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${numLocked}</p>
                    <p class="text-center">Locked</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${numUnlocked}</p>
                    <p class="text-center">Unlocked</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${numAdmin}</p>
                    <p class="text-center">Admin</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${numUser}</p>
                    <p class="text-center">Regular</p>
                </div>
            </div>

        `;
    }

    //POST functions
    function toggleEnable(id){
        let toastId = createToast("Toggling Publishing");
        let post = getObjectById(id);
        post.enabled = !post.enabled;
        postDataWithFile("/api/management/newsroom/save", convertToFormData(post))
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Publish Status Toggled";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function toggleVisibility(id){
        let toastId = createToast("Toggling Visibility");
        let post = getObjectById(id);
        post.public = !post.public;
        postDataWithFile("/api/management/newsroom/save", convertToFormData(post))
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Visibility Status Toggled";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function deleteUser(id){
        let toastId = createToast("Deleting User");
        postData("/api/management/users/delete", id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ User Deleted";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function saveNews() {
        let toastId = createToast("Saving New Post");

        // Get form elements
        const title = document.getElementById('title').value;
        const subtitle = document.getElementById('sub').value;
        const category = document.getElementById('cat').value;
        const body = document.getElementById('body').value;
        const imageFile = document.getElementById('file').files[0];

        // Construct the FormData object
        const formData = new FormData();
        formData.append('title', title);
        formData.append('subtitle', subtitle);
        formData.append('category', category);
        formData.append('body', body);
        formData.append('image', imageFile);

        postDataWithFile("/api/management/newsroom/save", formData)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Newsroom Post Created";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }
    function disableAll(){
        for(let i = 0; i < postList.length; i++) {
            let post = postList[i];
            post.enabled = false;
            postDataWithFile("/api/management/newsroom/save", convertToFormData(post))
                .then(refresh);
        }
    }

    function privateAll(){
        for(let i = 0; i < postList.length; i++) {
            let post = postList[i];
            post.public = false;

            postDataWithFile("/api/management/newsroom/save", convertToFormData(post))
                .then(refresh);
        }
    }

    //Helper functions
    function getObjectById(id) {
        return postList.find(obj => obj["id"] == id);
    }
</script>
</body>
</html>