<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT User')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>

<main class="container-fluid">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div th:replace="moderator/ModeratorComponents :: userNavigation"></div>
           </div>
           <div class="col-12 col-md-3">
               <img th:src="@{/icons/profile-photos/Windows Icons/airplane.jpg}" class="img-fluid" style="width:100%; object-fit: cover; aspect-ratio: 1 / 1;">
               <h3 class="text-center fw-bold">FirstName LastName</h3>
               <h4 class="text-center">Role</h4>
           </div>
           <div class="col-12 col-md-9">
               <div>
                   <nav>
                       <div class="nav nav-tabs mb-3" id="view-tabs" role="tablist" style="background-color: transparent; border:none">
                           <button class="nav-link active" id="view-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true" tabindex="-1">Overview</button>
                           <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" tabindex="-1">Profile</button>
                           <button class="nav-link" id="nav-notifications-tab" data-bs-toggle="tab" data-bs-target="#nav-notifications" type="button" role="tab" aria-controls="nav-notifications">Notifications</button>
                           <button class="nav-link" id="nav-logs-tab" data-bs-toggle="tab" data-bs-target="#nav-logs" type="button" role="tab" aria-controls="nav-logs" tabindex="-1">Logs</button>
                           <button class="nav-link" id="nav-wiki-tab" data-bs-toggle="tab" data-bs-target="#nav-wiki" type="button" role="tab" aria-controls="nav-wiki">Wiki</button>
                           <button class="nav-link" id="nav-permissions-tab" data-bs-toggle="tab" data-bs-target="#nav-permissions" type="button" role="tab" aria-controls="nav-permissions">Permissions</button>
                       </div>
                   </nav>
                   <div class="tab-content" id="nav-tabContent">
                       <div class="tab-pane fade active show" id="nav-overview" role="tabpanel" aria-labelledby="view-overview-tab" tabindex="0">
                           <h3 class="fw-bold">Account Overview</h3>
                           <hr />
                           <div class="row">
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Join Date
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="created-text"></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Account Viability
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="login-text"></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Notifications
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="notification-count-text"></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Wiki Pages
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="wiki-count-text"></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-12 col-md-4 mb-2">
                                   <div class="card">
                                       <div class="card-header">
                                           Account Logs
                                       </div>
                                       <div class="card-body">
                                           <p class="card-text" id="log-count-text"></p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                           <h3 class="fw-bold">Edit User Details</h3>
                           <hr />
                           <div class="form-row row">
                               <div class="col-6 mb-3">
                                   <label for="profilePicture">Profile Picture</label>
                                   <select class="form-control" id="profilePicture" name="profilePicture" required>
                                       <option value="" disabled="disabled">Select a profile picture</option>
                                       <option value="0">Airplane</option>
                                       <option value="1">Ball</option>
                                       <option value="2">Beach</option>
                                       <option value="3">Car</option>
                                       <option value="4">Cat</option>
                                       <option value="5">Chess</option>
                                       <option value="6">Dog</option>
                                       <option value="7">Drip</option>
                                       <option value="8">Duck</option>
                                       <option value="9">Fish</option>
                                       <option value="10">Guest</option>
                                       <option value="11">Guitar</option>
                                       <option value="12">Kick</option>
                                       <option value="13">Lift-off</option>
                                       <option value="14">Red Flower</option>
                                       <option value="15">Snowflake</option>
                                   </select>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="role">Role</label>
                                   <select id="role" class="form-control" required>
                                       <option value="" disabled="disabled">Select a role</option>
                                       <option value="ADMIN">Admin</option>
                                       <option value="USER">User</option>
                                   </select>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="firstName">First Name</label>
                                   <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="lastName">Last Name</label>
                                   <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="email">Email</label>
                                   <input type="email" class="form-control" id="email" placeholder="Email" required>
                               </div>
                               <div class="col-6 mb-3">
                                   <label for="password">Password</label>
                                   <input type="password" class="form-control" id="password" placeholder="Password" required>
                               </div>
                           </div>
                       </div>
                       <div class="tab-pane fade" id="nav-notifications" role="tabpanel" aria-labelledby="nav-notifications-tab" tabindex="0">
                           <p>notifThis is some placeholder content the <strong>Contact tab's</strong> associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
                       </div>
                       <div class="tab-pane fade" id="nav-logs" role="tabpanel" aria-labelledby="nav-logs-tab" tabindex="0">
                           <p>logsThis is some placeholder content the <strong>Disabled tab's</strong> associated content.</p>
                       </div>
                       <div class="tab-pane fade" id="nav-wiki" role="tabpanel" aria-labelledby="nav-wiki-tab" tabindex="0">
                           <p>wikiThis is some placeholder content the <strong>Disabled tab's</strong> associated content.</p>
                       </div>
                       <div class="tab-pane fade" id="nav-permissions" role="tabpanel" aria-labelledby="nav-permissions-tab" tabindex="0">
                           <p>permsThis is some placeholder content the <strong>Disabled tab's</strong> associated content.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</main>

<div th:replace="Components :: JS"></div>
<div th:replace="moderator/ModeratorComponents :: toast-scripts"></div>
<script>

</script>
</body>
</html>