<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT User')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: nav"></div>

<main class="container-fluid main-content-2 fixed-moderator-content">
    <div class="ac-grid-container">
        <div>
            <h3 class="fw-bold mb-4">All Accounts</h3>
            <th:block th:each="user : ${all}">
                <a th:href="@{|/COMT/Accounts/${user.id}/|}" class="account-list-item mb-3">
                    <p th:text="|${user.firstName} ${user.lastName}|" class="fw-bold fs-5"></p>
                </a>
            </th:block>
        </div>
        <div th:object="${selectedUser}">
            <a href="" class="mb-4">< Back to COMT</a>
            <div class="border-box p-3">
                <h3 class="fw-bold mb-2">Account Navigation</h3>
                <p id="overview-button">Account Overview</p>
                <p id="edit-details-button">Edit Details</p>
            </div>
        </div>
        <div th:object="${selectedUser}" class="px-2">
            <div class="border-box p-3">
                <div th:replace="Components :: profilePhoto"></div>
                <h3 class="fw-bold mb-2" th:text="|*{firstName} *{lastName}|">Account Name</h3>
                <p th:text="|ID: *{id}|"></p>
                <p th:text="|Role: *{role}|"></p>
                <p th:text="|Joined: *{dateCreated}|"></p>
                <p th:text="|Log Count: ${SULogCount}|"></p>
                <p th:text="|Notification Count: ${SUNotificationCount}|"></p>
                <p th:text="|Last Activity: ${SUlastInteraction}|"></p>
<!--                <p th:text="|Wiki Pages Created: ${SUWikiCount}|"></p>-->
            </div>
        </div>
        <div th:object="${selectedUser}" class="px-2">
            <div id="accountOverview">
                <h3 class="fw-bold mb-4" th:text="|*{firstName}'s Details|">Account Name</h3>
                <div class="border-box p-3">
                    <h4 class="text-center fw-bold mb-2">Account Status</h4>
                    <p class="text-center text-secondary" th:text="${SUCanSignIn} ? 'User can sign in' : '&#9888;User cannot sign in'"></p>
                    <div class="as-grid-container">
                        <div th:class="'rounded text-1 ' + (*{isLocked}? 'bg-danger text-white' : '')">
                            <h5 class="fw-bold text-center mb-2 mt-2" th:text="(*{isLocked}? '&#128274;' : '&#128275;') + 'Account Lock '">🔑Account Lock</h5>
                            <p class="text-center" th:text="'Account ' + (*{isLocked}? 'locked!' : 'Unlocked!')">Account lock here</p>
                        </div>
                        <div th:class="'rounded text-1 ' + (*{enabled}? '' : 'bg-danger text-white')">
                            <h5 class="fw-bold text-center mb-2 mt-2" th:text="(*{enabled}? '&#9989;' : '&#9940;') + 'Account Enable '">⚠️Account Enable</h5>
                            <p class="text-center" th:text="'Account ' + (*{enabled}? 'enabled!' : 'disabled!')">Account enable here</p>
                        </div>
                    </div>
                </div>
                <div class="border-box p-3 mt-3">
                    <h4 class="text-center fw-bold mb-4">General Account Information</h4>
                    <p th:text="|Username/Email: *{email}|"></p>
                    <p th:text="|First Name: *{firstName}|"></p>
                    <p th:text="|Last Name: *{lastName}|"></p>
                    <p th:text="|Profile Picture: *{profilePicture}|"></p>
                </div>
            </div>
            <div id="edit-details">

            </div>
        </div>
    </div>
</main>

<div th:replace="Components :: scripts"></div>
<script>
    $(document).ready(function(){
        console.log("rat");
        $("#overview-button").click(function() {
            $("#overview").show();
            $("#edit-details").hide();
        });
        $("#edit-details-button").click(function(){
            $("#edit-details").show();
            $("#overview").hide();
        });
    });
</script>
</body>
</html>