<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Wiki')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: nav"></div>
<main class="container mt-5 pt-5">
    <div class="p-5 mb-4 mt-5 border-box">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Costi Online Management Terminal</h1>
            <p class="col-md-8 fs-4">Create & Edit Announcements</p>
            <a href="/COMT/Announcements/Create" class="btn btn-primary">Create new Announcement</a>
        </div>
    </div>
    <div th:replace="Components :: flash" class="mt-2"></div>

    <h2 class="fs-2 mb-3">Active Announcements</h2>
    <table class="table table-bordered table-sm align-middle table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Date</th>
            <th scope="col">Enable</th>
            <th scope="col">Edit</th>
            <th scope="col">Disable</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${enabled}">
            <td scope="row" th:text="*{message.id}">id</td>
            <td scope="row" th:text="*{message.title}">Title</td>
            <td th:text="*{message.body}">body</td>
            <td th:text="*{message.dateEdited}">date</td>
            <td>
                <p th:if="*{message.enable}">✅ Enabled</p>
                <p th:unless="*{message.enable}">❌ Disabled</p>
            </td>
            <td>
                <a th:href="@{|/COMT/Announcements/${message.id}/edit|}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Edit</a>
            </td>
            <td>
                <form th:action="@{|/COMT/Announcements/${message.id}/disable|}" method="post">
                    <button type="submit" class="btn btn-warning btn-sm">Disable</button>
                </form>
            </td>
            <td>
                <form th:action="@{|/COMT/Announcements/${message.id}/delete|}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <h2 class="fs-2 mb-3">Disabled Announcements</h2>
    <table class="table table-bordered table-sm align-middle table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Date</th>
            <th scope="col">Enable</th>
            <th scope="col">Edit</th>
            <th scope="col">Disable</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${disabled}">
            <td scope="row" th:text="*{message.id}">id</td>
            <td scope="row" th:text="*{message.title}">Title</td>
            <td th:text="*{message.body}">body</td>
            <td th:text="*{message.dateEdited}">date</td>
            <td>
                <p th:if="*{message.enable}">✅ Enabled</p>
                <p th:unless="*{message.enable}">❌ Disabled</p>
            </td>
            <td>
                <a th:href="@{|/COMT/Announcements/${message.id}/edit|}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Edit</a>
            </td>
            <td>
                <form th:action="@{|/COMT/Announcements/${message.id}/enable|}" method="post">
                    <button type="submit" class="btn btn-success btn-sm">Enable</button>
                </form>
            </td>
            <td>
                <form th:action="@{|/COMT/Announcements/${message.id}/delete|}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<div th:replace="Components :: footer"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>