<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Content')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>

<main class="container mt-3">
    <div class="row d-flex">
        <div class="col-12 col-md-7 h-100">
            <div class="container-fluid bg-2 py-3" id="overview-container">
            </div>
        </div>
        <div class="col-12 col-md-5 h-100">
            <div class="container-fluid bg-2 py-3">
                <h3 class="fw-bold mb-2">Actions</h3>
                <div class="action-button-container">
                    <div class="action-button" data-bs-toggle="modal" data-bs-target="#upload-file-modal">
                        <img th:src="@{/icons/New.svg}"/>
                        <p class="text-center">New</p>
                    </div>
                    <div class="action-button" onclick="refresh()">
                        <img th:src="@{/icons/Refresh.svg}"/>
                        <p class="text-center">Refresh</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="error-container">

    </div>
    <div class="container-fluid bg-2 mt-4 p-0 table-responsive" id="notifications-container">
        <table class="table table-sm align-middle table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">File</th>
                <th scope="col">File Name</th>
                <th scope="col">Created</th>
                <th scope="col">Type</th>
                <th scope="col">ID</th>
                <th scope="col">Download</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</main>
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 99" id="toast-container">
</div>

<div class="modal fade" id="upload-file-modal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-box">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadFileModalLabel">Upload File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="new-news-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="file" class="form-label">Upload File</label>
                        <input class="form-control" type="file" id="file" name="image">
                    </div>

                    <div class="form-row row">
                        <div class="col-12 mb-3">
                            <p>Files uploaded to Costi Online will remain on the server until deleted. Make sure it does not contain any personal information. Please make sure file is compressed to 100KB or less or slowdowns may occur.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveFile()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="Components :: JS"></div>
<div th:replace="moderator/ModeratorComponents :: toast-scripts"></div>
<div th:replace="moderator/ModeratorComponents :: date-formatter"></div>
<div th:replace="moderator/ModeratorComponents :: form-data-script"></div>

<script>
    // Elements
    const errorContainer = document.querySelector("#notifications-container");
    const overviewContainer = document.querySelector("#overview-container");
    const table = document.querySelector("#table-body");

    // Data
    let fileList;

    // Processing
    function refresh() {
        Promise.all([fetch("/api/management/files/all")])
            .then(responses => {
                const response1 = checkStatus(responses[0]);

                return Promise.all([response1]);
            })
            .then(data => {
                let files = data[0].json();

                return Promise.all([files]);
            })
            .then(data => {
                fileList = data[0];
                renderTableAndAnalytics();
            })
            .catch(error => {
                errorContainer.innerHTML = `<h3 class="text-center fw-bold">There was an error receiving data from Costi Online Services</h3><p class="text-center">${error}</p>`;
                console.error('Error retrieving data:', error);
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        errorContainer.innerHTML = `<h3 class="text-center fw-bold">${getIcon(errorData.severity)} ${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        errorContainer.innerHTML = `<h3 class="text-center fw-bold">There was an error receiving data from Costi Online Services</h3><p class="text-center">Unable to establish communications with server.</p>`;
                    });
            });
    }

    refresh();

    function saveFile() {
        let toastId = createToast("Saving File");

        // Get form element
        const imageFile = document.getElementById('file').files[0];

        // Construct the FormData object
        const formData = new FormData();
        formData.append('file', imageFile);

        postDataWithFile("/api/management/files/save", formData)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Newsroom Post Created";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }
    function deleteFile(id) {
        let toastId = createToast("Deleting File");
        postData(`/api/management/files/${id}/delete`, null)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ File Deleted";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function copyId(id) {
        navigator.clipboard.writeText(id);
        let toastId = createToast("ID Copied");
        document.getElementById(`${toastId}-body`).innerText = "You can use the id to embed content into HTML pages or download the file";
        document.getElementById(`${toastId}-loading`).style.color = "blue";
    }

    // Render functions
    function renderTableAndAnalytics() {
        let numTotal = fileList.length, numImages = 0, numWebp = 0, numJpeg = 0, numOther = 0;

        let tableContent = ``;
        for (let i = 0; i < fileList.length; i++) {
            let file = fileList[i];

            // Analytics
            if (file.fileType.includes("image")) {
                numImages++;
                if (file.fileType.includes("webp")) {
                    numWebp++;
                } else if (file.fileType.includes("jpeg")) {
                    numJpeg++;
                }
            } else {
                numOther++;
            }

            // Table
            tableContent += `
            <tr>
                <td>
                    ${file.fileType.includes("image") ? `<img src="/Downloads/Uploads/${file.id}" class="newsroom-slide" style="height:40px" alt="${file.filename}">` : `<img src="/icons/Error.svg" class="newsroom-slide" style="height:40px" alt="File icon">`}
                </td>
                <td>${file.filename}</td>
                <td>${reformatDate(file.created)}</td>
                <td>${file.fileType.includes("image") ? "<span class='badge bg-primary'>Image</span>" : "<span class='badge bg-secondary'>Other</span>"}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" onclick="copyId('${file.id}')">Copy</button>
                </td>
                <td>
                    <a href="/Downloads/Uploads/${file.id}"><button type="button" class="btn btn-sm btn-primary">Download</button></a>
                </td>
                <td>
                    ${!file.locked ? `<button type="button" class="btn btn-sm btn-danger" onclick="deleteFile('${file.id}')">Delete</button>` : `<button type="button" class="btn btn-sm btn-danger disabled" disabled>Locked</button>`}
                </td>
            </tr>
            `;

        }
        table.innerHTML = tableContent;

        // Analytics
        overviewContainer.innerHTML = `
            <h3 class="fw-bold mb-2">Overview</h3>
            <div id="stats-container">
                <div>
                    <p class="fs-1 fw-bold  text-center">${numTotal}</p>
                    <p class="text-center">Uploads</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${numImages}</p>
                    <p class="text-center">Images</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${numWebp}</p>
                    <p class="text-center">Webp</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${numJpeg}</p>
                    <p class="text-center">Jpeg</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${numOther}</p>
                    <p class="text-center">Other</p>
                </div>
            </div>

        `;
    }

</script>
</body>
</html>