<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Content')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>

<main class="container mt-3">
    <div class="row d-flex">
        <div class="col-12 col-md-7 h-100">
            <div class="container-fluid bg-2 py-3" id="overview-container">
            </div>
        </div>
        <div class="col-12 col-md-5 h-100">
            <div class="container-fluid bg-2 py-3">
                <h3 class="fw-bold mb-2">Actions</h3>
                <div class="action-button-container">
                    <div class="action-button" data-bs-toggle="modal" data-bs-target="#upload-file-modal">
                        <img th:src="@{/icons/New.svg}" onclick="newContent()" alt="new"/>
                        <p class="text-center">New</p>
                    </div>
                    <div class="action-button" onclick="refresh()">
                        <img th:src="@{/icons/Refresh.svg}" alt="refresh"/>
                        <p class="text-center">Refresh</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="error-container">

    </div>
    <div class="container-fluid bg-2 mt-4 p-0 table-responsive" id="notifications-container">
        <table class="table table-sm align-middle table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Label</th>
                <th scope="col">Last Edited</th>
                <th scope="col">Preview</th>
                <th scope="col">Enable</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</main>
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 99" id="toast-container">
</div>

<div class="modal fade" id="preview-modal" tabindex="-1" aria-labelledby="preview-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content border-box">
            <div class="modal-header">
                <h3 class="modal-title fw-bold" id="preview-modal-label">Preview Content Group</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="preview-tabs" role="tablist" style="background: none;border: none;">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="preview-home-tab" data-bs-toggle="pill" data-bs-target="#preview-home" type="button" role="tab" aria-controls="preview-home" aria-selected="true">Home Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-projects-tab" data-bs-toggle="pill" data-bs-target="#preview-projects" type="button" role="tab" aria-controls="preview-projects" aria-selected="false">Projects Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-wiki-tab" data-bs-toggle="pill" data-bs-target="#preview-wiki" type="button" role="tab" aria-controls="preview-wiki" aria-selected="false">Wiki Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-news-tab" data-bs-toggle="pill" data-bs-target="#preview-news" type="button" role="tab" aria-controls="preview-news" aria-selected="false">Newsroom Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-mc-home-tab" data-bs-toggle="pill" data-bs-target="#preview-mc-home" type="button" role="tab" aria-controls="preview-mc-home" aria-selected="false" >Minecraft Home Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-mc-gov-tab" data-bs-toggle="pill" data-bs-target="#preview-mc-gov" type="button" role="tab" aria-controls="preview-mc-gov" aria-selected="false" >Minecraft Gov Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-about-tab" data-bs-toggle="pill" data-bs-target="#preview-about" type="button" role="tab" aria-controls="preview-about" aria-selected="false">About Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-axcel-tab" data-bs-toggle="pill" data-bs-target="#preview-axcel" type="button" role="tab" aria-controls="preview-axcel" aria-selected="false">Axcel Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-ckow-tab" data-bs-toggle="pill" data-bs-target="#preview-ckow" type="button" role="tab" aria-controls="preview-ckow" aria-selected="false">CKOW Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-tree-tab" data-bs-toggle="pill" data-bs-target="#preview-tree" type="button" role="tab" aria-controls="preview-tree" aria-selected="false">Tree Content</button>
                    </li>
                </ul>
                <div class="tab-content" id="preview-tabContent">
                    <div class="tab-pane fade show active" id="preview-home" role="tabpanel" aria-labelledby="preview-home-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-home"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-projects" role="tabpanel" aria-labelledby="preview-projects-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-projects"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-wiki" role="tabpanel" aria-labelledby="preview-wiki-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-wiki"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-news" role="tabpanel" aria-labelledby="preview-news-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-news"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-mc-home" role="tabpanel" aria-labelledby="preview-mc-home-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-mc-home"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-mc-gov" role="tabpanel" aria-labelledby="preview-mc-gov-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-mc-gov"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-about" role="tabpanel" aria-labelledby="preview-about-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-about"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-axcel" role="tabpanel" aria-labelledby="preview-axcel-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-axcel"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-ckow" role="tabpanel" aria-labelledby="preview-ckow-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-ckow"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-tree" role="tabpanel" aria-labelledby="preview-tree-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-tree"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="Components :: JS"></div>
<div th:replace="moderator/ModeratorComponents :: toast-scripts"></div>
<div th:replace="moderator/ModeratorComponents :: date-formatter"></div>
<div th:replace="moderator/ModeratorComponents :: form-data-script"></div>
<div th:replace="moderator/ModeratorComponents :: default-content"></div>

<script>
    // Elements
    const errorContainer = document.querySelector("#notifications-container");
    const overviewContainer = document.querySelector("#overview-container");
    const table = document.querySelector("#table-body");

    // Data
    let allContent;

    // Processing
    function refresh() {
        Promise.all([fetch("/api/management/content/all")])
            .then(responses => {
                const response1 = checkStatus(responses[0]);

                return Promise.all([response1]);
            })
            .then(data => {
                let content = data[0].json();

                return Promise.all([content]);
            })
            .then(data => {
                allContent = data[0];
                renderTableAndAnalytics();
            })
            .catch(error => {
                errorContainer.innerHTML = `<h3 class="text-center fw-bold">There was an error receiving data from Costi Online Services</h3><p class="text-center">${error}</p>`;
                console.error('Error retrieving data:', error);
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        errorContainer.innerHTML = `<h3 class="text-center fw-bold">${getIcon(errorData.severity)} ${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        errorContainer.innerHTML = `<h3 class="text-center fw-bold">There was an error receiving data from Costi Online Services</h3><p class="text-center">Unable to establish communications with server.</p>`;
                    });
            });
    }

    refresh();

    function newContent() {
        let toastId = createToast("Creating New Group");

        postData("/api/management/content/save", defaultContent)
                .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Content Group Created";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }
    function deleteContent(id) {
        let toastId = createToast("Deleting Content Group");
        postData(`/api/management/content/delete`, id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Content Deleted";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function enableContent(id) {
        let toastId = createToast("Enabling Content Group");
        postData(`/api/management/content/enable`, id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Content Enabled";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    // Render functions
    function renderTableAndAnalytics() {
        let numTotal = allContent.length, averageHome = 0, minecraftGovAverage = 0, averageProject = 0, averageNews = 0, averageAbout = 0, minecraftHomeAverage = 0;

        let tableContent = ``;
        for (let i = 0; i < allContent.length; i++) {
            let contentGroup = allContent[i];

            // Analytics
            averageHome += contentGroup.homeContent;
            minecraftGovAverage += contentGroup.minecraftGovernmentContent;
            averageProject += contentGroup.projectContent;
            averageNews += contentGroup.newsroomContent;
            averageAbout += contentGroup.aboutContent;
            minecraftHomeAverage += contentGroup.minecraftHomeContent;

            // Table
            tableContent += `
            <tr>
                <td>${contentGroup.id}</td>
                <td>${contentGroup.label}</td>
                <td>${reformatDate(contentGroup.lastEdited)}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" onclick="setupPreview(${i})" data-bs-toggle="modal" data-bs-target="#preview-modal">Preview</button>
                </td>
                <td>
                    ${!contentGroup.enabled ? `<button type="button" class="btn btn-sm btn-success" onclick="enableContent(${contentGroup.id})">Enable</button>` : `<button type="button" class="disabled btn btn-sm btn-success" disabled>Enabled</button>` }
                </td>
                <td>
                    <a href="/COMT/Content/${contentGroup.id}/edit"><button type="button" class="btn btn-sm btn-secondary">Edit</button></a>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" onclick="deleteContent(${contentGroup.id})">Delete</button>
                </td>
            </tr>
            `;

        }
        table.innerHTML = tableContent;

        // Analytics
        overviewContainer.innerHTML = `
            <h3 class="fw-bold mb-2">Overview</h3>
            <div id="stats-container">
            <div>
                    <p class="fs-1 fw-bold  text-center">${numTotal}</p>
                    <p class="text-center">Groups</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${Math.round(averageHome.length / numTotal)}</p>
                    <p class="text-center">μ Home</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${Math.round(averageProject.length / numTotal)}</p>
                    <p class="text-center">μ Project</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${Math.round(averageNews.length / numTotal)}</p>
                    <p class="text-center">μ News</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${Math.round(averageAbout.length / numTotal)}</p>
                    <p class="text-center">μ About</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${Math.round(minecraftHomeAverage.length / numTotal)}</p>
                    <p class="text-center">μ MC Home</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${Math.round(minecraftGovAverage.length / numTotal)}</p>
                    <p class="text-center">μ MC Gov</p>
                </div>
            </div>

        `;
    }

    function setupPreview(i){
        document.querySelector("#fullscreen-preview-home").innerHTML = allContent[i].homeContent;
        document.querySelector("#fullscreen-preview-projects").innerHTML = allContent[i].projectContent;
        document.querySelector("#fullscreen-preview-wiki").innerHTML = allContent[i].wikiContent;
        document.querySelector("#fullscreen-preview-news").innerHTML = allContent[i].newsroomContent;
        document.querySelector("#fullscreen-preview-mc-home").innerHTML = allContent[i].minecraftHomeContent;
        document.querySelector("#fullscreen-preview-mc-gov").innerHTML = allContent[i].minecraftGovernmentContent;
        document.querySelector("#fullscreen-preview-about").innerHTML = allContent[i].aboutContent;
        document.querySelector("#fullscreen-preview-axcel").innerHTML = allContent[i].axcelContent;
        document.querySelector("#fullscreen-preview-ckow").innerHTML = allContent[i].professionalContent;
        document.querySelector("#fullscreen-preview-tree").innerHTML = allContent[i].treeContent;
    }

</script>
</body>
</html>