<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Edit Post')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>

<main class="container">
    <div class="container-fluid">
        <h1 class="pb-2 border-bottom mb-4 fw-bold text-center">Edit newsroom post</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="p-4 mb-4 border-box">
                <form id="edit-news-form" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="file" class="form-label">Upload image (optional)</label>
                            <input class="form-control" type="file" id="file" name="image" accept="image/webp">
                        </div>

                        <div class="form-row row">
                            <div class="col-12 mb-3">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title"
                                       placeholder="Title here" required>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-md-8 mb-3">
                                <label for="sub">Subtitle</label>
                                <input type="text" class="form-control" id="sub"
                                       placeholder="subtitle" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="cat">Post Category</label>
                                <select id="cat"  class="form-control">
                                    <option value="" disabled="disabled">Select a category</option>
                                    <option th:each="cat : ${categories}" th:value="${cat.name}" th:text="${cat.name}">Error</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-12 mb-3">
                                <label for="body">Content Body</label>
                                <textarea type="text" rows="10" class="form-control" id="body" placeholder="body content" required></textarea>
                            </div>
                        </div>
                        <input type="hidden" th:value="${id}" id="id"/>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="saveNews()">Save</button>
                </form>
            </div>
        </div>
        <div class="d-none d-md-block col-md-6">
            <img id="image" class="newsroom-slide"/>
            <div class="m-0" id="preview-panel">

            </div>
        </div>
    </div>
</main>
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: scripts"></div>
<div th:replace="moderator/ModeratorComponents :: network-util"></div>
<script>
    let postList;

    // Elements
    const container = document.querySelector("#preview-panel");
    const image = document.querySelector("#image");
    const category = document.querySelector("#cat");
    const id = document.querySelector("#id").value;
    let title = document.querySelector("#title");
    let subtitle = document.querySelector("#sub");
    let body = document.querySelector("#body");

    // Live Preview
    body.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        const inputValue = event.target.value;
        document.querySelector("#preview-text").innerHTML = inputValue;
    });

    subtitle.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        const inputValue = event.target.value;
        document.querySelector("#preview-sub").innerHTML = inputValue;
    });

    title.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        const inputValue = event.target.value;
        document.querySelector("#preview-title").innerHTML = inputValue;
    });

    // fetch
    fetch("/api/management/newsroom/all")
        .then(checkStatus)
        .then(response => response.json())
        .then(data => {
            postList = data;
            displayPreview(id)
        })
        .catch(error => {
            // error handling
            console.error('Error retrieving data:', error);
        });

    // Render
    //FIXME: This displays incorrectly because it doesnt replace individual tags, just adds onto the ones there already
    function displayPreview(id){
        let data = postList.find(obj => obj["id"] == id);
        image.setAttribute('src', data.imagePath);
        title.value = data.title;
        subtitle.value = data.subtitle;
        body.value = data.body;
        category.value = data.category;
        container.innerHTML = `
            <h1 class="fw-bold mb-0" id="preview-title">${data.title}</h1>
            <h4 class="text-muted fw-bold" id="preview-sub">${data.subtitle}</h4>

            <div id="contentBody">
                <p class="fs-5" id="preview-text">${data.body}</p>
            </div>
            `;
    }
</script>
</body>
</html>