<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Edit Content')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>

<main class="container px-0">
    <h1 class="pb-2 border-bottom mb-4 fw-bold text-center">Edit Dynamic Content Group</h1>
    <form id="content-form" enctype="application/x-www-form-urlencoded">
        <input type="hidden" th:value="${id}" id="id"/>
        <div class="row">

            <!-- Home Content -->
            <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                <label for="home-content">Home Content</label>
                <textarea type="text" rows="10" class="form-control" id="home-content" placeholder="body content" required></textarea>
            </div>
            <div class="d-none d-md-block col-md-6 p-4">
                <div class="m-0" id="preview-panel-home"></div>
            </div>

            <!-- Project Content -->
            <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                <label for="project-content">Project Content</label>
                <textarea type="text" rows="10" class="form-control" id="project-content" placeholder="body content" required></textarea>
            </div>
            <div class="d-none d-md-block col-md-6 p-4">
                <div class="m-0" id="preview-panel-project"></div>
            </div>

            <!-- News Content -->
            <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                <label for="news-content">Newsroom Content</label>
                <textarea type="text" rows="10" class="form-control" id="news-content" placeholder="body content" required></textarea>
            </div>
            <div class="d-none d-md-block col-md-6 p-4">
                <div class="m-0" id="preview-panel-news"></div>
            </div>

            <!-- Minecraft Home Content -->
            <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                <label for="mc-home-content">Minecraft Home Content</label>
                <textarea type="text" rows="10" class="form-control" id="mc-home-content" placeholder="body content" required></textarea>
            </div>
            <div class="d-none d-md-block col-md-6 p-4">
                <div class="m-0" id="preview-panel-mc-home"></div>
            </div>

            <!-- Minecraft Gov Content -->
            <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                <label for="mc-gov-content">Minecraft Government Content</label>
                <textarea type="text" rows="10" class="form-control" id="mc-gov-content" placeholder="body content" required></textarea>
            </div>
            <div class="d-none d-md-block col-md-6 p-4">
                <div class="m-0" id="preview-panel-mc-gov"></div>
            </div>

            <!-- About Content -->
            <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                <label for="about-content">About Content</label>
                <textarea type="text" rows="10" class="form-control" id="about-content" placeholder="body content" required></textarea>
            </div>
            <div class="d-none d-md-block col-md-6 p-4">
                <div class="m-0" id="preview-panel-about"></div>
            </div>

            <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                <label for="label">Label</label>
                <input type="text" class="form-control" id="label" placeholder="Label here" required>

                <button type="button" class="btn btn-primary mt-3" onclick="saveContent()">Save</button>
            </div>
        </div>
    </form>

</main>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 99" id="toast-container">
</div>


<div th:replace="Components :: JS"></div>
<div th:replace="moderator/ModeratorComponents :: toast-scripts"></div>
<div th:replace="moderator/ModeratorComponents :: form-data-script"></div>
<script>
    let content;
    let id = document.querySelector("#id").value;

    // Form elements
    const homeInput = document.querySelector("#home-content");
    const projectInput = document.querySelector("#project-content");
    const newsInput = document.querySelector("#news-content");
    const mcHomeInput = document.querySelector("#mc-home-content");
    const mcGovInput = document.querySelector("#mc-gov-content");
    const aboutInput = document.querySelector("#about-content");

    // Live Preview
    homeInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-home").innerHTML = event.target.value;
    });

    projectInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-project").innerHTML = event.target.value;
    });

    newsInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-news").innerHTML = event.target.value;
    });

    mcHomeInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-mc-home").innerHTML = event.target.value;
    });

    mcGovInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-mc-gov").innerHTML = event.target.value;
    });

    aboutInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-about").innerHTML = event.target.value;
    });

    // fetch
    fetch("/api/management/content/" + id)
        .then(checkStatus)
        .then(response => response.json())
        .then(data => {
            content = data;
            displayPreview();
        })
        .catch(error => {
            // error handling
            console.error('Error retrieving data:', error);
        });

    // Render
    function displayPreview(){
        // previews
        document.querySelector("#preview-panel-home").innerHTML = content.homeContent;
        document.querySelector("#preview-panel-project").innerHTML = content.projectContent;
        document.querySelector("#preview-panel-news").innerHTML = content.newsroomContent;
        document.querySelector("#preview-panel-mc-home").innerHTML = content.minecraftHomeContent;
        document.querySelector("#preview-panel-mc-gov").innerHTML = content.minecraftGovernmentContent;
        document.querySelector("#preview-panel-about").innerHTML = content.aboutContent;

        homeInput.value = content.homeContent;
        projectInput.value = content.projectContent;
        newsInput.value = content.newsroomContent;
        mcHomeInput.value = content.minecraftHomeContent;
        mcGovInput.value = content.minecraftGovernmentContent;
        aboutInput.value = content.aboutContent;
        document.getElementById("label").value = content.label;
    }

    // Save
    function saveContent(){
        let toastId = createToast("Saving Content Group");

        const data = {
            id: id,
            label: document.querySelector("#label").value,
            enabled: false,
            homeContent: homeInput.value,
            aboutContent: aboutInput.value,
            projectContent: projectInput.value,
            newsroomContent: newsInput.value,
            minecraftHomeContent: mcHomeInput.value,
            minecraftGovernmentContent: mcGovInput.value,
            lastEdited: new Date()
        };

        postData("/api/management/content/save", data)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Content Group Edited";

                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch(err => {
                console.log(err);

                document.getElementById(`${toastId}-body`).innerText = "❌ Procedure unsuccessful";
                document.getElementById(`${toastId}-loading`).style.color = "red";
            })
            .finally(refresh);
    }
</script>
</body>
</html>