<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Edit Content')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>

<main class="container px-0">
    <form id="content-form" enctype="application/x-www-form-urlencoded">
        <div>
            <h1 class="my-3 border-bottom fw-bold text-center">Edit Dynamic Content Group</h1>
        </div>

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="background: none;border: none;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home Content</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-projects-tab" data-bs-toggle="pill" data-bs-target="#pills-projects" type="button" role="tab" aria-controls="pills-projects" aria-selected="false">Projects Content</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-wiki-tab" data-bs-toggle="pill" data-bs-target="#pills-wiki" type="button" role="tab" aria-controls="pills-wiki" aria-selected="false">Wiki Content</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-news-tab" data-bs-toggle="pill" data-bs-target="#pills-news" type="button" role="tab" aria-controls="pills-news" aria-selected="false">Newsroom Content</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-mc-home-tab" data-bs-toggle="pill" data-bs-target="#pills-mc-home" type="button" role="tab" aria-controls="pills-mc-home" aria-selected="false" >Minecraft Home Content</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-mc-gov-tab" data-bs-toggle="pill" data-bs-target="#pills-mc-gov" type="button" role="tab" aria-controls="pills-mc-gov" aria-selected="false" >Minecraft Gov Content</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about" aria-selected="false" >About Content</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-review-tab" data-bs-toggle="pill" data-bs-target="#pills-review" type="button" role="tab" aria-controls="pills-review" aria-selected="false" >Review</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-content">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Home Content -->
                        <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                            <label for="home-content">Home Content</label>
                            <textarea type="text" rows="10" class="form-control" id="home-content" placeholder="body content" required></textarea>
                        </div>
                        <div class="d-none d-md-block col-md-6 p-4">
                            <div class="m-0" id="preview-panel-home"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-projects" role="tabpanel" aria-labelledby="pills-projects-tab" tabindex="0">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Project Content -->
                        <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                            <label for="project-content">Project Content</label>
                            <textarea type="text" rows="10" class="form-control" id="project-content" placeholder="body content" required></textarea>
                        </div>
                        <div class="d-none d-md-block col-md-6 p-4">
                            <div class="m-0" id="preview-panel-project"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-wiki" role="tabpanel" aria-labelledby="pills-wiki-tab" tabindex="0">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Wiki Content -->
                        <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                            <label for="wiki-content">Project Content</label>
                            <textarea type="text" rows="10" class="form-control" id="wiki-content" placeholder="body content" required></textarea>
                        </div>
                        <div class="d-none d-md-block col-md-6 p-4">
                            <div class="m-0" id="preview-panel-wiki"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab" tabindex="0">
                <div class="container-fluid">
                    <div class="row">
                        <!-- News Content -->
                        <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                            <label for="news-content">Newsroom Content</label>
                            <textarea type="text" rows="10" class="form-control" id="news-content" placeholder="body content" required></textarea>
                        </div>
                        <div class="d-none d-md-block col-md-6 p-4">
                            <div class="m-0" id="preview-panel-news"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-mc-home" role="tabpanel" aria-labelledby="pills-mc-home-tab" tabindex="0">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Minecraft Home Content -->
                        <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                            <label for="mc-home-content">Minecraft Home Content</label>
                            <textarea type="text" rows="10" class="form-control" id="mc-home-content" placeholder="body content" required></textarea>
                        </div>
                        <div class="d-none d-md-block col-md-6 p-4">
                            <div class="m-0" id="preview-panel-mc-home"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-mc-gov" role="tabpanel" aria-labelledby="pills-mc-gov-tab" tabindex="0">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Minecraft Gov Content -->
                        <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                            <label for="mc-gov-content">Minecraft Government Content</label>
                            <textarea type="text" rows="10" class="form-control" id="mc-gov-content" placeholder="body content" required></textarea>
                        </div>
                        <div class="d-none d-md-block col-md-6 p-4">
                            <div class="m-0" id="preview-panel-mc-gov"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab" tabindex="0">
                <div class="container-fluid">
                    <div class="row">
                        <!-- About Content -->
                        <div class="col-xs-12 col-md-6 bg-2 mb-3 p-4">
                            <label for="about-content">About Content</label>
                            <textarea type="text" rows="10" class="form-control" id="about-content" placeholder="body content" required></textarea>
                        </div>
                        <div class="d-none d-md-block col-md-6 p-4">
                            <div class="m-0" id="preview-panel-about"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab" tabindex="0">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 bg-2 mb-3 p-4">
                            <label for="label">Label</label>
                            <input type="text" class="form-control" id="label" placeholder="Label here" required>

                            <div id="action-container" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" th:value="${id}" id="id"/>

    </form>
</main>

<div class="modal fade" id="preview-modal" tabindex="-1" aria-labelledby="preview-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content border-box">
            <div class="modal-header">
                <h3 class="modal-title fw-bold" id="preview-modal-label">Preview Content Group Edits</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="preview-tabs" role="tablist" style="background: none;border: none;">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="preview-home-tab" data-bs-toggle="pill" data-bs-target="#preview-home" type="button" role="tab" aria-controls="preview-home" aria-selected="true">Home Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-projects-tab" data-bs-toggle="pill" data-bs-target="#preview-projects" type="button" role="tab" aria-controls="preview-projects" aria-selected="false">Projects Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-wiki-tab" data-bs-toggle="pill" data-bs-target="#preview-wiki" type="button" role="tab" aria-controls="preview-wiki" aria-selected="false">Projects Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-news-tab" data-bs-toggle="pill" data-bs-target="#preview-news" type="button" role="tab" aria-controls="preview-news" aria-selected="false">Newsroom Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-mc-home-tab" data-bs-toggle="pill" data-bs-target="#preview-mc-home" type="button" role="tab" aria-controls="preview-mc-home" aria-selected="false" >Minecraft Home Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-mc-gov-tab" data-bs-toggle="pill" data-bs-target="#preview-mc-gov" type="button" role="tab" aria-controls="preview-mc-gov" aria-selected="false" >Minecraft Gov Content</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-about-tab" data-bs-toggle="pill" data-bs-target="#preview-about" type="button" role="tab" aria-controls="preview-about" aria-selected="false" >About Content</button>
                    </li>
                </ul>
                <div class="tab-content" id="preview-tabContent">
                    <div class="tab-pane fade show active" id="preview-home" role="tabpanel" aria-labelledby="preview-home-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-home"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-projects" role="tabpanel" aria-labelledby="preview-projects-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-projects"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-wiki" role="tabpanel" aria-labelledby="preview-wiki-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-wiki"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-news" role="tabpanel" aria-labelledby="preview-news-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-news"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-mc-home" role="tabpanel" aria-labelledby="preview-mc-home-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-mc-home"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-mc-gov" role="tabpanel" aria-labelledby="preview-mc-gov-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-mc-gov"></div>
                    </div>
                    <div class="tab-pane fade" id="preview-about" role="tabpanel" aria-labelledby="preview-about-tab" tabindex="0">
                        <div class="mb-4" id="fullscreen-preview-about"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveContent()" data-bs-dismiss="modal" aria-label="Close">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 99" id="toast-container">
</div>


<div th:replace="Components :: JS"></div>
<div th:replace="moderator/ModeratorComponents :: toast-scripts"></div>
<div th:replace="moderator/ModeratorComponents :: form-data-script"></div>
<script>
    let content;
    let id = document.querySelector("#id").value;

    // Form elements
    const homeInput = document.querySelector("#home-content");
    const projectInput = document.querySelector("#project-content");
    const wikiInput = document.querySelector("#wiki-content");
    const newsInput = document.querySelector("#news-content");
    const mcHomeInput = document.querySelector("#mc-home-content");
    const mcGovInput = document.querySelector("#mc-gov-content");
    const aboutInput = document.querySelector("#about-content");

    // Live Preview
    homeInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-home").innerHTML = event.target.value;
        document.querySelector("#fullscreen-preview-home").innerHTML = event.target.value;
    });

    projectInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-project").innerHTML = event.target.value;
        document.querySelector("#fullscreen-preview-project").innerHTML = event.target.value;
    });

    wikiInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-wiki").innerHTML = event.target.value;
        document.querySelector("#fullscreen-preview-wiki").innerHTML = event.target.value;
    });

    newsInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-news").innerHTML = event.target.value;
        document.querySelector("#fullscreen-preview-news").innerHTML = event.target.value;
    });

    mcHomeInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-mc-home").innerHTML = event.target.value;
        document.querySelector("#fullscreen-preview-mc-home").innerHTML = event.target.value;
    });

    mcGovInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-mc-gov").innerHTML = event.target.value;
        document.querySelector("#fullscreen-preview-mc-gov").innerHTML = event.target.value;
    });

    aboutInput.addEventListener('input', function (event) {
        // Retrieve the current value of the text field
        document.querySelector("#preview-panel-about").innerHTML = event.target.value;
        document.querySelector("#fullscreen-preview-about").innerHTML = event.target.value;
    });

    // fetch
    function refresh(){
        fetch("/api/management/content/" + id)
            .then(checkStatus)
            .then(response => response.json())
            .then(data => {
                content = data;
                displayPreview();
            })
            .catch(error => {
                // error handling
                console.error('Error retrieving data:', error);
            });
    }
    refresh();

    // Render
    function displayPreview(){
        // previews
        document.querySelector("#preview-panel-home").innerHTML = content.homeContent;
        document.querySelector("#preview-panel-project").innerHTML = content.projectContent;
        document.querySelector("#preview-panel-wiki").innerHTML = content.wikiContent;
        document.querySelector("#preview-panel-news").innerHTML = content.newsroomContent;
        document.querySelector("#preview-panel-mc-home").innerHTML = content.minecraftHomeContent;
        document.querySelector("#preview-panel-mc-gov").innerHTML = content.minecraftGovernmentContent;
        document.querySelector("#preview-panel-about").innerHTML = content.aboutContent;

        document.querySelector("#fullscreen-preview-home").innerHTML = content.homeContent;
        document.querySelector("#fullscreen-preview-projects").innerHTML = content.projectContent;
        document.querySelector("#fullscreen-preview-wiki").innerHTML = content.wikiContent;
        document.querySelector("#fullscreen-preview-news").innerHTML = content.newsroomContent;
        document.querySelector("#fullscreen-preview-mc-home").innerHTML = content.minecraftHomeContent;
        document.querySelector("#fullscreen-preview-mc-gov").innerHTML = content.minecraftGovernmentContent;
        document.querySelector("#fullscreen-preview-about").innerHTML = content.aboutContent;

        homeInput.value = content.homeContent;
        projectInput.value = content.projectContent;
        wikiInput.value = content.wikiContent;
        newsInput.value = content.newsroomContent;
        mcHomeInput.value = content.minecraftHomeContent;
        mcGovInput.value = content.minecraftGovernmentContent;
        aboutInput.value = content.aboutContent;
        document.getElementById("label").value = content.label;

        document.querySelector("#action-container").innerHTML = `${!content.enabled ? `
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#preview-modal">Preview</button>
            <button type="button" class="btn btn-primary" onclick="saveContent()">Save</button>
            <button type="button" class="btn btn-success" onclick="enableContent(${content.id})">Enable</button>
        ` : `
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#preview-modal">Preview</button>
            <button type="button" class="btn btn-primary" onclick="saveContent()">Save</button>
            <button type="button" class="disabled btn btn-success" disabled>Enabled</button>
        ` }`;
    }

    // Save
    function saveContent(){
        let toastId = createToast("Saving Content Group");

        const data = {
            id: id,
            label: document.querySelector("#label").value,
            enabled: false,
            homeContent: homeInput.value,
            wikiContent: wikiInput.value,
            aboutContent: aboutInput.value,
            projectContent: projectInput.value,
            newsroomContent: newsInput.value,
            minecraftHomeContent: mcHomeInput.value,
            minecraftGovernmentContent: mcGovInput.value,
            lastEdited: new Date()
        };

        postData("/api/management/content/save", data)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Content Group Edited";

                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch(err => {
                console.log(err);

                document.getElementById(`${toastId}-body`).innerText = "❌ Procedure unsuccessful";
                document.getElementById(`${toastId}-loading`).style.color = "red";
            })
            .finally(refresh);
    }

    function enableContent(id) {
        let toastId = createToast("Enabling Content Group");
        postData(`/api/management/content/enable`, id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Content Enabled";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }
</script>
</body>
</html>