<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Notifications')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: nav"></div>

<main class="container mt-3">
    <div class="mb-4 mt-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-2">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="/COMT/LED">LED Light Controller</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/COMT/LED">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/COMT/LED/All">All Lights</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/COMT/LED/Logs">Logs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Light Settings
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="light-list-dropdown">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row d-flex">
        <div class="col-12 col-md-7 h-100">
            <div class="container-fluid bg-2" id="overview-container">
                <h3 class="fw-bold">Overview</h3>
            </div>
        </div>
        <div class="col-12 col-md-5 h-100">
            <div class="container-fluid bg-2">
                <h3 class="fw-bold">Actions</h3>
                <div class="row">
                    <div class="col action-button" id="add-new-lights" data-bs-toggle="modal" data-bs-target="#new-light-modal">
                        <img th:src="@{/icons/Arrow.svg}" />
                        <h5 class="text-center">New</h5>
                    </div>
                    <div class="col action-button" id="">
                        <img th:src="@{/icons/Arrow.svg}" />
                        <h5 class="text-center">f</h5>
                    </div>
                    <div class="col action-button" id="">
                        <img th:src="@{/icons/Arrow.svg}" />
                        <h5 class="text-center">f</h5>
                    </div>
                    <div class="col action-button" id="">
                        <img th:src="@{/icons/Arrow.svg}" />
                        <h5 class="text-center">f</h5>
                    </div>
                    <div class="col action-button" id="">
                        <img th:src="@{/icons/Arrow.svg}" />
                        <h5 class="text-center">f</h5>
                    </div>
                    <div class="col action-button" id="">
                        <img th:src="@{/icons/Arrow.svg}" />
                        <h5 class="text-center">f</h5>
                    </div>
                    <div class="col action-button" id="">
                        <img th:src="@{/icons/Arrow.svg}" />
                        <h5 class="text-center">f</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-2 mt-4" id="light-container">
        <!-- lights here -->
        <table class="table table-sm align-middle table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Label</th>
                <th scope="col">Modified</th>
                <th scope="col">Last Connected</th>
                <th scope="col">Color</th>
                <th scope="col">Pattern</th>
                <th scope="col">Favorite</th>
                <th scope="col">Public</th>
                <th scope="col">Enabled</th>
                <th scope="col">Settings</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</main>

<div class="modal fade" id="new-light-modal" tabindex="-1" aria-labelledby="newLightModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-box">
            <div class="modal-header">
                <h5 class="modal-title" id="newLightModalLabel">Add New Light</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="new-light-form">
                    <div class="mb-3">
                        <label for="label-input" class="form-label">Label</label>
                        <input type="text" class="form-control" id="label-input">
                    </div>
                    <div class="mb-3">
                        <label for="color-input" class="form-label">Color</label>
                        <input type="text" class="form-control" id="color-input">
                    </div>
                    <div class="mb-3">
                        <label for="pattern-input" class="form-label">Pattern</label>
                        <input type="text" class="form-control" id="pattern-input">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveLight()">Save</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="Components :: JS"></div>
<div th:replace="Components :: scripts"></div>
<script>
    //data
    let responseData;

    //Main elements
    const dropdownContainer = document.querySelector("#light-list-dropdown");
    const lightContainer = document.querySelector("#light-container");
    const table = document.querySelector("#table-body");

    //Event listeners
    function saveLight() {
        // Extract input values
        let input1Value = document.getElementById('label-input').value;
        let input2Value = document.getElementById('color-input').value;
        let input3Value = document.getElementById('pattern-input').value;

        // Execute submitNew() function with extracted values
        submitNew(input1Value, input2Value, input3Value);

        // Reset the form
        document.getElementById('new-light-form').reset();

        // Close the modal
        let modal = new bootstrap.Modal(document.getElementById('new-light-modal'));
        modal.hide();
    }

    //GET functions
    function updateData(){
        fetch("/api/v1/LED/all-lights")
            .then(checkStatus)
            .then(response => response.json())
            .then(data => {
                responseData = data;
                renderAllLights();
            })
            .catch(error => {
                // error handling
                lightContainer.innerHTML = "<h3 class=\"text-center\">There was an error receiving data from Costi Online Services</h3><p class=\"text-center\">Please check the console for further information</p>";
                console.error('Error retrieving data:', error);
            })
            .finally(() => $("#loading").hide());
    }
    updateData();

    //POST functions
    function submitNew(label, color, pattern){
        let lightData = {"label": label, "color": color, "pattern": pattern};

        postData("/api/v1/LED/new", lightData)
            .then(data => console.log(data))
            .then(updateData);
    }

    //Rendering functions
    function renderAllLights(){
        let tableContent = ``, dropdownList = ``;
        for(let i = 0; i < responseData.length; i++){
            let light = responseData[i];
            tableContent += `
            <tr>
                <td>${light.id}</td>
                <td>${light.label}</td>
                <td>${light.getTimeSinceModified}</td>
                <td>${light.lastConnected}</td>
                <td>${light.color}</td>
                <td>${light.pattern}</td>
                <td>${light.isFavorite}</td>
                <td>${light.isPublic}</td>
                <td>${light.isEnabled}</td>
                <td><a href="/COMT/LED/${light.id}">View light ></a></td>
            </tr>
            `;
            dropdownList += `
                <li><a class="dropdown-item" href="/COMT/LED/${light.id}">${light.label}</a></li>
            `;
        }
        table.innerHTML = tableContent;
        dropdownContainer.innerHTML = dropdownList;
    }
</script>
</body>
</html>