<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div th:fragment="moderatorNav" class="position-sticky" style="z-index:99; width:100%;top:0;">
  <nav th:replace="Components :: topNav" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger p-0" style="opacity: 95%;">
    <div class="container-fluid">
      <a class="navbar-brand color-light" href="/COMT/Wiki">
        Moderator Tools
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/COMT/Wiki">Wiki</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/COMT/Accounts">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/COMT/Announcements">Announcements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/COMT/Notifications/Create">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/COMT/Newsroom">Newsroom</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/COMT/LED">LED Network</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div th:fragment="lightNavigation" class="mb-4 mt-2">
  <nav class="navbar navbar-expand-lg navbar-dark bg-2">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/COMT/LED">LED Light Controller</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/COMT/LED">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/COMT/LED/Logs">Logs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Detail View
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="light-list-dropdown">
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<script th:fragment="led-scripts">
  const dropdownContainer = document.querySelector("#light-list-dropdown");
  let responseData;

  // Fetch functions
  function getAllLightData(){
    fetch("/api/v1/LED/all-lights")
            .then(checkStatus)
            .then(response => response.json())
            .then(data => {
              responseData = data;
              renderDropdown();
              next();
            })
            .catch(error => {
              // error handling
              errorContainer.innerHTML = "<h3 class=\"text-center\">There was an error receiving data from Costi Online Services</h3><p class=\"text-center\">Please check the console for further information</p>";
              console.error('Error retrieving data:', error);
            })
            .finally(() => $("#loading").hide());
  }

  // Rendering functions
  function renderDropdown(){
    let dropdownList = ``;
    for(let i = 0; i < responseData.length; i++){
      let light = responseData[i];
      dropdownList += `
                <li><a class="dropdown-item" href="/COMT/LED/${light.id}">${light.label}</a></li>
      `;
    }
    dropdownContainer.innerHTML = dropdownList;
  }

  // Fetch tools
  function checkStatus(response) {
    if (response.ok) {
      // If the response status is within the 2xx range, return the response
      return response;
    } else {
      // Otherwise, throw an error with the response status and text
      throw new Error(`Request failed with status ${response.status}: ${response.statusText}`);
    }
  }

  function postData(url, data) {
    // Retrieve the CSRF token from the meta tags
    let csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    let csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    // Create the fetch request headers and include the CSRF token
    let headers = new Headers();
    headers.append('Content-Type', 'application/json');
    headers.append(csrfHeader, csrfToken);

    // Create the fetch options
    let options = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify(data)
    };

    // Perform the fetch request
    return fetch(url, options)
            .then(checkStatus)
            .catch(error => {
              // Handle any errors
              console.error(error);
            });
  }

  function getObjectById(id) {
    return responseData.find(obj => obj["id"] == id);
  }

</script>
</body>
</html>