<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Wiki')"></head>
<body class="bg-1 text-1">
<div th:replace="moderator/ModeratorComponents :: moderatorNav"></div>

<main class="container mt-3">
    <div class="row d-flex">
        <div class="col-12 col-md-7 h-100">
            <div class="container-fluid bg-2 py-3" id="overview-container">
            </div>
        </div>
        <div class="col-12 col-md-5 h-100">
            <div class="container-fluid bg-2 py-3">
                <h3 class="fw-bold mb-2">Actions</h3>
                <div class="action-button-container">
                    <a class="action-button" href="/Wiki/Create">
                        <img th:src="@{/icons/New.svg}" />
                        <p class="text-center">New</p>
                    </a>
                    <div class="action-button" onclick="refresh()">
                        <img th:src="@{/icons/Refresh.svg}" />
                        <p class="text-center">Refresh</p>
                    </div>
                    <div class="action-button" onclick="disableAll()">
                        <img th:src="@{/icons/Disable.svg}" />
                        <p class="text-center">Disable All</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="error-container">

    </div>
    <div class="container-fluid bg-2 mt-4 p-0" id="wiki-container">
        <table class="table table-sm align-middle table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Subtitle</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Last Edited</th>
                <th scope="col">Views</th>
                <th scope="col">View</th>
                <th scope="col">Enable</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</main>

<div class="modal fade" id="new-wiki-modal" tabindex="-1" aria-labelledby="newWikiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-box">
            <div class="modal-header">
                <h5 class="modal-title" id="newWikiModalLabel">Create New Wiki Page</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="new-wiki-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="file" class="form-label">Upload image (optional)</label>
                        <input class="form-control" type="file" id="file" name="image" accept="image/webp">
                    </div>

                    <div class="form-row row">
                        <div class="col-12 mb-3">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title"
                                   placeholder="Title here" required>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-8 mb-3">
                            <label for="sub">Subtitle</label>
                            <input type="text" class="form-control" id="sub"
                                   placeholder="subtitle" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cat">Post Category</label>
                            <select id="cat"  class="form-control">
                                <option value="" disabled="disabled">Select a category</option>
                                <option th:each="cat : ${categories}" th:value="${cat.name}" th:text="${cat.name}">Error</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-12 mb-3">
                            <label for="body">Content Body</label>
                            <textarea type="text" rows="10" class="form-control" id="body" placeholder="body content" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveWiki()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 99" id="toast-container"></div>

<div th:replace="Components :: footer"></div>
<div th:replace="Components :: JS"></div>
<div th:replace="moderator/ModeratorComponents :: toast-scripts"></div>
<script>
    // Data
    let wikiList;

    // Elements
    const overviewContainer = document.querySelector("#overview-container");
    const errorContainer = document.querySelector("#error-container");
    const table = document.querySelector("#table-body");

    // GET functions
    function refresh(){
        fetch("/api/management/wiki/all")
            .then(checkStatus)
            .then(response => response.json())
            .then(data => {
                wikiList = data;
                renderData();
            })
            .catch(response => {
                // error handling
                response.json()
                    .then(errorData => {
                        errorContainer.innerHTML = `<img src="/icons/Error.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        errorContainer.innerHTML = "<h3 class=\"text-center\">There was an error receiving data from Costi Online Services</h3><p class=\"text-center\">Please check the console for further information</p>";
                    });

                console.error('Error retrieving data:', response);
            });
    }
    refresh();

    // Rendering functions
    function renderData(){
        let tableContent = ``;
        let totalViews = 0, totalPages = wikiList.length, totalDisabled = 0, totalInsideJoke = 0, totalHistorical = 0, totalPeople = 0, totalProfessional = 0;
        for(let i = 0; i < wikiList.length; i++){
            let page = wikiList[i];

            // Analytics
            totalViews += page.views;
            if(page.category == "INSIDE_JOKE"){
                totalInsideJoke++;
            }else if(page.category == "HISTORICAL"){
                totalHistorical++;
            }else  if(page.category == "PEOPLE"){
                totalPeople++;
            }else if(page.category == "PROFESSIONAL"){
                totalProfessional++;
            }

            if(page.enabled == false){
                totalDisabled++;
            }

            tableContent += `
            <tr>
                <td>${page.id}</td>
                <td>${page.title}</td>
                <td>${page.subtitle}</td>
                <td>${page.authorName}</td>
                <td class="text-center">
                    <span class="badge ${page.category === 'INSIDE_JOKE' ? 'bg-primary' : page.category === 'HISTORICAL' ? 'bg-secondary' : page.category === 'PEOPLE' ? 'bg-info' : page.category === 'PROFESSIONAL' ? 'bg-danger' : 'bg-dark'}">${page.category}</span>
                </td>
                <td>${page.dateEdited}</td>
                <td><p class="text-center fw-bold">${page.views}</p></td>
                <td>
                    <a class="btn btn-sm btn-primary ${page.enabled === true ? '' : 'disabled'}" href="/Wiki/${page.id}/view" role="button">View</a>
                </td>
                <td>
                    <button class="btn btn-sm ${page.enabled === true ? 'btn-primary' : 'btn-secondary'}" onclick="toggleEnable(${page.id})">${page.enabled === true ? 'Enabled' : 'Disabled'}</button>
                </td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="/Wiki/${page.id}/edit" role="button">Edit</a>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" onclick="deletePage(${page.id})">Delete</button>
                </td>
            </tr>
            `;
        }
        overviewContainer.innerHTML = `
            <h3 class="fw-bold mb-2">Overview</h3>
            <div id="stats-container">
                <div>
                    <p class="fs-1 fw-bold  text-center">${totalViews}</p>
                    <p class="text-center">All Views</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${totalPages}</p>
                    <p class="text-center">Posts</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${totalDisabled}</p>
                    <p class="text-center">Disabled</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${totalPeople}</p>
                    <p class="text-center">People</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${totalProfessional}</p>
                    <p class="text-center">Professional</p>
                </div>
                <div class="d-none d-lg-block">
                    <p class="fs-1 fw-bold  text-center">${totalHistorical}</p>
                    <p class="text-center">Historical</p>
                </div>
                <div>
                    <p class="fs-1 fw-bold  text-center">${totalInsideJoke}</p>
                    <p class="text-center">Jokes</p>
                </div>
            </div>

        `;

        table.innerHTML = tableContent;
    }

    // POST functions
    function deletePage(id){
        let toastId = createToast("Deleting Wiki Page");
        postData("/api/management/wiki/delete", id)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Wiki page Deleted";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh);
    }

    function toggleEnable(id){
        let toastId = createToast("Switching Visibility");
        let page = wikiList.find(announcement => announcement.id === id);
        page.enabled = !page.enabled;
        postData("/api/management/wiki/save", page)
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .then(refresh)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "✅ Changes committed";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            });
    }

    function disableAll() {
        let toastId = createToast("Disabling all Wiki Pages");
        const promises = wikiList.map(page => {
            let wiki = {
                "body": page.body,
                "id": page.id,
                "title": page.title,
                "subtitle": page.subtitle,
                "category": page.category,
                "enabled": false
            };

            return postData(`/api/management/wiki/save`, wiki);
        });

        Promise.all(promises)
            .then(() => {
                document.getElementById(`${toastId}-body`).innerText = "Data submitted to Costi Online";
                document.getElementById(`${toastId}-title`).innerText = "Procedure Complete";
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Costi Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .finally(refresh);
    }
</script>
</body>
</html>