<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{Components :: head('Project Info')}"></head>
<div th:replace="~{Components :: main-navigation}"></div>

<body class="bg-1 text-1">
<input type="hidden" th:value="${name}" id="projectName"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-3 p-2">
            <div class="border-box h-lg-100 d-flex flex-column p-3">
                <a href="/Projects" class="mb-3">< Back to all projects</a>
                <div class="flex-lg-grow-1 align-items-center d-flex flex-column mt-5">
                    <img src="/icons/Logo.svg" alt="project logo" class="img-fluid" width="200" id="logo" />
                    <h1 class="text-center fw-bold mt-3" id="project-name">Project Name</h1>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-4">
                    <a type="button" class="btn btn-primary btn-lg" id="github-button">Visit GitHub</a>
                </div>
                <div class="mt-4 d-flex align-items-center justify-content-center gap-2" id="topic-container"></div>
                <div class="mt-5 d-flex flex-row align-items-center justify-content-evenly" id="time-container"></div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9 p-2">
            <div class="border-box mb-2 p-3 d-flex flex-row align-items-center justify-content-evenly" id="stats-container"></div>
            <div class="border-box mb-2 p-3">
                <h4>Screenshots</h4>
                <div class="d-flex flex-row overflow-auto mb-3" id="screenshot-container"></div>
            </div>
            <div class="border-box mb-2 p-3">
<!--                <h4>Description</h4>-->
                <div id="description-container"></div>
            </div>
<!--            <div class="border-box mb-2 p-3">-->
<!--                <h4 class="mb-3">Related Projects</h4>-->
<!--                <div class="d-flex flex-row overflow-auto mb-3" id="related-container">-->

<!--                    <a class="mx-2 mb-0 text-decoration-none" href="/interpersonal/member/view/${member.id}">-->
<!--                        <div class="d-flex justify-content-center px-3 d-flex flex-column" style="width: 7rem">-->
<!--                            <img class="square-image" alt="profile image" src="/icons/Logo.svg">-->
<!--                            <h5 class="text-center fw-bold text-nowrap text-truncate mt-1 mb-0">test</h5>-->
<!--                        </div>-->
<!--                    </a>-->

<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<div th:replace="~{Components :: footer}"></div>

<div class="modal fade" id="image-modal" tabindex="-1" aria-labelledby="viewImage" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewImage">View Image</h5>
            </div>
            <div class="modal-body" id="image-modal-body"></div>
        </div>
    </div>
</div>

<div th:replace="~{Components :: JS}"></div>
<div th:replace="~{components/Formatting :: timestamp-formatting}"></div>
<script>
    let selectedProjectName = document.querySelector("#projectName").value;
    let projectInfo;
    refresh();
    function refresh(){
        const contentFetch = fetch("/api/project/view/" + selectedProjectName);

        Promise.all([contentFetch])
            .then(responses => {
                const response1 = checkStatus(responses[0]);

                return Promise.all([response1]);
            })
            .then(data => {
                let response1 = data[0].json();

                return Promise.all([response1]);
            })
            .then(data => {
                projectInfo = data[0];
                renderBody();
            })
            .catch((response)=>{
                console.log(response);
                response.json()  // Parse the JSON error response
                    .then(errorData => {
                        console.log(errorData);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }

    function renderBody() {
        const img = document.querySelector("#logo");
        if(projectInfo.logo.length > 0){
            img.style.display = "block";
            img.src = projectInfo.logo;
        }else{
            img.style.display = "none";
        }

        document.querySelector("#project-name").textContent = projectInfo.name;

        if(projectInfo.readmeContentHTML.length > 0){
            document.querySelector("#description-container").innerHTML = projectInfo.readmeContentHTML;
        }else if(projectInfo.description.length > 0){
            document.querySelector("#description-container").innerHTML = `<h4>Description</h4><p>${projectInfo.description}</p>`;
        }else{
            document.querySelector("#description-container").innerHTML = `<p class="text-center">No Description provided.</p>`;
        }
        document.querySelector("#github-button").href  = projectInfo.url;

        let topicContent = "";
        projectInfo.topics.forEach((topic) => {
            topicContent += `<span class="badge fs-5 rounded-pill bg-info" style="display: inline-block;">${topic}</span>`;
        });
        document.querySelector("#topic-container").innerHTML = topicContent;

        let imageContent = "";
        projectInfo.imageLinks.forEach((image) => {
            imageContent += `<img src="${image}" role="button" class="mx-2 mb-2" height="300" onclick="selectImage('${image}')" data-bs-toggle="modal" data-bs-target="#image-modal" />`;
        });
        document.querySelector("#screenshot-container").innerHTML = imageContent;

        document.querySelector("#stats-container").innerHTML = `
            <div>
                <p class="text-center fs-5 fw-bold">Commits</p>
                <p class="text-center fs-3">${projectInfo.commits}</p>
            </div>
            <div>
                <p class="text-center fs-5 fw-bold">Watching</p>
                <p class="text-center fs-3">${projectInfo.watching}</p>
            </div>
            <div>
                <p class="text-center fs-5 fw-bold">Forks</p>
                <p class="text-center fs-3">${projectInfo.forks}</p>
            </div>
            <div>
                <p class="text-center fs-5 fw-bold">Issues</p>
                <p class="text-center fs-3">${projectInfo.issues}</p>
            </div>
        `;

        document.querySelector("#time-container").innerHTML = `
            <div>
                <p class="text-center fs-5 fw-bold mv-1">Created</p>
                <p class="text-center fs-4">${formatTimestamp(projectInfo.created)}</p>
            </div>
        `;
    }

    function selectImage(imageUrl) {
        document.querySelector("#image-modal-body").innerHTML = `
        <a href="${imageUrl}"><img src="${imageUrl}" alt="project screenshot" style="width:100%" /></a>`;
    }
</script>
</body>
</html>