<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Notifications')"></head>
<body class="bg-1 text-1">
<div th:replace="labs/LabComponents :: labNav"></div>

<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden bg-black" style="height:600px">
        <div class="position-absolute px-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="margin-top:200px;">
                <img th:src="@{/icons/Costi Labs.svg}" class="img-fluid mb-2 banner-logo" />
            </div>
        </div>
        <video class="banner-video" autoplay preload="true" loop="loop" muted>
            <source th:src="@{/videos/banners/Costi Online Home Banner.m4v}" type="video/mp4">
            video not supported
        </video>
    </div>
</div>
<main class="container mt-3">

</main>
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: scripts"></div>
</body>
</html>