<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{Components :: head('COMT Notifications')}"></head>
<body class="bg-1 text-1">
<div th:replace="~{labs/LabComponents :: labNav}"></div>

<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden bg-black" style="height:600px">
        <div class="position-absolute px-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="margin-top:200px;">
                <img th:src="@{/icons/Costi Labs.svg}" class="img-fluid mb-2 banner-logo" />
                <p class="text-center fs-4">Interactable projects accessible straight from Costi Online!</p>
            </div>
        </div>
        <video class="banner-video" autoplay preload="true" loop="loop" muted>
            <source th:src="@{/videos/banners/Costi Online Home Banner.m4v}" type="video/mp4">
            video not supported
        </video>
    </div>
</div>
<main class="container mt-4 mb-4">
    <div class="container-fluid">
        <h2 class="fw-bold">About Costi Labs</h2>
        <p class="fs-4">Costi Labs is a section of Costi Online that showcases projects that are intractable by visitors. Costi Labs currently has 1 experiment: Costi Online Dynamic Lighting which involves communicating to a secondary device.</p>
    </div>
    <div class="container-fluid p-0 mt-5">
        <div class="container-fluid">
            <div class="container py-4">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-xs-12 mb-4">
                        <div class="bg-2 p-4 mx-2">
                            <h3 class="fw-bold">Costi Online Checkbox Playground</h3>
                            <p class="text-secondary">Universally Controlled Checkboxes</p>
                            <p class="fs-5">This project allows you to modify a grid of checkboxes that can be edited by anybody else in the world who accesses it. Resets daily.</p>
                            <a href="/Labs/Checkboxes" class="btn btn-info mt-3" aria-current="page">See Experiment</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-xs-12">
                        <div class="bg-2 p-4 mx-2">
                            <h3 class="fw-bold">Costi Online Dynamic Lighting</h3>
                            <p class="text-secondary">An LED controller project</p>
                            <p class="fs-5">This project involves controlling LED strip lights in my house directly from Costi Online without having to be physically there. Requests are sent directly to a Raspberry Pi Pico from Costi Online Services via local network.</p>
                            <h5 class="fw-bold mb-2">Favorite Lights</h5>
                            <div class="row" id="favorite-lights">
                            </div>
                            <a href="/Labs/LED" class="btn btn-info mt-3" aria-current="page">See Experiment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{Components :: footer}"></div>
<div th:replace="~{Components :: JS}"></div>
<div th:replace="~{Components :: axcel-sprite-logic}"></div>
<script>
    let availableLights;
    getAllLights();
    function getAllLights(){
        $("#loading").show();
        fetch("/api/v1/LED/all-lights")
            .then(checkStatus)
            .then(response => response.json())
            .then(data => {
                availableLights = data;
                renderFavoriteLights();
            })
            .catch(error => {
                // error handling
                console.error('Error retrieving data:', error);
            })
            .finally(() => $("#loading").hide());
    }

    function renderFavoriteLights(){
        let favoriteLights = ``;
        for(let i = 0; i < availableLights.length; i++){
            let light = availableLights[i];
            if(light["favorite"]){
                favoriteLights += `
                <div class="col-lg-4 col-sm-6 col-xs-6" >
                    <span class="badge rounded-pill d-inline fs-6" style="background-color: ${light["color"]}">${light["label"]}</span>
                </div>
            `;
            }
        }
        if(favoriteLights.length == 0){
            favoriteLights = `
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <p>No favorite lights</p>
                </div>
            `;
        }
        document.querySelector("#favorite-lights").innerHTML = favoriteLights;
    }
</script>
</body>
</html>