<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div th:fragment="labNav" class="position-sticky" style="z-index:99; width:100%;top:0;">
  <nav th:replace="Components :: topNav" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0" style="opacity: 95%;">
    <div class="container-fluid">
      <a class="navbar-brand color-light" href="/COMT/Wiki">
        Costi Labs
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Labs">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Labs/LED">LED Controller</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<script th:fragment="led-scripts">
  // Fetch tools
  function checkStatus(response) {
    if (response.ok) {
      // If the response status is within the 2xx range, return the response
      return response;
    } else {
      // Otherwise, throw an error with the response status and text
      throw new Error(`Request failed with status ${response.status}: ${response.statusText}`);
    }
  }

  function postData(url, data) {
    // Retrieve the CSRF token from the meta tags
    let csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    let csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    // Create the fetch request headers and include the CSRF token
    let headers = new Headers();
    headers.append('Content-Type', 'application/json');
    headers.append(csrfHeader, csrfToken);

    // Create the fetch options
    let options = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify(data)
    };

    // Perform the fetch request
    return fetch(url, options)
            .then(checkStatus)
            .catch(error => {
              // Handle any errors
              console.error(error);
            });
  }

  function getObjectById(id) {
    return availableLights.find(obj => obj["id"] == id);
  }

</script>
</body>
</html>