<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('COMT Notifications')"></head>
<body class="bg-1 text-1">
<div th:replace="labs/LabComponents :: labNav"></div>

<main class="container mt-3">
    <div class="row" id="error-container">
        <div class="col col-12 col-md-6 col-lg-5">
            <p class="text-secondary fw-bold fs-4 mb-0">Introducing</p>
            <h1 class="fw-bold">Costi Online Dynamic Lighting</h1>
            <img class="newsroom-slide" src="/icons/Refresh.svg" alt="LED Strip">
            <p class="fs-4">Costi Online Dynamic Lighting is an exciting feature that allows website visitors to control the colors of an LED strip located in a room of my house. This interactive lighting experience adds a touch of creativity and fun to my home environment, while also serving as a demonstration of my coding skills.</p>
            <br />
            <p class="fs-4">Powered by a Raspberry Pi Pico microcontroller running custom MicroPython code, the LED strip is seamlessly interacts with Costi Online Services. Even users without a Costi Online account are able to modify light colors.</p>
            <br />
            <p class="fs-4">Special thanks to Cody for assisting me in the wiring/ electricity aspect of this project and Cory for helping me write some of the MicroPython code for the Raspberry Pi Pico.</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-7">
            <div th:replace="Components :: flash" class="my-2"></div>

            <div class="d-flex align-items-center">
                <p class="fs-4 mb-0">Select light:</p>
                <div class="me-2">
                    <select class="form-select" id="light-select"></select>
                </div>
                <button type="button" class="btn btn-primary" onclick="renderColors()">Select</button>
                <img src="/icons/Arrow.svg" alt="Arrow" width="20" id="sending" style="transform: rotate(180deg);">
                <img src="/icons/Refresh.svg" alt="loading" width="20" id="loading">
                <img src="/icons/Disable.svg" alt="error" width="20" id="error">
            </div>
            <p class="text-center mb-0 mt-2 fs-4" id="mode-label"></p>
            <div class="p-4 mt-4 border-box light-controller-container">
            </div>
        </div>
    </div>
</main>
<div th:replace="Components :: footer"></div>
<div th:replace="Components :: JS"></div>
<div th:replace="labs/LabComponents :: led-scripts"></div>
<script>
    const controller = document.querySelector('.light-controller-container');
    const dropDown = document.querySelector('#light-select');
    const errorContainer = document.querySelector('#error-container');
    const colors = [
        { name: 'Monday Hangout', color: 'rgb(0, 0, 0)' },
        { name: 'White', color: 'rgb(255, 255, 255)' },
        { name: '\"Smash Pink\"', color: 'rgb(255, 0, 0)' },
        { name: 'Ferb', color: 'rgb(0, 255, 0)' },
        { name: 'Pikmin Blooe', color: 'rgb(0, 0, 255)' },
        { name: 'Jerempiss', color: 'rgb(255, 255, 0)' },
        { name: 'Royal Muskan', color: 'rgb(255, 0, 255)' },
        { name: 'Rat tears', color: 'rgb(0, 255, 255)' },
        { name: 'Rosalina', color: 'rgb(100, 200, 300)' },
        { name: 'Mirage Oasis', color: 'rgb(255, 200, 100)' },
        { name: 'We watched Tangled', color: 'rgb(200, 49, 120)' },
        { name: 'Muskan\'s shoe', color: 'rgb(128, 0, 128)' },
        { name: 'Skipped Breakfast', color: 'rgb(255, 165, 0)' },
        { name: 'Gene Green', color: 'rgb(0, 255, 0)' },
        { name: 'Sunny San Diego', color: 'rgb(0, 128, 128)' },
        { name: 'Pink Sauce', color: 'rgb(255, 192, 203)' },
        { name: 'Costi\'s Birthday', color: 'rgb(0, 0, 128)' },
        { name: '"Default"', color: 'rgb(0, 255, 255)' },
        { name: 'Leprechaun', color: 'rgb(128, 128, 0)' },
        { name: 'China Ann Mcclain', color: 'rgb(128, 0, 0)' },
        { name: 'Royal Purple Muskan', color: 'rgb(75, 0, 130)' },
        { name: 'Pink sauce', color: 'rgb(255, 127, 80)' },
        { name: 'Hal', color: 'rgb(0, 100, 0)' },
        { name: 'Butterfly Clips', color: 'rgb(255, 99, 71)' },
        { name: 'Blue Raspberry', color: 'rgb(70, 130, 180)' },
        { name: 'White washed', color: 'rgb(160, 82, 45)' },
        { name: 'Fluorescent Nathan', color: 'rgb(230, 230, 250)' },
        { name: 'Perry', color: 'rgb(0, 139, 139)' }
    ];

    let availableLights;

    //Start
    getAllLights();

    // Render
    function renderColors(){
        const id = document.querySelector('#light-select').value;
        document.querySelector('#mode-label').innerHTML = `Currently Selected: ${getObjectById(id)["label"]}`;
        let buttons = ``;
        for(let i = 0; i < colors.length; i++){
            buttons += `
            <div style="background-color: ${colors[i].color}" class="text-center" onclick="submitColor('${colors[i].color}', ${id})">
                ${colors[i].name}
            </div>
        `;
        }
        controller.innerHTML = buttons;
    }
    function renderDropdown(){
        let options = ``;
        for(let i = 0; i < availableLights.length; i++){
            options += `<option value="${availableLights[i]["id"]}">${availableLights[i]["label"]}</option>`;
        }
        dropDown.innerHTML = options;
    }
    //GET
    function getAllLights(){
        $("#loading").show();
        fetch("/api/v1/LED/all-lights")
            .then(checkStatus)
            .then(response => response.json())
            .then(data => {
                availableLights = data;
                renderDropdown();
                renderColors();
            })
            .catch(error => {
                // error handling
                errorContainer.innerHTML = "<h3 class=\"text-center\">There was an error receiving data from Costi Online Services</h3><p class=\"text-center\">Or there are no lights available</p>";
                console.error('Error retrieving data:', error);
            })
            .finally(() => $("#loading").hide());
    }

    //POST
    $("#sending").hide();
    $("#error").hide();
    function submitColor(color, id){
        $("#sending").show();
        const light = getObjectById(id);
        let lightData = {"address": light["address"], "id": id, "label": light["label"], "color": color, "pattern": light["pattern"]};
        postData("/api/v1/LED/Edit", lightData)
            .then(checkStatus)
            .then(() => $("#error").hide())
            .catch(() => $("#error").show())
            .finally(() => $("#sending").hide());
    }

</script>
</body>
</html>